force-app/main/default/flows/Account_Disqualification_Post_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Route_By_Loss_Reason</name>
        <label>Route By Loss Reason</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Set_Owner_LeadGen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other (Duplicate)</defaultConnectorLabel>
        <rules>
            <name>Bankrupt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loss_Reason_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admin: Bankrupt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Bankrupt_Flag</targetReference>
            </connector>
            <label>Bankrupt</label>
        </rules>
        <rules>
            <name>Blacklist_Jobseeker_Fraud</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loss_Reason_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admin: Jobseeker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loss_Reason_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admin: Fraud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loss_Reason_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admin: Blacklist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Blacklist_Flag</targetReference>
            </connector>
            <label>Blacklist / Jobseeker / Fraud</label>
        </rules>
    </decisions>
    <description>Executes post-approval actions for Account Disqualification (Endgültiger Verlust). Sets Blacklist/Bankrupt flags, Owner to Lead Gen, and transitions Stage to Lost / RT to Discarded via GTM Motion subflow.</description>
    <environments>Default</environments>
    <interviewLabel>Account Disqualification - Post Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Disqualification - Post Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Bankrupt_Flag</name>
        <label>Set Bankrupt Flag</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Set_Owner_LeadGen</targetReference>
        </connector>
        <inputAssignments>
            <field>Bankrupt__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Blacklist_Flag</name>
        <label>Set Blacklist Flag</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Set_Owner_LeadGen</targetReference>
        </connector>
        <inputAssignments>
            <field>Blacklist__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Owner_LeadGen</name>
        <label>Set Owner to Lead Gen</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Transition_to_Lost</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.Lead_Gen_User_ID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Route_By_Loss_Reason</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Transition_to_Lost</name>
        <label>Transition to Lost (GTM Motion)</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <flowName>GTM_Motion_Enable_RT_Lifecycle_Changes</flowName>
        <inputAssignments>
            <name>varAccount</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMotionChangeReason</name>
            <value>
                <stringValue>Account Disqualification - Post Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNewLifecycleStage</name>
            <value>
                <elementReference>$Label.Account_Lifecycle_Stage_Lost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNewRecordTypeId</name>
            <value>
                <elementReference>$Label.AccountRecordTypeID_Discarded</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
