force-app/main/default/flows/Account_Before_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Update_ATS_Name_Check</name>
        <label>Update ATS Name Check</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_ATS_Name_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlTimeNow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Follow_up_Date_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Last_Account_Run_Check</name>
        <label>Update Last Account Run Check</label>
        <locationX>50</locationX>
        <locationY>2195</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Account_Run_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EW_Overwrite_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Last_Blacklist_Check</name>
        <label>Update Last Blacklist Check</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Blacklist_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlTimeNow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_HeyJobs_category_is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Last_Follow_up_Date_Check</name>
        <label>Update Last Follow-up Date Check</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Follow_up_Date_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlTimeNow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Run_Fields_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Last_Heyjobs_category_check</name>
        <label>Update Last Heyjobs category check</label>
        <locationX>50</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_HeyJobs_Category_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlTimeNow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Purchase_Decision_Behavior_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Last_Number_of_Employee_check</name>
        <label>Update Last Number of Employee check</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_No_of_Employee_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlTimeNow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Blacklisted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Last_Purchase_Decision_Behavior_Check</name>
        <label>Update Last Purchase Decision Behavior Check</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Purchase_Decision_Behavior_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ATS_Name_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_TS_EWS_Overwrite</name>
        <label>Update TS EWS Overwrite</label>
        <locationX>50</locationX>
        <locationY>2495</locationY>
        <assignmentItems>
            <assignToReference>$Record.Timestamp_EWS_Overwrite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Account_Blacklisted</name>
        <label>Account Blacklist</label>
        <locationX>182</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Check_if_HeyJobs_category_is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blacklisted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Blacklist__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Blacklist_Check</targetReference>
            </connector>
            <label>Blacklisted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Run_Fields_Changed</name>
        <label>Account Run Fields Changed?</label>
        <locationX>182</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>EW_Overwrite_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Focus_this_quarter__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estimated_Min_Booking_this_quarter__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estimated_Max_Booking_this_quarter__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estimated_Target_Booking_this_quarter__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Booking_expected_in_Quarter__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.F2F_This_Quarter__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Run_Relevant__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Account_Run_Check</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ATS_Name_Changed</name>
        <label>ATS Name Changed?</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Follow_up_Date_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.plATSName__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.plATSName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ATS_Name_Check</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>RO - 2031</description>
        <name>Check_if_HeyJobs_category_is_Changed</name>
        <label>Check if HeyJobs category is Changed</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Purchase_Decision_Behavior_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HeyJobs_Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Heyjobs_category_check</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>RO - 2031</description>
        <name>Check_if_Number_of_Employees_is_Changed</name>
        <label>Check if Number of Employees is Changed</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Account_Blacklisted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NumberOfEmployees</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Number_of_Employee_check</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>EW_Overwrite_Changed</name>
        <label>EW Overwrite Changed?</label>
        <locationX>182</locationX>
        <locationY>2387</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estimated_Wallet_Size_Overwrite__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TS_EWS_Overwrite</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Follow_up_Date_Changed</name>
        <label>Follow-up Date Changed?</label>
        <locationX>182</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Account_Run_Fields_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Follow_up_Date_Account__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Follow_up_Date_Check</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Purchase_Decision_Behavior_changed</name>
        <label>Purchase Decision Behavior changed?</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>ATS_Name_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Purchase_Decision_Behavior__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Purchase_Decision_Behavior_Check</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO - 1656 , RO - 1655, RO - 1855, RO-1981, RO - 2031, RO-2046, RO-2032,RO-2282, RO-2317, RO-2433, TS EWS Overwrite, RO - 2747 , RO - 1357 , RO - 2747</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>fmlTimeNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>fmlToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Account ( Before Update ) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account ( Before Update )</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Number_of_Employees_is_Changed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Purchase_Decision_Behavior__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NumberOfEmployees</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HeyJobs_Category__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>plATSName__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Blacklist__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Follow_up_Date_Account__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Focus_this_quarter__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Estimated_Min_Booking_this_quarter__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Estimated_Max_Booking_this_quarter__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Estimated_Target_Booking_this_quarter__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Booking_expected_in_Quarter__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>F2F_This_Quarter__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account_Run_Relevant__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Estimated_Wallet_Size_Overwrite__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
