force-app/main/default/flows/Account_Lifecycle_Stage_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Outbound_RT</name>
        <label>Assign Outbound RT</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.AccountRecordTypeID_Outbound</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_MQL_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_RT</name>
        <label>Assign Sales RT</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.AccountRecordTypeID_Sales</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_MQL_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_MQL_Type2</name>
        <label>Remove MQL Type</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>$Record.MQL_Type_Account__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_MQL_Type3</name>
        <label>Remove MQL Type</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>$Record.MQL_Type_Account__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Record_Type_Update</name>
        <label>Record Type Update?</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Remove_MQL_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Sales</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage_ACM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Lost</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage_ACM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Outbound</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AccountRecordTypeID_Discarded</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AccountRecordTypeID_Outbound</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AccountRecordTypeID_Research</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_RT</targetReference>
            </connector>
            <label>Yes (to Sales)</label>
        </rules>
        <rules>
            <name>Yes_Outbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage_ACM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Outbound</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AccountRecordTypeID_Sales</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Outbound_RT</targetReference>
            </connector>
            <label>Yes (to Outbound)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_MQL_Type</name>
        <label>Remove MQL Type?</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Customer_Lifecycle_Stage</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage_ACM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Pilot</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage_ACM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Retention</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage_ACM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Expansion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_MQL_Type3</targetReference>
            </connector>
            <label>Yes (Customer Lifecycle Stage)</label>
        </rules>
        <rules>
            <name>Yes_Outbound_Lost</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage_ACM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Outbound</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage_ACM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Lost</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_MQL_Type2</targetReference>
            </connector>
            <label>Yes (Outbound/Lost)</label>
        </rules>
    </decisions>
    <description>RO-2317, RO-2366, Save MQL Type, RO - 2747</description>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Account Lifecycle Stage Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Lifecycle Stage Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Timestamps</targetReference>
        </connector>
        <filterFormula>OR(
ISNEW(),
ISCHANGED({!$Record.Stage_ACM__c})
)</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Timestamps</name>
        <label>Update Timestamps</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Record_Type_Update</targetReference>
        </connector>
        <flowName>Account_Lifecycle_Stage_Timestamps</flowName>
        <inputAssignments>
            <name>varAccount</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNewStage</name>
            <value>
                <elementReference>$Record.Stage_ACM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOldStage</name>
            <value>
                <elementReference>$Record__Prior.Stage_ACM__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
