force-app/main/default/flows/Account_Flow_after_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <customErrors>
        <name>Error_message</name>
        <label>Error message</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Assign_ownership_to_HeySquad</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>You cannot manually shift the  account shift to Lead Gen. Please use the defined process ( ie Either the Account or Opp Loss process)</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Account_type_change_to_Inventory_Partner</name>
        <label>Account type change to Inventory Partner</label>
        <locationX>182</locationX>
        <locationY>2831</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Blacklist__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Blacklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_related_Contacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Accountisblacklisted</name>
        <label>Account is blacklisted</label>
        <locationX>182</locationX>
        <locationY>2531</locationY>
        <defaultConnector>
            <targetReference>Account_type_change_to_Inventory_Partner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Blacklist__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Blacklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_related_Contacts_6</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_ownership_to_HeySquad</name>
        <label>Assign ownership to HeySquad?</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>FollowupDateisupdated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_83</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ultimate_Account_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Id_Arbeiterwohlfahrt_Bundesverband</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ultimate_Account_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Id_Caritas</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ultimate_Account_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Id_Deutsches_Rotes_Kreuz</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ultimate_Account_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Id_Diakonie</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ultimate_Account_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Id_EDEKA_ZENTRALE_Stiftung</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.User_ID_18__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Lead_Gen_User_ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Acc_Ownership</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Inbound_Source_is_Changed</name>
        <label>Check if Inbound Source is Changed</label>
        <locationX>182</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>GTM_Motion_for_New_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Inbound_Source__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_related_Opps</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FollowupDateisupdated</name>
        <label>Follow up Date is updated</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Update_NPRT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND 2 AND 3 AND ( 4 OR 6) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Follow_up_Date_Account__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage_ACM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GTM_Motion_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.GTM_Motion_New_Business_Subscription</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Follow_up_Date_Account__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varFollowUpDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GTM_Motion_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.GTM_Motion_Inside_Sales</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>GTM_Motion_field_Update</name>
        <label>GTM Motion field Update</label>
        <locationX>182</locationX>
        <locationY>2123</locationY>
        <defaultConnector>
            <targetReference>Accountisblacklisted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GTM_Motion_Account__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GTM_Motion_on_Opp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>GTM_Motion_for_New_Accounts</name>
        <label>GTM Motion for New Accounts</label>
        <locationX>182</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>GTM_Motion_field_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fmlIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_GTM_Motion</targetReference>
            </connector>
            <label>New Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manual_account_shift_to_Lead_Gen</name>
        <label>Manual account shift to Lead Gen</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Assign_ownership_to_HeySquad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_99</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Manual_shift_to_Lead_Gen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Lead_Gen_User_ID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GTM_Motion_Alignment_Helper__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_NPRT</name>
        <label>Update NPRT</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Check_if_Inbound_Source_is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agency_Acc_RT</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency_Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency_Customer_Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fmlIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NRPT</targetReference>
            </connector>
            <label>Agency Acc RT</label>
        </rules>
    </decisions>
    <description>RO-1445, RO-1529, RO-1380,RO-1574, RO - 1650, RO - 1659, RO - 1649 ,RO - 1656, RO - 1649 ( Legacy field &quot;Potential field&quot; was removed for the Low booking coverage decision element), RO - 1659 ( Sales Trigger - Last job submitted &gt;5 months branch was removed), RO - 1855 , RO - 2012, RO - 2146 ( Update GTM Motion on Opp), RO-2179,RO-2282, RO - 2281 , RO - 2326 ( task creation removal),Blacklist contacts, RO - 2429, ALCS TS Update , RO - 2403 , RO - 1357 , RO - 2747 , RO - 2763 , RO - 2747</description>
    <environments>Default</environments>
    <formulas>
        <name>currentTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>dateToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>fmlIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>fmlSubject</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} + &quot;Didn&apos;t submit a job in 5 months - Reactivate account to avoid churn&quot;</expression>
    </formulas>
    <formulas>
        <name>formulaTaskDescription</name>
        <dataType>String</dataType>
        <expression>&quot;- Intro to contact&quot; + BR() + &quot;- Check if job has gone live / why not&quot;</expression>
    </formulas>
    <formulas>
        <description>Weekday returns 1 for Sunday</description>
        <name>formulaTaskDueDate</name>
        <dataType>Date</dataType>
        <expression>CASE(WEEKDAY(TODAY()), 
1 , TODAY() + 4,
2 , TODAY() + 4,
3 , TODAY() + 6,
4 , TODAY() + 6,
5 , TODAY() + 6,
6 , TODAY() + 4,
TODAY() + 5
)</expression>
    </formulas>
    <formulas>
        <name>varFollowUpDate</name>
        <dataType>Date</dataType>
        <expression>Today()+28</expression>
    </formulas>
    <interviewLabel>Account Flow (after update) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Flow (after update)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Acc_Ownership</name>
        <label>Update Acc Ownership</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>FollowupDateisupdated</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.User_Id_HeySquad</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Update_NPRT</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.AccountRecordTypeID_Outbound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_ACM__c</field>
            <value>
                <elementReference>$Label.Account_Lifecycle_Stage_Outbound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Acc_Lifecycle_Stage_Outbound__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GTM_Motion_on_Opp</name>
        <label>Update GTM Motion on Opp</label>
        <locationX>50</locationX>
        <locationY>2231</locationY>
        <connector>
            <targetReference>Align_Related_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Contract received</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>GTM_Motion_Opportunity__c</field>
            <value>
                <elementReference>$Record.GTM_Motion_Account__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NRPT</name>
        <label>Update NRPT</label>
        <locationX>50</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>Check_if_Inbound_Source_is_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>No_Repeat_Purchase_Typeform__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_Contacts</name>
        <label>Update related Contacts</label>
        <locationX>50</locationX>
        <locationY>2939</locationY>
        <inputAssignments>
            <field>Blacklist__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Blacklist_Check__c</field>
            <value>
                <elementReference>currentTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contacts__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_Contacts_6</name>
        <label>Update related Contacts</label>
        <locationX>50</locationX>
        <locationY>2639</locationY>
        <connector>
            <targetReference>Account_type_change_to_Inventory_Partner</targetReference>
        </connector>
        <inputAssignments>
            <field>Blacklist__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Blacklist_Check__c</field>
            <value>
                <elementReference>currentTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contacts__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_Opps</name>
        <label>Update related Opps</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>GTM_Motion_for_New_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Source_Opp__c</field>
            <value>
                <elementReference>$Record.Inbound_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunities</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Manual_account_shift_to_Lead_Gen</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Align_Related_Fields</name>
        <label>Align Related Fields</label>
        <locationX>50</locationX>
        <locationY>2339</locationY>
        <connector>
            <targetReference>Accountisblacklisted</targetReference>
        </connector>
        <flowName>GTM_Motion_Align_Related_Fields</flowName>
        <inputAssignments>
            <name>varAccount</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMotionChanged</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Set_GTM_Motion</name>
        <label>Set GTM Motion</label>
        <locationX>50</locationX>
        <locationY>1931</locationY>
        <connector>
            <targetReference>GTM_Motion_field_Update</targetReference>
        </connector>
        <flowName>GTM_Motion_Set_Motion_based_on_RT_Lifecycle_EWS</flowName>
        <inputAssignments>
            <name>varAccount</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputLifecycleStage</name>
            <value>
                <elementReference>$Record.Stage_ACM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputRecordTypeID</name>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNewAccount</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <triggerOrder>1600</triggerOrder>
    <variables>
        <name>varTaskRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
