force-app/main/default/flows/Account_Reactivation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Owned_by_Quota_bearer</name>
        <label>Owned by Quota bearer</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Update_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner_Role__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Executive Leadership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Role__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pool User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO - 2354, RO-2383</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlGTMMotionAlignmentHelperUpdate</name>
        <dataType>Boolean</dataType>
        <expression>NOT(  {!$Record.GTM_Motion_Alignment_Helper__c}  )</expression>
    </formulas>
    <interviewLabel>Account Reactivation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Reactivation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>GTM_Motion_Alignment_Helper__c</field>
            <value>
                <elementReference>fmlGTMMotionAlignmentHelperUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.AccountRecordTypeID_Sales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_ACM__c</field>
            <value>
                <elementReference>$Label.Account_Lifecycle_Stage_Prospect</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_records</name>
        <label>Update records</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>GTM_Motion_Alignment_Helper__c</field>
            <value>
                <elementReference>fmlGTMMotionAlignmentHelperUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.Pre_Sales_Admin_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.AccountRecordTypeID_Sales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_ACM__c</field>
            <value>
                <elementReference>$Label.Account_Lifecycle_Stage_Prospect</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Owned_by_Quota_bearer</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Follow_Up_date_is_reached__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage_ACM__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-02-11</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
