force-app/main/default/flows/Account_Documentation_Edit_existing_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Extract_Entry</name>
        <label>Extract Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AccountDocumentationEntryEditor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Entry_found</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fullText</name>
            <value>
                <elementReference>varOriginalAccountDocumentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>performUpdate</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timestamp</name>
            <value>
                <elementReference>varTimestamp</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountDocumentationEntryEditor</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Entry</name>
        <label>Update Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AccountDocumentationEntryEditor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Verify_Length</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fullText</name>
            <value>
                <elementReference>varOriginalAccountDocumentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newEntryContent</name>
            <value>
                <elementReference>Entry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>performUpdate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timestamp</name>
            <value>
                <elementReference>fmlFormattedTimestamp</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountDocumentationEntryEditor</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOriginalAccountDocumentation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Documentation.Content__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlFormattedTimestamp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Entry</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Entry_found</name>
        <label>Entry found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Entry_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Extract_Entry.entryFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provide_Updates_for_Entry</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Length</name>
        <label>Verify Length</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Documentation_Content</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Good</defaultConnectorLabel>
        <rules>
            <name>Extending_Limit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fmlLengthUpdatedContent</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>64000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Extending Limit</label>
        </rules>
    </decisions>
    <description>RO-2811</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlFormattedTimestamp</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!Datum})) &amp; &quot;-&quot; &amp;
LPAD(TEXT(MONTH({!Datum})), 2, &quot;0&quot;) &amp; &quot;-&quot; &amp;
LPAD(TEXT(DAY({!Datum})), 2, &quot;0&quot;) &amp; &quot; &quot; &amp;
LPAD(TEXT({!Stunde}), 2, &quot;0&quot;) &amp; &quot;:&quot; &amp;
LPAD(TEXT({!Minute}), 2, &quot;0&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlLengthUpdatedContent</name>
        <dataType>Number</dataType>
        <expression>LEN({!Update_Entry.updatedText})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Account Documentation - Edit existing Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Documentation - Edit existing Entry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Documentation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Documentation</name>
        <label>Get Account Documentation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Provide_Timestamp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Active_Account_Documentation__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer_360__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Documentation_Content</name>
        <label>Update Account Documentation Content</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Documentation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Content__c</field>
            <value>
                <elementReference>Update_Entry.updatedText</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_360__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ScreenText5</name>
            <fieldText>&lt;p&gt;Durch die Änderungen wird&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; die &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;maximal mögliche Länge der Account Dokumentation überschritten, weshalb ein neuer Account Dokumentation Record erstellt werden muss. Füge deine Änderungen deshalb als neuen Eintrag ein.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Entry_Found</name>
        <label>No Entry Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ScreenText2</name>
            <fieldText>&lt;p&gt;Es konnte kein Eintrag für diesen Zeitstempel gefunden werden.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Provide_Timestamp</name>
        <label>Provide Timestamp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Variables</targetReference>
        </connector>
        <fields>
            <name>ScreenText</name>
            <fieldText>&lt;p&gt;Gib den &lt;strong&gt;Zeitstempel &lt;/strong&gt;für den Eintrag an, den du bearbeiten möchtest.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;Die Angabe muss auf die Minute genau stimmen, sonst können wir den Eintrag nicht finden. Bei mehreren Einträgen mit demselben Zeitstempel, kann nur der erste bearbeitet werden, der weiter oben steht.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Provide_Timestamp_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Provide_Timestamp_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Datum</name>
                    <dataType>Date</dataType>
                    <fieldText>Datum</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Provide_Timestamp_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Stunde</name>
                    <dataType>Number</dataType>
                    <fieldText>Stunde</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Der Wert muss zwischen 0 und 23 liegen&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR(  {!Stunde} &gt;= 0, {!Stunde} &lt;= 23,
 {!Stunde} != FLOOR({!Stunde})
)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Provide_Timestamp_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Minute</name>
                    <dataType>Number</dataType>
                    <fieldText>Minute</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Der Wert muss zwischen 0 und 59 liegen&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR(  {!Minute} &gt;= 0, {!Minute} &lt;= 23,
 {!Minute} != FLOOR({!Minute})
)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Provide_Timestamp_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DisplayDocumentation</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Ja</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Nein</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Dokumentation einblenden</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FullDocumentation</name>
            <fieldText>&lt;p&gt;{!Get_Account_Documentation.Content__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DisplayDocumentation.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Provide_Updates_for_Entry</name>
        <label>Provide Updates for Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Entry</targetReference>
        </connector>
        <fields>
            <name>ScreenText3</name>
            <fieldText>&lt;p&gt;Du kannst den Eintrag für den Zeitstempel &lt;strong&gt;{!fmlFormattedTimestamp}&lt;/strong&gt; nun ändern.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Entry</name>
            <defaultValue>
                <stringValue>{!Extract_Entry.currentEntryContent}</stringValue>
            </defaultValue>
            <fieldText>Eintrag</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ScreenText4</name>
            <fieldText>&lt;p&gt;Der Eintrag für &lt;strong&gt;{!fmlFormattedTimestamp}&lt;/strong&gt; wurde erfolgreich geändert.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEditedEntry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOriginalAccountDocumentation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimestamp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
