force-app/main/default/flows/Account_Lifecycle_Stage_Outbound_Follow_up.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Follow_up_Date</name>
        <label>Assign Follow-up Date</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Follow_up_Date_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Follow_up_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Last_Follow_up_Date_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Follow_up_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Show_Follow_up_Date_Screen</name>
        <label>Show Follow-up Date Screen?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Display_Follow_Up_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Stage_ACM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Outbound</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Follow_up_Date_Account__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Last_Follow_up_Date_Check__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Follow_Up_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO-2317</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlDateValueFollowUpCheck</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Get_Account.Last_Follow_up_Date_Check__c})</expression>
    </formulas>
    <formulas>
        <name>fmlDateValueOutboundTimestamp</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Get_Account.Timestamp_Acc_Lifecycle_Stage_Outbound__c})</expression>
    </formulas>
    <interviewLabel>Account Lifecycle Stage Outbound - Follow-up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Lifecycle Stage Outbound - Follow-up</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_Follow_up_Date_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Follow_up_Date</name>
        <label>Update Follow-up Date</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Display_Follow_Up_Date</targetReference>
        </connector>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <screens>
        <name>Display_Follow_Up_Date</name>
        <label>Display Follow-Up Date</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Input_Follow_Up_Date</targetReference>
        </connector>
        <fields>
            <name>Display_Follow_Up_Date_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Follow_Up_Date_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_ScreenText4</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(40, 167, 69);&quot;&gt;This account will&lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(40, 167, 69);&quot;&gt; automatically move &lt;em&gt;to your Prospect Pool&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-size: 16px; color: rgb(40, 167, 69);&quot;&gt; on &lt;/em&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(40, 167, 69);&quot;&gt;&lt;em&gt;{!Get_Account.Follow_up_Date_Account__c}&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-size: 16px; color: rgb(40, 167, 69);&quot;&gt;.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Follow_Up_Date_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenText5</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(40, 167, 69);&quot;&gt;If you want to shift the account to the &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(40, 167, 69);&quot;&gt;Prospect Pool&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(40, 167, 69);&quot;&gt; immediately, &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(40, 167, 69);&quot;&gt;update Account Lifecycle Stage&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(40, 167, 69);&quot;&gt;.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(40, 167, 69);&quot;&gt;If you want to change the Follow-up Date, please click on the &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(40, 167, 69);&quot;&gt;Change Follow-up &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(40, 167, 69);&quot;&gt;button below.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Change Follow-up</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_Follow_Up_Date</name>
        <label>Input Follow-Up Date</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Follow_up_Date</targetReference>
        </connector>
        <fields>
            <name>Input_Follow_Up_Date_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Follow_Up_Date_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenText4</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(231, 22, 60);&quot;&gt;Please provide a&lt;/span&gt;&lt;em style=&quot;font-size: 16px; color: rgb(231, 22, 60);&quot;&gt; &lt;u&gt;future&lt;/u&gt; &lt;/em&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(231, 22, 60);&quot;&gt;Follow-up Date&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(231, 22, 60);&quot;&gt;. &lt;/span&gt;&lt;em style=&quot;font-size: 16px; color: rgb(231, 22, 60);&quot;&gt;The Account will automatically &lt;/em&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(231, 22, 60);&quot;&gt;&lt;em&gt;move back to your Prospect Pool&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-size: 16px; color: rgb(231, 22, 60);&quot;&gt; when the Follow-up Date is reached.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Follow_Up_Date_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Follow_up_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Account.Follow_up_Date_Account__c</elementReference>
                    </defaultValue>
                    <fieldText>Follow-up Date Account</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 22, 22);&quot;&gt;Please provide a future date.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Follow_up_Date} &gt; TODAY()</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Account.Follow_up_Details_Account__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
