force-app/main/default/flows/Assign_Contact_Roles_from_Old_to_New_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Contact_Role_to_Record_Collection</name>
        <label>Add Contact Role to Record Collection</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>NewContactRolesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewContactRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_new_Contact_Role</name>
        <label>Assign Values to new Contact Role</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>NewContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contact_Roles.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContactRole.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contact_Roles.IsPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewOppID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContactRole.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contact_Roles.Role</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_Role_to_Record_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Roles_found</name>
        <label>Contact Roles found?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Roles_of_Old_Opp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Contact_Roles</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO-1540</description>
    <environments>Default</environments>
    <interviewLabel>Assign Contact Roles from Old to New Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Contact Roles from Old to New Opp</label>
    <loops>
        <name>Loop_Contact_Roles</name>
        <label>Loop Contact Roles</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Contact_Roles_of_Old_Opp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_new_Contact_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Contact_Roles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Contact_Roles</name>
        <label>Create New Contact Roles</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputReference>NewContactRolesToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Roles_of_Old_Opp</name>
        <label>Get Contact Roles of Old Opp</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Roles_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOldOppID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Roles_of_Old_Opp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>NewContactRolesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>varNewOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOldOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
