force-app/main/default/flows/Automatic_BE_Company_User_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Error_to_Slack_2</name>
        <label>Send Error to Slack</label>
        <locationX>710</locationX>
        <locationY>650</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A028VJ1KG3G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T02516KLC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>varSlackErrorChannel_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>formulaSlackMessageBeforeCallout</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Error_to_Slack_3</name>
        <label>Send Error to Slack</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A028VJ1KG3G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T02516KLC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>varSlackErrorChannel_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>formulaSlackMessageAfterCallout</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Error_Message_Blacklisted</name>
        <label>Set Error Message Blacklisted</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage_BeforeCallout</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.BE_CREATION_ERROR_MESSAGE_Blacklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Error_to_Slack_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message_RT</name>
        <label>Set Error Message RT</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage_BeforeCallout</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.BE_CREATION_ERROR_MESSAGE_RecordType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Error_to_Slack_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_eligible</name>
        <label>Is eligible?</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Send_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Backend_Access_Eligibility.varIsEligibleForBE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calling_Backend</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Error_Message</name>
        <label>Send Error Message</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blacklisted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Backend_Access_Eligibility.varErrorType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.BE_CREATION_ERROR_Blacklist</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_Message_Blacklisted</targetReference>
            </connector>
            <label>Blacklisted</label>
        </rules>
        <rules>
            <name>Record_Type_non_eligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Backend_Access_Eligibility.varErrorType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.BE_CREATION_ERROR_RecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_Message_RT</targetReference>
            </connector>
            <label>Record Type non-eligible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Callout_Successful</name>
        <label>Was Callout Successful?</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Send_Error_to_Slack_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varException</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varResponseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>201.0</numberValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO-1444, RO-1639, RO-2107</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaAccountURL</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;&quot; &amp; &quot;https://heyjobs.lightning.force.com/&quot; + {!varAccount.Id} &amp; &quot;|&quot; &amp; {!varAccount.Name} &amp; &quot;&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>formulaContactURL</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;&quot; &amp; &quot;https://heyjobs.lightning.force.com/&quot; + {!varContact.Id} &amp; &quot;|&quot; &amp; {!varContact.FirstName} &amp; &quot; &quot; &amp; {!varContact.LastName} &amp; &quot;&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>formulaSlackMessageAfterCallout</name>
        <dataType>String</dataType>
        <expression>&quot;The automatic BE &amp; User Account creation for the account &quot; +  {!formulaAccountURL} + &quot; and contact &quot; + {!formulaContactURL} + &quot; has failed. Please check the Account and re-trigger the action manually.&quot; + BR() + BR() +
&quot;Error: &quot; + {!varException} + BR() +
&quot;Response Code: &quot; + TEXT({!varResponseCode})</expression>
    </formulas>
    <formulas>
        <name>formulaSlackMessageBeforeCallout</name>
        <dataType>String</dataType>
        <expression>&quot;The automatic BE &amp; User Account creation for the account &quot; +  {!formulaAccountURL} + &quot; and contact &quot; + {!formulaContactURL} + &quot; has failed. Please check the Account and re-trigger the action manually.&quot; + BR() + BR() +
{!varContact.Name} + BR() +
&quot;Error: &quot; + {!varErrorMessage_BeforeCallout}</expression>
    </formulas>
    <formulas>
        <name>varAccountDescription</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!varAccount.Description_c__c}, &quot;Customer signed up via SSSU form&quot;)</expression>
    </formulas>
    <interviewLabel>Automatic BE Company &amp; User Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automatic BE Company &amp; User Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Backend_Access_Eligibility</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calling_Backend</name>
        <label>Calling Backend</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Was_Callout_Successful</targetReference>
        </connector>
        <flowName>Callout_to_Backend</flowName>
        <inputAssignments>
            <name>varCompanyCountryCode</name>
            <value>
                <elementReference>varAccount.Service_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCompanyCurrencyCode</name>
            <value>
                <elementReference>varAccount.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCompanyDescription</name>
            <value>
                <elementReference>varAccountDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCompanyID</name>
            <value>
                <elementReference>varAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCompanyName</name>
            <value>
                <elementReference>varAccount.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCompanyRTName</name>
            <value>
                <elementReference>varAccount.RecordType.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecruiterEmail</name>
            <value>
                <elementReference>varContact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecruiterFirstName</name>
            <value>
                <elementReference>varContact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecruiterLastName</name>
            <value>
                <elementReference>varContact.LastName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varException</assignToReference>
            <name>varException</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varResponseCode</assignToReference>
            <name>varRespondeCode</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Check_Backend_Access_Eligibility</name>
        <label>Check Backend Access Eligibility</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Is_eligible</targetReference>
        </connector>
        <flowName>SSSU_Backend_access_eligibility_check</flowName>
        <inputAssignments>
            <name>varAccount</name>
            <value>
                <elementReference>varAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContact</name>
            <value>
                <elementReference>varContact</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varErrorMessage_BeforeCallout</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varException</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varResponseCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Message Destination ID from Slack error channel</description>
        <name>varSlackErrorChannel_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
