force-app/main/default/flows/Backend_Job_Submission_Case_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Error_Log_Entry</name>
        <label>Create Error Log Entry</label>
        <locationX>1194</locationX>
        <locationY>602</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Platform_Event_Request_Log_Entry</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Backend_Job_Submission_Case_Creation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Contact creation failed for Job Id {!$Record.Job_ID__c} (Event ReplayId = {!$Record.ReplayId})</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Error_Log_Entry2</name>
        <label>Create Error Log Entry</label>
        <locationX>314</locationX>
        <locationY>1466</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Platform_Event_Request_Log_Entry</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Backend_Job_Submission_Case_Creation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Case creation failed for SSSU Pilot Job for Job Id {!$Record.Job_ID__c} (Event ReplayId = {!$Record.ReplayId})</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Error_Log_Entry3</name>
        <label>Create Error Log Entry</label>
        <locationX>842</locationX>
        <locationY>1466</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Platform_Event_Request_Log_Entry</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Backend_Job_Submission_Case_Creation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Case creation failed for 1. Job Creation Case for Job Id {!$Record.Job_ID__c} (Event ReplayId = {!$Record.ReplayId})</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Error_Log_Entry4</name>
        <label>Create Error Log Entry</label>
        <locationX>1370</locationX>
        <locationY>1466</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Platform_Event_Request_Log_Entry</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Backend_Job_Submission_Case_Creation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Case creation failed for Job Creation Case for Job Id {!$Record.Job_ID__c} (Event ReplayId = {!$Record.ReplayId})</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Platform_Event_Request_Log_Entry</name>
        <label>Create Platform Event Request Log Entry</label>
        <locationX>1194</locationX>
        <locationY>710</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>txtPlatformEventRequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Backend_Job_Submission_Case_Creation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Platform Event Request (Event ReplayId = {!$Record.ReplayId})</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Log</name>
        <label>Save Log</label>
        <locationX>1194</locationX>
        <locationY>818</locationY>
        <actionName>Logger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Logger</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_for_1_Job_SSSU</name>
        <label>Check for 1. Job + SSSU</label>
        <locationX>842</locationX>
        <locationY>1142</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SSSU_1_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SSSU_Company_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.First_Submitted_Job__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SSSU_Pilot_Job_Case_RT_ID</targetReference>
            </connector>
            <label>SSSU + 1. Job</label>
        </rules>
        <rules>
            <name>Not_SSSU_1_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SSSU_Company_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.First_Submitted_Job__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Job_Creation_Case_RT_ID</targetReference>
            </connector>
            <label>Not SSSU + 1. Job</label>
        </rules>
        <rules>
            <name>Not_1_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_Submitted_Job__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Job_Creation_Case_RT_ID_2</targetReference>
            </connector>
            <label>Not 1. Job</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Found</name>
        <label>Contact Found?</label>
        <locationX>842</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>Create_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_1_Job_SSSU</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submitter_Email_heyjobs</name>
        <label>Submitter Email = @heyjobs</label>
        <locationX>314</locationX>
        <locationY>170</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_ID_from_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submitter_Contact_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@heyjobs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Submitter_Contact_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>team.recruiting@heyjobs.de</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO-1685, RO-1872, RO-1623</description>
    <environments>Default</environments>
    <interviewLabel>BE Job Sumbission - Case Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Backend Job Submission - Case Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_1_Job_Creation_Case</name>
        <label>Create 1. Job Creation Case</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <faultConnector>
            <targetReference>Create_Error_Log_Entry3</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Salesforce_Account_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m0Y000000ZIxEQAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Submitter_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Backend</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varJobCreationCaseRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>A new Job was just submitted by {!$Record.Company_Name_Account_Name__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1st_Job_Creation_Case__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bHasBeenPublishedBefore__c</field>
            <value>
                <elementReference>$Record.Has_been_published_before__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>txtCompanyID__c</field>
            <value>
                <elementReference>$Record.Company_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>txtJobId__c</field>
            <value>
                <elementReference>$Record.Job_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>txtJobTitle__c</field>
            <value>
                <elementReference>$Record.Job_Title__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>930</locationX>
        <locationY>494</locationY>
        <assignRecordIdToReference>varContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_for_1_Job_SSSU</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Log_Entry</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Salesforce_Account_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Submitter_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Submitter_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Job_Creation_Case</name>
        <label>Create Job Creation Case</label>
        <locationX>1106</locationX>
        <locationY>1358</locationY>
        <faultConnector>
            <targetReference>Create_Error_Log_Entry4</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Salesforce_Account_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m0Y000000ZIxEQAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Submitter_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Backend</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varJobCreationCaseRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>A new Job was just submitted by {!$Record.Company_Name_Account_Name__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1st_Job_Creation_Case__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bHasBeenPublishedBefore__c</field>
            <value>
                <elementReference>$Record.Has_been_published_before__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>txtCompanyID__c</field>
            <value>
                <elementReference>$Record.Company_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>txtJobId__c</field>
            <value>
                <elementReference>$Record.Job_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>txtJobTitle__c</field>
            <value>
                <elementReference>$Record.Job_Title__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SSSU_Pilot_Job_Creation_Case</name>
        <label>Create SSSU Pilot Job Creation Case</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <faultConnector>
            <targetReference>Create_Error_Log_Entry2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Salesforce_Account_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m0Y000000ZIxEQAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Submitter_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Backend</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varSSSUPilotJobCaseRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>A new Job was just submitted by {!$Record.Company_Name_Account_Name__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1st_Job_Creation_Case__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bHasBeenPublishedBefore__c</field>
            <value>
                <elementReference>$Record.Has_been_published_before__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>txtCompanyID__c</field>
            <value>
                <elementReference>$Record.Company_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>txtJobId__c</field>
            <value>
                <elementReference>$Record.Job_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>txtJobTitle__c</field>
            <value>
                <elementReference>$Record.Job_Title__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_ID_from_Email</name>
        <label>Get Contact ID from Email</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Submitter_Contact_Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Creation_Case_RT_ID</name>
        <label>Get Job Creation Case RT ID</label>
        <locationX>578</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_1_Job_Creation_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JobCreationCase</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varJobCreationCaseRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Creation_Case_RT_ID_2</name>
        <label>Get Job Creation Case RT ID</label>
        <locationX>1106</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Job_Creation_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JobCreationCase</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varJobCreationCaseRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_SSSU_Pilot_Job_Case_RT_ID</name>
        <label>Get SSSU Pilot Job Case RT ID</label>
        <locationX>50</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_SSSU_Pilot_Job_Creation_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SSSU_Pilot_Job_Creation</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varSSSUPilotJobCaseRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Submitter_Email_heyjobs</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Job_Submission__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txtPlatformEventRequest</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
 &quot;Company_ID__c&quot;: &quot;{!$Record.Company_ID__c}&quot;,
 &quot;Company_Name_Account_Name__c&quot;: &quot;{!$Record.Company_Name_Account_Name__c}&quot;,
 &quot;First_Submitted_Job__c&quot;: &quot;{!$Record.First_Submitted_Job__c}&quot;,
 &quot;Has_been_published_before__c&quot;: &quot;{!$Record.Has_been_published_before__c}&quot;,
 &quot;Job_ID__c&quot;: &quot;{!$Record.Job_ID__c}&quot;,
 &quot;Job_Title__c&quot;: &quot;{!$Record.Job_Title__c}&quot;,
 &quot;Salesforce_Account_ID__c&quot;: &quot;{!$Record.Salesforce_Account_ID__c}&quot;,
 &quot;SSSU_Company_Account__c&quot;: &quot;{!$Record.SSSU_Company_Account__c}&quot;,
 &quot;Submitter_Contact_Email__c&quot;: &quot;{!$Record.Submitter_Contact_Email__c}&quot;,
 &quot;Submitter_Name__c&quot;: &quot;{!$Record.Submitter_Name__c}&quot;
}</text>
    </textTemplates>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varJobCreationCaseRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSalesforceAdminId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSSSUPilotJobCaseRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
