force-app/main/default/flows/Blacklist_Contacts_from_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Contacts</name>
        <label>Add Contacts</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>ContactsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Contacts_False</name>
        <label>Add Contacts</label>
        <locationX>490</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>ContactsToUpdate02</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contacts_False</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contacts_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contacts</name>
        <label>Assign Contacts</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Loop_Contacts.Blacklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contacts_False</name>
        <label>Assign Contacts</label>
        <locationX>490</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Loop_Contacts_False.Blacklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contacts_False</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Blacklist_Value</name>
        <label>Blacklist Value</label>
        <locationX>358</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blacklist_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Blacklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Toast_Warning</targetReference>
            </connector>
            <label>Blacklist True</label>
        </rules>
        <rules>
            <name>Blacklist_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Blacklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Toast_Warning_False</targetReference>
            </connector>
            <label>Blacklist False</label>
        </rules>
    </decisions>
    <description>RO-537 . Includes decision element of  &apos;Blacklist&apos; = True And False with warning package.</description>
    <environments>Default</environments>
    <interviewLabel>Blacklist Contacts from Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Blacklist Contacts from Account</label>
    <loops>
        <name>Loop_Contacts</name>
        <label>Loop Contacts</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Related_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Contacts_False</name>
        <label>Loop Contacts</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Related_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contacts_False</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact_False</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Toast_Warning</name>
        <label>Toast Warning</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
        <inputAssignments>
            <field>Key__c</field>
            <value>
                <stringValue>AccountBlacklist</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>All related contacts will also be blacklisted.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <stringValue>Your Account Is Blacklisted</stringValue>
            </value>
        </inputAssignments>
        <object>ToastEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Toast_Warning_False</name>
        <label>Toast Warning</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Loop_Contacts_False</targetReference>
        </connector>
        <inputAssignments>
            <field>Key__c</field>
            <value>
                <stringValue>AccountBlacklist01</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>All related contacts will also be un-blacklisted.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <stringValue>Your Account Is Un-Blacklisted</stringValue>
            </value>
        </inputAssignments>
        <object>ToastEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Contacts</name>
        <label>Get Related Contacts</label>
        <locationX>358</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Blacklist_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputReference>ContactsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_False</name>
        <label>Update Contact</label>
        <locationX>402</locationX>
        <locationY>1055</locationY>
        <inputReference>ContactsToUpdate02</inputReference>
    </recordUpdates>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Blacklist__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactsToUpdate02</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
