force-app/main/default/flows/Callout_to_Backend.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Backend_call</name>
        <label>Backend call</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>backendCompanies.companyCreations</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Check_callout_status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>company[name]</name>
            <value>
                <elementReference>varCompanyName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>company[description]</name>
            <value>
                <elementReference>varCompanyDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>company[country_code]</name>
            <value>
                <elementReference>varCompanyCountryCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>company[currency_code]</name>
            <value>
                <elementReference>varCompanyCurrencyCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>company[salesforce_account_id]</name>
            <value>
                <elementReference>varCompanyID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>company[salesforce_record_type]</name>
            <value>
                <elementReference>varCompanyRTName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>company[instant_purchase_enabled]</name>
            <value>
                <elementReference>varInstantPurchase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>company[use_parent_company_budget]</name>
            <value>
                <elementReference>varParentCompanyBudget</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>company[self_service_sign_up]</name>
            <value>
                <elementReference>varSelfServiceSignUp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recruiter[first_name]</name>
            <value>
                <elementReference>varRecruiterFirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recruiter[last_name]</name>
            <value>
                <elementReference>varRecruiterLastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recruiter[email]</name>
            <value>
                <elementReference>varRecruiterEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recruiter[block_rp_access]</name>
            <value>
                <elementReference>varBlockRpAccess</elementReference>
            </value>
        </inputParameters>
        <nameSegment>backendCompanies.companyCreations</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Backend_call_2</name>
        <label>Backend call</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <actionName>backendCompanies.companyCreations</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Check_callout_status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>company[name]</name>
            <value>
                <elementReference>varCompanyName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>company[description]</name>
            <value>
                <elementReference>varCompanyDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>company[country_code]</name>
            <value>
                <elementReference>varCompanyCountryCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>company[currency_code]</name>
            <value>
                <elementReference>varCompanyCurrencyCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>company[salesforce_account_id]</name>
            <value>
                <elementReference>varCompanyID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>company[salesforce_record_type]</name>
            <value>
                <elementReference>varCompanyRTName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>company[instant_purchase_enabled]</name>
            <value>
                <elementReference>varInstantPurchase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>company[use_parent_company_budget]</name>
            <value>
                <elementReference>varParentCompanyBudget</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>company[self_service_sign_up]</name>
            <value>
                <elementReference>varSelfServiceSignUp</elementReference>
            </value>
        </inputParameters>
        <nameSegment>backendCompanies.companyCreations</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_callout_status</name>
        <label>Check callout status</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Create_logs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Success</defaultConnectorLabel>
        <rules>
            <name>Is_Error</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>varRespondeCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRespondeCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>201.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varException</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recruiter_Info_is_present</name>
        <label>Recruiter Info is present?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Backend_call_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecruiterEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Backend_call</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO - 2428</description>
    <environments>Default</environments>
    <formulas>
        <name>varRequestBody</name>
        <dataType>String</dataType>
        <expression>&quot;{&quot; +BR()+&quot;company: {&quot;+BR()+ &quot;name: &quot; +{!varCompanyName}+ &quot;,&quot; +BR()+&quot;description: &quot; +{!varCompanyDescription} +&quot;,&quot;+BR()+&quot;url: ,&quot;+BR()+ &quot;country_code: &quot;+{!varCompanyCountryCode} +&quot;,&quot;+BR()+&quot;current_code: &quot;+ {!varCompanyCurrencyCode} +&quot;,&quot;+BR()+ &quot;salesforce_account_id: &quot; +{!varCompanyID} +&quot;,&quot;+BR()+&quot;salesforce_record_type: &quot; +{!varCompanyRTName} +&quot;,&quot;+BR() +&quot;},&quot;+BR()+&quot;recruiter: { &quot;+BR()+ &quot;first_name: &quot; +{!varRecruiterFirstName} +&quot;,&quot;+BR()+ &quot;last_name: &quot; +{!varRecruiterLastName}+ &quot;,&quot;+BR()+ &quot;email: &quot; +{!varRecruiterEmail} +BR()+ &quot;}&quot;+BR()+&quot;}&quot;</expression>
    </formulas>
    <interviewLabel>Callout to Backend {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Callout to Backend</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_logs</name>
        <label>Create logs</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varCompanyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_process__c</field>
            <value>
                <stringValue>SSSU Company creation in BE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_payload__c</field>
            <value>
                <elementReference>varRequestBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Systems_involved__c</field>
            <value>
                <stringValue>Backend</stringValue>
            </value>
        </inputAssignments>
        <object>Integration_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recruiter_Info_is_present</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varBlockRpAccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varCompanyCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCompanyCurrencyCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCompanyDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCompanyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCompanyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCompanyRTName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCompanyURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varException</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInstantPurchase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varParentCompanyBudget</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>varCompanyID</elementReference>
        </value>
    </variables>
    <variables>
        <name>varParentId2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varRecruiterEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecruiterFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecruiterLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRespondeCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varSelfServiceSignUp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
