force-app/main/default/flows/Case_Flow_after_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Outbound Message: Send_Slack_Message_for_Submitted_Job</description>
        <name>Send_Outbound_Message_to_Zapier</name>
        <label>Send Outbound Message to Zapier</label>
        <locationX>1282</locationX>
        <locationY>3192</locationY>
        <actionName>Case.Send_Slack_Message_for_Submitted_Job</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>Status_value</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Case.Send_Slack_Message_for_Submitted_Job</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Case_ID</name>
        <label>Set Case ID</label>
        <locationX>1634</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>varCaseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>REACH_Campgain_end_date_is_populated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Blank_Subject_Desicion</name>
        <label>Blank Subject</label>
        <locationX>1414</locationX>
        <locationY>2592</locationY>
        <defaultConnector>
            <targetReference>New_Job_Creation_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BlankSubject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blank_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Blank_Type</name>
        <label>Blank Type</label>
        <locationX>1216</locationX>
        <locationY>2700</locationY>
        <defaultConnector>
            <targetReference>Update_Subject_with_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BlankType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Subject_No_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Case Assignment Rules cannot be enforced when cases are created via flow.</description>
        <name>Case_Assignment_Flow_Case_Creation</name>
        <label>Case Assignment Flow Case Creation</label>
        <locationX>1414</locationX>
        <locationY>2184</locationY>
        <defaultConnector>
            <targetReference>Blank_Subject_Desicion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CusOps_Case_Queue</name>
            <conditionLogic>(1 OR 2 OR 3) OR ((4 OR 5 OR 6) AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JobCreationCase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SSSU_Lead_Duplicate_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SSSU_Pilot_Job_Creation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OnboardingCase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RepeatPurchaseCase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Backend_Creation_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>REACH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CusOps_Case_Queue</targetReference>
            </connector>
            <label>CusOps Case Queue</label>
        </rules>
        <rules>
            <name>ATS_Case_Queue</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RepeatPurchaseCase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REACH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ATS_Create_a_new_Adjust_Campaign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ATS_Case_Queue</targetReference>
            </connector>
            <label>ATS Case Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_Ownership</name>
        <label>Change Ownership</label>
        <locationX>1634</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Set_Case_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Technical_Onboarding_Ready_to_start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Onboarding: Ready to start</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ownership</targetReference>
            </connector>
            <label>Technical Onboarding Ready to start</label>
        </rules>
    </decisions>
    <decisions>
        <description>RO-1238</description>
        <name>Check_Account</name>
        <label>Check Account</label>
        <locationX>3878</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Not Agency</defaultConnectorLabel>
        <rules>
            <name>Agency</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency_Customer_Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency_Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerSupport</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New_User_Creation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Backend_Creation_Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Priority_Agency</targetReference>
            </connector>
            <label>Agency</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_case_is_closed</name>
        <label>Check if case is closed</label>
        <locationX>1634</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>REACH_Campaign_end_date_populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_34</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 6 OR 7) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.CaseInitialBEsetupRT</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.CaseRepeatPurchaseCase</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REACH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.CaseNewATSOnboardingRT</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.CaseNewAdjustCampaignRT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Special_Termination_rights_is_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Long_Term_Commitment</name>
        <label>Check Long Term Commitment</label>
        <locationX>2162</locationX>
        <locationY>4008</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Interest_in_Long_term__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.GTM_Motion_Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Agency Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
        <rules>
            <name>Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.GTM_Motion_Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Agency Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_2</targetReference>
            </connector>
            <label>Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Job_Creation_Case</name>
        <label>Job Creation Case</label>
        <locationX>2558</locationX>
        <locationY>3684</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Small</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JobCreationCase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.GTM_Motion_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inside Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_SMB</targetReference>
            </connector>
            <label>Inside Sales</label>
        </rules>
        <rules>
            <name>Large</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JobCreationCase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.GTM_Motion_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription New Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.GTM_Motion_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription Retention</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_SMB_0</targetReference>
            </connector>
            <label>Subscription</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Job_Creation_Case</name>
        <label>New Job Creation Case?</label>
        <locationX>1414</locationX>
        <locationY>3084</locationY>
        <defaultConnector>
            <targetReference>Status_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SSSU_Pilot_Job_Creation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JobCreationCase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Outbound_Message_to_Zapier</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Record</name>
        <label>New Record</label>
        <locationX>1634</locationX>
        <locationY>2076</locationY>
        <defaultConnector>
            <targetReference>Status_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_NewRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Assignment_Flow_Case_Creation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>REACH_Campaign_end_date_populated</name>
        <label>REACH Campaign end date populated</label>
        <locationX>1634</locationX>
        <locationY>1584</locationY>
        <defaultConnector>
            <targetReference>New_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes11</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Actual_REACH_Campaign_start_date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.REACH_Deal_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Budget boost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Special_Termination_rights_populated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>REACH_Campgain_end_date_is_populated</name>
        <label>REACH Campgain end date is populated</label>
        <locationX>1634</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Check_if_case_is_closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Actual_REACH_Campaign_start_date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.REACH_Deal_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Budget boost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AccountId_DB</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AccountId_Deutsche_Post_AG</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AccountId_Deutsche_Post_AG_NonREACH</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AccountId_Deutsche_Post_And_DHL_REACH</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AccountId_SchenkerDeutschlandAG</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AccountId_REWE_Handel_Deutschland</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_related_cases</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Special_Termination_rights_is_0</name>
        <label>Special Termination rights is 0</label>
        <locationX>1436</locationX>
        <locationY>1200</locationY>
        <defaultConnector>
            <targetReference>Update_related_opp_23</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reach_Special_termination_right_duration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_related_opp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Special_Termination_rights_populated</name>
        <label>Special Termination rights populated</label>
        <locationX>1436</locationX>
        <locationY>1692</locationY>
        <defaultConnector>
            <targetReference>Update_REACH_campaign_end_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_87</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reach_Special_termination_right_duration__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_REACH_campaign_end_date_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_value</name>
        <label>Status value</label>
        <locationX>1634</locationX>
        <locationY>3468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>On_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_On_Hold</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>On Hold</label>
        </rules>
        <rules>
            <name>Waiting_for_budget</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for budget</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Waiting_for_Budget</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Waiting for budget</label>
        </rules>
        <rules>
            <name>Discussion_with_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discussion with Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Discussion</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Discussion with Customer</label>
        </rules>
        <rules>
            <name>Preview_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preview Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Preview_Sent</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Preview Sent</label>
        </rules>
        <rules>
            <name>Go_Live_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Go-Live Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Go_Live_Scheduled</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Go-Live Scheduled</label>
        </rules>
        <rules>
            <name>Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Lost</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Lost</label>
        </rules>
        <rules>
            <name>In_Discussion_With_ACM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Discussion With ACM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Discussion_with_ACM</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>In Discussion With ACM</label>
        </rules>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Closed</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed</label>
        </rules>
    </decisions>
    <description>RO-231, RO-377, RO-483, RO-721, RO-750, RO-1238,RO-1448, RO-1759, RO-1703, RO - 2225 , RO - 2281, Modified to exclude &quot;Budget boost&quot; reach deal type from updating REACH campaign end date, RO - 2398, RO - 2460 , RO - 2461 , RO - 2548, RO - 1357</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlCampaignEndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Actual_REACH_Campaign_start_date__c},{!$Record.Reach_Campaign_Duration_months__c})</expression>
    </formulas>
    <formulas>
        <name>fmlCampgainEndDate_2</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Actual_REACH_Campaign_start_date__c},{!$Record.Reach_Special_termination_right_duration__c})</expression>
    </formulas>
    <formulas>
        <name>fmlIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>formulaNOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>formulaTODAY14</name>
        <dataType>Date</dataType>
        <expression>TODAY()+14</expression>
    </formulas>
    <formulas>
        <name>NewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Flow (after update)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>1898</locationX>
        <locationY>4116</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>formulaTODAY14</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interest_in_Long_Term_Commitment__c</field>
            <value>
                <stringValue>2 -&gt; Undecided</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Intro + Performance Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_2</name>
        <label>Create Task</label>
        <locationX>2162</locationX>
        <locationY>4116</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>formulaTODAY14</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interest_in_Long_Term_Commitment__c</field>
            <value>
                <elementReference>$Record.Account.Interest_in_Long_term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Intro + Performance Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_ATS_Case_Queue</name>
        <label>Get ATS Case Queue</label>
        <locationX>1414</locationX>
        <locationY>2292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Update_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATS_Case_Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>varATSCaseQueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_CusOps_Case_Queue</name>
        <label>Get CusOps Case Queue</label>
        <locationX>1150</locationX>
        <locationY>2292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CusOps_Case_Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>varCusOpsCaseQueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_related_cases</name>
        <label>Get related cases</label>
        <locationX>1502</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_the_related_case_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Case</name>
        <label>Close Case</label>
        <locationX>3482</locationX>
        <locationY>276</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Go-Live Scheduled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Owner</name>
        <label>Update Owner</label>
        <locationX>1414</locationX>
        <locationY>2400</locationY>
        <connector>
            <targetReference>Blank_Subject_Desicion</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varATSCaseQueueID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>RO-1238</description>
        <name>Set_Priority_Agency</name>
        <label>Set Priority</label>
        <locationX>3746</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Agency</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_SMB</name>
        <label>Update Account</label>
        <locationX>2162</locationX>
        <locationY>3792</locationY>
        <connector>
            <targetReference>Update_Opportunity_SMB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>dateInitialGoLive__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>dateInitialGoLive__c</field>
            <value>
                <elementReference>formulaNOW</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_SMB_0</name>
        <label>Update Account</label>
        <locationX>2690</locationX>
        <locationY>3792</locationY>
        <connector>
            <targetReference>Update_Opportunity_LCS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>dateInitialGoLive__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>dateInitialGoLive__c</field>
            <value>
                <elementReference>formulaNOW</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Closed</name>
        <label>Update Case</label>
        <locationX>2558</locationX>
        <locationY>3576</locationY>
        <connector>
            <targetReference>Job_Creation_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>TimestampClosed__c</field>
            <value>
                <elementReference>formulaNOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Closed_Date__c</field>
            <value>
                <elementReference>formulaNOW</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Discussion</name>
        <label>Update Case</label>
        <locationX>578</locationX>
        <locationY>3576</locationY>
        <inputAssignments>
            <field>TimestampDiscussionwithCustomer__c</field>
            <value>
                <elementReference>formulaNOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Discussion_with_Customer_Time__c</field>
            <value>
                <elementReference>formulaNOW</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Discussion_with_ACM</name>
        <label>Update Case</label>
        <locationX>1634</locationX>
        <locationY>3576</locationY>
        <inputAssignments>
            <field>Timestamp_Discussion_with_ACM__c</field>
            <value>
                <elementReference>formulaNOW</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Go_Live_Scheduled</name>
        <label>Update Case</label>
        <locationX>1106</locationX>
        <locationY>3576</locationY>
        <inputAssignments>
            <field>TimestampGoLiveScheduled__c</field>
            <value>
                <elementReference>formulaNOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Go_Live_Scheduled_Time__c</field>
            <value>
                <elementReference>formulaNOW</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Lost</name>
        <label>Update Case</label>
        <locationX>1370</locationX>
        <locationY>3576</locationY>
        <inputAssignments>
            <field>TimestampLost__c</field>
            <value>
                <elementReference>formulaNOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Lost_Time__c</field>
            <value>
                <elementReference>formulaNOW</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_On_Hold</name>
        <label>Update Case</label>
        <locationX>50</locationX>
        <locationY>3576</locationY>
        <inputAssignments>
            <field>TimestampOnHold__c</field>
            <value>
                <elementReference>formulaNOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_On_Hold_Time__c</field>
            <value>
                <elementReference>formulaNOW</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Preview_Sent</name>
        <label>Update Case</label>
        <locationX>842</locationX>
        <locationY>3576</locationY>
        <inputAssignments>
            <field>TimestampPreviewSent__c</field>
            <value>
                <elementReference>formulaNOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Preview_Sent_Date__c</field>
            <value>
                <elementReference>formulaNOW</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Waiting_for_Budget</name>
        <label>Update Case</label>
        <locationX>314</locationX>
        <locationY>3576</locationY>
        <inputAssignments>
            <field>Timestamp_Waiting_for_Budget__c</field>
            <value>
                <elementReference>formulaNOW</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_LCS</name>
        <label>Update Opportunity</label>
        <locationX>2690</locationX>
        <locationY>3900</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>dateGoLiveDate__c</field>
            <value>
                <elementReference>formulaNOW</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_SMB</name>
        <label>Update Opportunity</label>
        <locationX>2162</locationX>
        <locationY>3900</locationY>
        <connector>
            <targetReference>Check_Long_Term_Commitment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>dateGoLiveDate__c</field>
            <value>
                <elementReference>formulaNOW</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner</name>
        <label>Update Owner</label>
        <locationX>1150</locationX>
        <locationY>2400</locationY>
        <connector>
            <targetReference>Blank_Subject_Desicion</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varCusOpsCaseQueueID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ownership</name>
        <label>Update ownership</label>
        <locationX>1502</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Set_Case_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ATSOnboardingQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_REACH_campaign_end_date</name>
        <label>Update REACH campaign end date</label>
        <locationX>1568</locationX>
        <locationY>1800</locationY>
        <connector>
            <targetReference>New_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>REACH_campaign_end_date__c</field>
            <value>
                <elementReference>fmlCampaignEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_REACH_campaign_end_date_2</name>
        <label>Update REACH campaign end date</label>
        <locationX>1304</locationX>
        <locationY>1800</locationY>
        <connector>
            <targetReference>New_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>REACH_campaign_end_date__c</field>
            <value>
                <elementReference>fmlCampgainEndDate_2</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_opp</name>
        <label>Update related opp</label>
        <locationX>1304</locationX>
        <locationY>1308</locationY>
        <connector>
            <targetReference>REACH_Campaign_end_date_populated</targetReference>
        </connector>
        <inputAssignments>
            <field>Contract_End_Date__c</field>
            <value>
                <elementReference>fmlCampaignEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>$Record.Actual_REACH_Campaign_start_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_opp_23</name>
        <label>Update related opp</label>
        <locationX>1568</locationX>
        <locationY>1308</locationY>
        <connector>
            <targetReference>REACH_Campaign_end_date_populated</targetReference>
        </connector>
        <inputAssignments>
            <field>Contract_End_Date__c</field>
            <value>
                <elementReference>fmlCampgainEndDate_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>$Record.Actual_REACH_Campaign_start_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subject_No_Type</name>
        <label>Update Subject</label>
        <locationX>1084</locationX>
        <locationY>2808</locationY>
        <connector>
            <targetReference>New_Job_Creation_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subject_with_Type</name>
        <label>Update Subject</label>
        <locationX>1348</locationX>
        <locationY>2808</locationY>
        <connector>
            <targetReference>New_Job_Creation_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_related_case_record</name>
        <label>Update the related case record</label>
        <locationX>1502</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Check_if_case_is_closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_related_cases.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Actual_REACH_Campaign_start_date__c</field>
            <value>
                <elementReference>$Record.Actual_REACH_Campaign_start_date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>2630</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Change_Ownership</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Job_Go_Live_Handler</name>
            <connector>
                <targetReference>Close_Case</targetReference>
            </connector>
            <label>Job Go-Live Handler</label>
            <maxBatchSize>10</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>dateGoLive__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Agency_Handler</name>
            <connector>
                <targetReference>Check_Account</targetReference>
            </connector>
            <label>Agency Handler</label>
            <maxBatchSize>10</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Created_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varATSCaseQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCusOpsCaseQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
