force-app/main/default/flows/Clay_Webhook_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Contact_to_Clay</name>
        <label>Send Contact to Clay</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ClayCalloutContacts.Send_Contacts_to_Clay</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Clay_Contact_Request_Body</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClayCalloutContacts.Send_Contacts_to_Clay</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Set_Clay_Contact_Request_Body</name>
        <label>Set Clay Contact Request Body</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Clay_Contact_Request_Body.accountx5fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Clay_Contact_Request_Body.billingx5fcity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Clay_Contact_Request_Body.contactx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact_ID_18_digit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Clay_Contact_Request_Body.domain</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.txtEmailDomain__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Clay_Contact_Request_Body.email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Clay_Contact_Request_Body.jobx5ftitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Title</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Contact_to_Clay</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Clay Webhook (Contact) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clay Webhook (Contact)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enrichment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enrichment Pending</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Set_Clay_Contact_Request_Body</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Clay_Contact_Request_Body</name>
        <apexClass>ExternalService__ClayCalloutContacts_Sendx5fContactsx5ftox5fClay_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Holds the Lead data (ID, Company, Domain) to be sent to the Clay enrichment webhook.</description>
        <name>Clay_Request_Body</name>
        <apexClass>ExternalService__ClayCallout_Sendx5fLeadx5ftox5fClay_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
