force-app/main/default/flows/Close_Open_Opportunity_of_Closed_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_if_Non_SSSU_Loss_reason</name>
        <label>Check if Non SSSU Loss reason</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCloseOpenOpps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Open_Opps</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_open_opps_exists</name>
        <label>Check if open opps exists</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Close_open_tasks_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccount.Open_Opportunity_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>close_open_tasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO - 1594, RO-2232, RO - 2384, RO - 2391, Blacklisting Jobseeker Accs, RO - 2403 , RO - 2650</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlAccountLostTimeStamp</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>fmlCloseOpenOppsTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + (1/24/60)</expression>
    </formulas>
    <formulas>
        <name>fmlGTMMotionHelper</name>
        <dataType>Boolean</dataType>
        <expression>NOT(  {!varAccount.GTM_Motion_Alignment_Helper__c}  )</expression>
    </formulas>
    <interviewLabel>{!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Open Opportunity of Closed Accounts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Close_Open_Opps</name>
        <label>Close Open Opps</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Check_if_open_opps_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Loss_Reason_Detail__c</field>
            <value>
                <elementReference>$Label.Loss_Reason_Details_for_Opps_being_lost_due_to_Account_Loosing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>plLossReason__c</field>
            <value>
                <stringValue>Duplicate Opportunity</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>close_open_tasks</name>
        <label>Close open tasks</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Account_Owner</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount.Account_ID_18_digit__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount.Open_Opportunity_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_open_tasks_2</name>
        <label>Close open tasks</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Account_Owner</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount.Account_ID_18_digit__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Owner</name>
        <label>Update Account Owner+TS</label>
        <locationX>380</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>Update_Acc_RT_Lifecycle_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bankrupt__c</field>
            <value>
                <elementReference>varBankrupt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Blacklist__c</field>
            <value>
                <elementReference>varBlacklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_up_Date_Account__c</field>
            <value>
                <elementReference>varAccountFollowUpDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GTM_Motion_Alignment_Helper__c</field>
            <value>
                <elementReference>fmlGTMMotionHelper</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_Opportunity_ID__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varAccountOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Last_Account_Lost__c</field>
            <value>
                <elementReference>fmlAccountLostTimeStamp</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Non_SSSU_Loss_reason</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Acc_RT_Lifecycle_Stage</name>
        <label>Update Acc RT  + Lifecycle Stage</label>
        <locationX>380</locationX>
        <locationY>842</locationY>
        <flowName>GTM_Motion_Enable_RT_Lifecycle_Changes</flowName>
        <inputAssignments>
            <name>varAccount</name>
            <value>
                <elementReference>varAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMotionChangeReason</name>
            <value>
                <elementReference>$Label.GTM_Motion_Change_Reason_Loss_Process</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNewLifecycleStage</name>
            <value>
                <elementReference>varStageACM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNewRecordTypeId</name>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAccountFollowUpDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBankrupt</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBlacklist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCloseOpenOpps</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCloseOppsTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>fmlCloseOpenOppsTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStageACM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
