force-app/main/default/flows/Contact_Role_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Existing_Values</name>
        <label>Assign Existing Values</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varExistingValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Sales_Signal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Influence</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Influence</name>
        <label>Contact Influence</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Update_Opp_Contact_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dealfront</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts.Sales_Signal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealfront</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp</targetReference>
            </connector>
            <label>Dealfront</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Agency_Acquisition_RT</name>
        <label>Sales/Agency Acquisition RT</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>All Other Recrod Types</defaultConnectorLabel>
        <rules>
            <name>Sales_Agency_Acquisition</name>
            <conditionLogic>(1 OR 2 OR 4) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency_Acquisition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.MQL_Conversion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Transactional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_MQL_Conversion</targetReference>
            </connector>
            <label>Sales/Agency Acquisition/Transactional</label>
        </rules>
    </decisions>
    <description>RO-1377 , RO - 1653, RO-1690, RO - 1737, RO-2079, RO-2089, RO-2284</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlDealfrontInfluence</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varExistingValue}),
&quot;Dealfront;&quot;,
IF(INCLUDES({!$Record.Opportunity.Sales_Signal__c}, &quot;Dealfront&quot;),{!varExistingValue},
{!varExistingValue}&amp;&quot;;&quot;&amp;&quot;Dealfront&quot; 
)
)</expression>
    </formulas>
    <formulas>
        <name>fmlMqlType</name>
        <dataType>Number</dataType>
        <expression>CASE({!$Record.Contact.MQL_Type_Contact__c}, 
&quot;Type 3&quot;, 3, 
&quot;Type 2&quot;, 2,
&quot;Type 1&quot;,1,
4)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fmltodayminus365</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 365</expression>
    </formulas>
    <interviewLabel>Contact Role Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Contact Role ( After Insert )</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Roles</name>
        <label>Get Contact Roles</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Existing_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Dealfront sales signal on opp</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Opp_Contact_Role</targetReference>
        </connector>
        <inputAssignments>
            <field>Sales_Signal__c</field>
            <value>
                <elementReference>fmlDealfrontInfluence</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Contact_Role</name>
        <label>Update Opp Contact Role</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Sales_Agency_Acquisition_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Contract received</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Engagement_Score_Contact__c</field>
            <value>
                <elementReference>$Record.Contact.Engagement_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MQL_Type__c</field>
            <value>
                <elementReference>fmlMqlType</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_MQL_Conversion</name>
        <label>Update Opp MQL Conversion</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MQL_Conversion__c</field>
            <value>
                <elementReference>$Record.Contact.MQL_Conversion_c__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varExistingValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSalesSignal</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
