force-app/main/default/flows/Contact_Management_on_Account_overflowing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Get_Contact_Id</name>
        <label>Get Contact Id</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varContactIDsFromRelationships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Relationships.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Relationships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Number_of_Related_Contacts</name>
        <label>Get Number of Related Contacts</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varNumberOfContacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Account_Contact_Relationships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Relationships_Found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Relationships_Found</name>
        <label>Relationships Found?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ContactList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Contact_Relationships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Relationships</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO-2316</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlTableHeight</name>
        <dataType>String</dataType>
        <expression>TEXT(  ({!varNumberOfContacts} * 75 ) + 100  ) &amp; &quot;px&quot;</expression>
    </formulas>
    <interviewLabel>Contact Management on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Management on Account (overflowing)</label>
    <loops>
        <name>Loop_Relationships</name>
        <label>Loop Relationships</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Account_Contact_Relationships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Contact_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contacts_from_Relationships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Contact_Relationships</name>
        <label>Get Account Contact Relationships</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Number_of_Related_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts_from_Relationships</name>
        <label>Get Contacts from Relationships</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varContactIDsFromRelationships</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ContactList</targetReference>
        </connector>
        <inputReference>Get_Contacts_from_Relationships</inputReference>
    </recordUpdates>
    <screens>
        <name>ContactList</name>
        <label>ContactList</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Contacts</targetReference>
        </connector>
        <fields>
            <name>RelatedContacts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Contacts_from_Relationships</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Related Contacts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Name_lookup:true, Title_Categories__c:true, Email:true, Phone:true, Priority_Level__c:true, Active__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Title_Categories__c,Email,Phone,Priority_Level__c,MQL_Type_Contact__c,Lifecycle_Stage_Contact__c,MQL_Conversion_c__c,Timestamp_Latest_MQL_conversion_c__c,Recent_Conversion__c,Active__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:179, Title_Categories__c:136, Email:236, Phone:132, Priority_Level__c:124, MQL_Type_Contact__c:108, Lifecycle_Stage_Contact__c:172, MQL_Conversion_c__c:134, Timestamp_Latest_MQL_conversion_c__c:152, Recent_Conversion__c:149, Active__c:80</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isShowSearchBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true, Title_Categories__c:true, Email:false, Phone:false, Priority_Level__c:true, MQL_Type_Contact__c:true, Lifecycle_Stage_Contact__c:true, MQL_Conversion_c__c:false, Timestamp_Latest_MQL_conversion_c__c:true, Recent_Conversion__c:false, Active__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowOverflow</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowOverflow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Get_Contacts_from_Relationships</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ScreenText</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;em style=&quot;color: rgb(200, 65, 130); background-color: rgb(255, 255, 255);&quot;&gt;Changes will only be saved if you confirm them by clicking on &lt;/em&gt;&lt;strong style=&quot;color: rgb(200, 65, 130); background-color: rgb(255, 255, 255);&quot;&gt;&lt;em&gt;Save Changes&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(200, 65, 130); background-color: rgb(255, 255, 255);&quot;&gt; below.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Save Changes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Contact_Relationships</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactIDsFromRelationships</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumberOfContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
