force-app/main/default/flows/Create_ACM_Task_for_Pilot_Handover.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Due_Date_for_ACM_Task</name>
        <label>Calculate Due Date for ACM Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>HandoverService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_ACM_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workingDays</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>HandoverService</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Calculate_Time_to_ACM_assignment</name>
        <label>Calculate Time to ACM assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>C360TimeToACMAssignmentAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>C360TimeToACMAssignmentAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>Assigned_To_ACM</name>
        <label>Assigned To ACM?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.UserRoleId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.UserRole.DeveloperName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Sub_Ret_IC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Due_Date_for_ACM_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create ACM Task for Pilot Handover {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create ACM Task for Pilot Handover</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ACM_Task</name>
        <label>Create ACM Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_ACM_Assignment_Timestamp</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Calculate_Due_Date_for_ACM_Task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varInfoForACM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Label.Handover_ACM_Task_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Pilot Handover ACM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_ACM_Assignment_Timestamp</name>
        <label>Update ACM Assignment Timestamp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculate_Time_to_ACM_assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>Timestamp_ACM_Assignment__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assigned_To_ACM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>varInfoForACM</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Bitte plane den internen Handover-Call mit AE (NBS) und wenn relevant dem O-Team.

Wann ist das O-Team relevant?
• bei HIRE mit ATS Integration (Setup, technische Einrichtung, QA)
• bei REACH/REACH+Hire Kombination (Kampagnen-Setup, Vorbereitung auf Kundentermine)

Wo findest du den O-Team Ansprechpartner?
• im Slack-Channel #contracts unter dem jeweiligen Vertrag
ODER
• über den Case Owner des [ATS] New Onboarding Cases in Salesforce</text>
    </textTemplates>
</Flow>
