force-app/main/default/flows/Demo_Process_for_Transactional.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Save_Prospector</name>
        <label>Save Prospector</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>txtProspector</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Demo_Hunter_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Hunter__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Demo_set_by_new__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtProspector</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <customErrors>
        <name>Error_Missing_Demo_Hunter</name>
        <label>Error - Missing Demo Hunter</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <customErrorMessages>
            <errorMessage>Please provide the Demo Hunter before moving to this Stage.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Demo_Hunter_Empty</name>
        <label>Demo Hunter Empty</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Update_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hunter__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Missing_Demo_Hunter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO-2170</description>
    <environments>Default</environments>
    <interviewLabel>Demo Process for Transactional {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo Process for Transactional</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Save_Prospector</targetReference>
        </connector>
        <filterFormula>AND(
OR( ISNEW() , ISCHANGED( {!$Record.StageName} ) ),
{!$Record.RecordType.DeveloperName} = &quot;Sales_Transactional&quot;, 
CONTAINS( TEXT({!$Record.Owner.GTM_Motion_User__c}) , &quot;Prospecting&quot;), 
NOT( ISPICKVAL(  {!$Record.StageName} , &quot;Ready for Sales&quot; ) ),
NOT( ISPICKVAL(  {!$Record.StageName} , &quot;Closed Lost&quot; ) )
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>txtProspector</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
