force-app/main/default/flows/Demo_Held_Stage_Opportunity_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_recruiter_name</name>
        <label>Get recruiter name</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>UtilityFunctions</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recruiterName</name>
            <value>
                <elementReference>$Record.Recruiter_Name__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UtilityFunctions</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>add_Contact_Id_to_Existing_Contact_Id_Set</name>
        <label>add Contact Id to Existing Contact Id Set</label>
        <locationX>1150</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>mExistOnRoleContactIdArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOverContactRoles.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mOpportunityContactRoleArrayForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOverContactRoles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverContactRoles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_Contact_Id_to_Existing_Contact_Id_Set_0</name>
        <label>add Contact Id to Existing Contact Id Set</label>
        <locationX>1062</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>mWhoIdsForInsertOppContactRole</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>mEvent.WhoId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Collected_Contact_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Temp_Variable_in_to_Insert_Array</name>
        <label>Add Temp Variable in to Insert Array</label>
        <locationX>1216</locationX>
        <locationY>2687</locationY>
        <assignmentItems>
            <assignToReference>mOpportunityContactRoleArrayForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>mContactRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Collected_Contact_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Role_for_Contact_Assigned</name>
        <label>Assign Role for Contact Assigned</label>
        <locationX>1018</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>LoopOverContactRoles.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Decision Maker</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_Contact_Id_to_Existing_Contact_Id_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContactIdInCaseOfNull</name>
        <label>AssignContactIdInCaseOfNull</label>
        <locationX>1326</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>mWhoIdsForInsertOppContactRole</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>mEvent.WhoId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Collected_Contact_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>mEventAssignment</name>
        <label>mEventAssignment</label>
        <locationX>1359</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>mEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mEvent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_for_null_event_obj</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OppConRoleCountAssignment</name>
        <label>OppConRoleCountAssignment</label>
        <locationX>1128</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>OppContactRoleNCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>mOpportunityContactRoleList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Null_Array_OppContactRole</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrimaryAvailable</name>
        <label>PrimaryAvailable</label>
        <locationX>1018</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>isPrimaryAvailable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Role_is_empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Temp_Assignment_SObject</name>
        <label>Temp Assignment SObject</label>
        <locationX>1216</locationX>
        <locationY>2579</locationY>
        <assignmentItems>
            <assignToReference>mContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Collected_Contact_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mContactRole.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsPrimaryReverse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mContactRole.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Decision Maker</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Temp_Variable_in_to_Insert_Array</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Null_Array_OppContactRole</name>
        <label>Check For Null Array OppContactRole</label>
        <locationX>1128</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>AssignContactIdInCaseOfNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NULL</defaultConnectorLabel>
        <rules>
            <name>NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppContactRoleNCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOverContactRoles</targetReference>
            </connector>
            <label>NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_null_event_obj</name>
        <label>check for null event obj</label>
        <locationX>1359</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Null Event</defaultConnectorLabel>
        <rules>
            <name>Event_Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mEvent.WhoId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>NOT_NULL</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mOpportunityContactRoleArray</targetReference>
            </connector>
            <label>Event Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Role_is_empty</name>
        <label>Check if Role is empty</label>
        <locationX>1150</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>add_Contact_Id_to_Existing_Contact_Id_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOverContactRoles.Role</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Role_for_Contact_Assigned</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Instant_and_Onlinekauf</name>
        <label>Check Instant and Onlinekauf</label>
        <locationX>770</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>GetEvent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>((1 AND 2 AND 3 AND 4) OR (7 AND 3 AND 5 AND 6))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Self_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recruiter_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Instant_Purchase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onlinekauf__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Instant_Purchase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account_Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_contact_details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Contains_Check_0</name>
        <label>Existing Contains Check</label>
        <locationX>930</locationX>
        <locationY>1979</locationY>
        <defaultConnector>
            <targetReference>add_Contact_Id_to_Existing_Contact_Id_Set_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Contains</defaultConnectorLabel>
        <rules>
            <name>Contains_Check_On_Existing_Array_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mExistOnRoleContactIdArray</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>mEvent.WhoId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRoleOnContact</targetReference>
            </connector>
            <label>Event Who Id Contains Existing Array</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_contact_present</name>
        <label>Is contact present?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_recruiter_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact_details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Role</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>PrimaryCheck</name>
        <label>PrimaryCheck</label>
        <locationX>1150</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Check_if_Role_is_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Is_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOverContactRoles.IsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrimaryAvailable</targetReference>
            </connector>
            <label>Is Primary</label>
        </rules>
    </decisions>
    <description>RO-1405,RO-1528, RO-1952</description>
    <environments>Default</environments>
    <formulas>
        <name>IsPrimaryReverse</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!isPrimaryAvailable})</expression>
    </formulas>
    <interviewLabel>Demo Held Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo Held Stage Opportunity Flow</label>
    <loops>
        <name>Loop_Over_Collected_Contact_Ids</name>
        <label>Loop Over Collected Contact Ids</label>
        <locationX>1128</locationX>
        <locationY>2471</locationY>
        <collectionReference>mWhoIdsForInsertOppContactRole</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Temp_Assignment_SObject</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Opportunity_Contact_Role</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverContactRoles</name>
        <label>LoopOverContactRoles</label>
        <locationX>930</locationX>
        <locationY>1079</locationY>
        <collectionReference>mOpportunityContactRoleList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PrimaryCheck</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Existing_Contains_Check_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_contact</name>
        <label>Create contact</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Create_Contact_Role2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Recruiter_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_recruiter_name.recruiterFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_recruiter_name.recruiterLastName</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Role</name>
        <label>Create Contact Role</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_contact_details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Decision Maker</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Role2</name>
        <label>Create Contact Role</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Create_contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Decision Maker</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_Opportunity_Contact_Role</name>
        <label>Insert Opportunity Contact Role</label>
        <locationX>1128</locationX>
        <locationY>2879</locationY>
        <inputReference>mOpportunityContactRoleArrayForUpdate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_contact_details</name>
        <label>Get contact details</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_contact_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Recruiter_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEvent</name>
        <label>GetEvent</label>
        <locationX>1359</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>mEventAssignment</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4 AND 5</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demo Video Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demo Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demo F2F</stringValue>
            </value>
        </filters>
        <filters>
            <field>EndDateTime</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputReference>mEvent</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>WhoId</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>Type</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>mOpportunityContactRoleArray</name>
        <label>mOpportunityContactRoleArray</label>
        <locationX>1128</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OppConRoleCountAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>mOpportunityContactRoleList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsPrimary</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Role</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>updateRoleOnContact</name>
        <label>updateRoleOnContact</label>
        <locationX>798</locationX>
        <locationY>2087</locationY>
        <inputReference>mOpportunityContactRoleArrayForUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>644</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Instant_and_Onlinekauf</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>OR(
       AND(
                OR(
                      {!$Record.RecordType.DeveloperName} = &quot;Sales&quot;,
                      {!$Record.RecordType.DeveloperName} = &quot;Agency_Acquisition&quot;
                    ),
                 OR(
                       ISPICKVAL({!$Record.StageName}, &quot;Demo Held&quot;),
                       ISPICKVAL({!$Record.StageName}, &quot;Offer&quot;)
                   )
             ),
AND(
         {!$Record.RecordType.DeveloperName} = &quot;Customer_Self_Service&quot;,
         ISPICKVAL({!$Record.StageName}, &quot;Closed Won&quot;),
        {!$Record.Instant_Purchase__c} = TRUE,
        NOT(ISBLANK({!$Record.Recruiter_Email__c}))
),
AND(
        {!$Record.RecordType.DeveloperName} =&quot;Account_Management&quot;,
        {!$Record.Onlinekauf__c} = TRUE,
        {!$Record.Instant_Purchase__c} = FALSE,
        NOT(ISBLANK({!$Record.Recruiter_Email__c}))
)
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>isPrimaryAvailable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>mEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>mExistOnRoleContactIdArray</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mOpportunityContactRoleArrayForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>mOpportunityContactRoleList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>mWhoIdsForInsertOppContactRole</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppContactRoleNCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
