force-app/main/default/flows/GTM_Motion_Set_Motion_based_on_RT_Lifecycle_EWS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Keep_existing_Timestamp_and_change_reasons</name>
        <label>Keep existing Timestamp and change reasons</label>
        <locationX>1172</locationX>
        <locationY>1226</locationY>
        <assignmentItems>
            <assignToReference>varLastMotionCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccount.Last_GTM_Motion_Check__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateMotionChangeReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccount.GTM_Motion_Change_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateMotionChangeReasonDetail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccount.GTM_Motion_Change_Reason_Detail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Motion_Agency_Sales</name>
        <label>New Motion Agency Sales</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>varNewMotion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.GTM_Motion_Agency_Sales</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>New_Motion_Enterprise_Expansion</name>
        <label>New Motion Enterprise Expansion</label>
        <locationX>2162</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varNewMotion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.GTM_Motion_Enterprise_Expansion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Motion_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Motion_Enterprise_Retention</name>
        <label>New Motion Enterprise Retention</label>
        <locationX>2426</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varNewMotion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.GTM_Motion_Enterprise_Retention</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Motion_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Motion_Inside_Sales</name>
        <label>New Motion Inside Sales</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>varNewMotion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.GTM_Motion_Inside_Sales</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Motion_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Motion_Inventory_Partner</name>
        <label>New Motion Inventory Partner</label>
        <locationX>50</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>varNewMotion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.GTM_Motion_Inventory_Partner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Motion_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Motion_New_Business_Enterprise</name>
        <label>New Motion New Business Enterprise</label>
        <locationX>1898</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varNewMotion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.GTM_Motion_New_Business_Enterprise</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Motion_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Motion_New_Business_Subscription</name>
        <label>New Motion New Business Subscription</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varNewMotion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.GTM_Motion_New_Business_Subscription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Motion_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Motion_Subscription_Expansion</name>
        <label>New Motion Subscription Expansion</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varNewMotion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.GTM_Motion_Subscription_Expansion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Motion_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Motion_Subscription_Retention</name>
        <label>New Motion Subscription Retention</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varNewMotion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.GTM_Motion_Subscription_Retention</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Motion_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Area2</name>
        <label>Set Area</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varNewArea</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlAreaFromMotion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Area_based_on_EWS2</name>
        <label>Set Area based on EWS</label>
        <locationX>908</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varNewArea</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlAreaByEWS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Timestamp_and_Change_Reasons</name>
        <label>Set Timestamp and Change Reasons</label>
        <locationX>644</locationX>
        <locationY>1226</locationY>
        <assignmentItems>
            <assignToReference>varLastMotionCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateMotionChangeReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputMotionChangeReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateMotionChangeReasonDetail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlMotionChangeReasonDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Timestamp_and_empty_Change_Reasons</name>
        <label>Set Timestamp and empty Change Reasons</label>
        <locationX>908</locationX>
        <locationY>1226</locationY>
        <assignmentItems>
            <assignToReference>varLastMotionCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateMotionChangeReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateMotionChangeReasonDetail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Lifecycle_Stage_Enterprise</name>
        <label>Account Lifecycle Stage</label>
        <locationX>2294</locationX>
        <locationY>650</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lost_Prospect_Acquisition_Pilot2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varInputLifecycleStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Lost</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputLifecycleStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Prospect</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputLifecycleStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Acquisition</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputLifecycleStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Pilot</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Motion_New_Business_Enterprise</targetReference>
            </connector>
            <label>Lost/Prospect/Acquisition/Pilot</label>
        </rules>
        <rules>
            <name>Enterprise_Expansion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputLifecycleStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Expansion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Motion_Enterprise_Expansion</targetReference>
            </connector>
            <label>Expansion</label>
        </rules>
        <rules>
            <name>Enterprise_Retention</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputLifecycleStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Retention</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Motion_Enterprise_Retention</targetReference>
            </connector>
            <label>Retention</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Lifecycle_Stage_Subscritption</name>
        <label>Account Lifecycle Stage</label>
        <locationX>1238</locationX>
        <locationY>650</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lost_Prospect_Acquisition_Pilot</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varInputLifecycleStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Lost</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputLifecycleStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Prospect</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputLifecycleStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Acquisition</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputLifecycleStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Pilot</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Motion_New_Business_Subscription</targetReference>
            </connector>
            <label>Lost/Prospect/Acquisition/Pilot</label>
        </rules>
        <rules>
            <name>Subscription_Expansion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputLifecycleStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Expansion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Motion_Subscription_Expansion</targetReference>
            </connector>
            <label>Expansion</label>
        </rules>
        <rules>
            <name>Subscription_Retention</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputLifecycleStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Retention</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Motion_Subscription_Retention</targetReference>
            </connector>
            <label>Retention</label>
        </rules>
    </decisions>
    <decisions>
        <name>Area2</name>
        <label>Area</label>
        <locationX>1766</locationX>
        <locationY>542</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inside_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewArea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inside Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Motion_Inside_Sales</targetReference>
            </connector>
            <label>Inside Sales</label>
        </rules>
        <rules>
            <name>Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewArea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Lifecycle_Stage_Subscritption</targetReference>
            </connector>
            <label>Subscription</label>
        </rules>
        <rules>
            <name>Enterprise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewArea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Lifecycle_Stage_Enterprise</targetReference>
            </connector>
            <label>Enterprise</label>
        </rules>
    </decisions>
    <decisions>
        <name>Motion_Changed</name>
        <label>Motion Changed?</label>
        <locationX>908</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Keep_existing_Timestamp_and_change_reasons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Updated</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varAccount.GTM_Motion_Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varNewMotion</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNewAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNewAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Timestamp_and_Change_Reasons</targetReference>
            </connector>
            <label>Yes (Updated)</label>
        </rules>
        <rules>
            <name>Yes_New_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccount.GTM_Motion_Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varNewMotion</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNewAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Timestamp_and_empty_Change_Reasons</targetReference>
            </connector>
            <label>Yes (New Account)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>908</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Area2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inventory_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputRecordTypeID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AccountRecordTypeID_Inventory</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Motion_Inventory_Partner</targetReference>
            </connector>
            <label>Inventory Partner</label>
        </rules>
        <rules>
            <name>Agency</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varInputRecordTypeID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AccountRecordTypeID_AgencySales</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputRecordTypeID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AccountRecordTypeID_AgencyCustomerSales</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Motion_Agency_Sales</targetReference>
            </connector>
            <label>Agency</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_New_Area</name>
        <label>Set New Area</label>
        <locationX>908</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Keep_Area</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputKeepArea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Area2</targetReference>
            </connector>
            <label>Keep Area</label>
        </rules>
        <rules>
            <name>Inside_Sales_based_on_EWS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputKeepArea</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Area_based_on_EWS2</targetReference>
            </connector>
            <label>Set Area based on EWS</label>
        </rules>
    </decisions>
    <description>RO-2179, RO-2232, RO - 2747, RO - 1357, RO-2713</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlAreaByEWS</name>
        <dataType>String</dataType>
        <expression>IF(
{!varAccount.Estimated_Wallet_Size__c} &lt; 75000, &quot;Inside Sales&quot;,
IF(
AND(  {!varAccount.Estimated_Wallet_Size__c} &gt;= 75000 , {!varAccount.Estimated_Wallet_Size__c}  &lt; 1000000  ) , &quot;Subscription&quot; ,
IF(
{!varAccount.Estimated_Wallet_Size__c}  &gt;= 1000000 , &quot;Enterprise&quot; , &quot;&quot;
)))</expression>
    </formulas>
    <formulas>
        <name>fmlAreaFromMotion</name>
        <dataType>String</dataType>
        <expression>IF(
CONTAINS( TEXT( {!varAccount.GTM_Motion_Account__c} ), &quot;Inside&quot;) , &quot;Inside Sales&quot;,
IF(
CONTAINS( TEXT( {!varAccount.GTM_Motion_Account__c} ), &quot;Subscription&quot;) , &quot;Subscription&quot;,
IF(
CONTAINS( TEXT( {!varAccount.GTM_Motion_Account__c} ), &quot;Enterprise&quot;) , &quot;Enterprise&quot;, &quot;&quot;
)))</expression>
    </formulas>
    <formulas>
        <name>fmlMotionChangeReasonDetail</name>
        <dataType>String</dataType>
        <expression>IF(
{!varInputMotionChangeReasonDetail} =&quot;&quot;  , &quot;Updated via automation on &quot; +   LEFT(TEXT({!$Flow.CurrentDateTime}), 19) &amp; &quot; (UTC)&quot; , 
{!varInputMotionChangeReasonDetail}
)</expression>
    </formulas>
    <interviewLabel>GTM Motion - Set Motion based on RT, Lifecycle, EWS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GTM Motion - Set Motion based on RT, Lifecycle, EWS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account2</name>
        <label>Update Account</label>
        <locationX>908</locationX>
        <locationY>1418</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GTM_Motion_Account__c</field>
            <value>
                <elementReference>varNewMotion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GTM_Motion_Change_Reason_Detail__c</field>
            <value>
                <elementReference>varUpdateMotionChangeReasonDetail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GTM_Motion_Change_Reason__c</field>
            <value>
                <elementReference>varUpdateMotionChangeReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_GTM_Motion_Check__c</field>
            <value>
                <elementReference>varLastMotionCheck</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_New_Area</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varInputKeepArea</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputLifecycleStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputMotionChangeReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputMotionChangeReasonDetail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLastMotionCheck</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewMotion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUpdateMotionChangeReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUpdateMotionChangeReasonDetail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
