force-app/main/default/flows/GTM_Motion_Align_Related_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Agency_Sales_RT</name>
        <label>Assign Agency Sales RT</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>varNewRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.AccountRecordTypeID_AgencySales</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inventory_RT</name>
        <label>Assign Inventory RT</label>
        <locationX>50</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>varNewRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.AccountRecordTypeID_Inventory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lifecycle_Stage_Expansion</name>
        <label>Assign Lifecycle Stage Expansion</label>
        <locationX>1898</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>varNewLifecycleStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Account_Lifecycle_Stage_Expansion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lifecycle_Stage_Pilot</name>
        <label>Assign Lifecycle Stage Pilot</label>
        <locationX>1106</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>varNewLifecycleStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Account_Lifecycle_Stage_Pilot</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lifecycle_Stage_Retention</name>
        <label>Assign Lifecycle Stage Retention</label>
        <locationX>2426</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>varNewLifecycleStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Account_Lifecycle_Stage_Retention</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_RT</name>
        <label>Assign Sales RT</label>
        <locationX>1634</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>varNewRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.AccountRecordTypeID_Sales</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Motion2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Keep_existing_Lifecycle_Stage</name>
        <label>Keep existing Lifecycle Stage</label>
        <locationX>1370</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>varNewLifecycleStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccount.Stage_ACM__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Keep_existing_Lifecycle_Stage2</name>
        <label>Keep existing Lifecycle Stage</label>
        <locationX>1634</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>varNewLifecycleStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccount.Stage_ACM__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Keep_existing_Lifecycle_Stage3</name>
        <label>Keep existing Lifecycle Stage</label>
        <locationX>2162</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>varNewLifecycleStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccount.Stage_ACM__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Keep_existing_Lifecycle_Stage4</name>
        <label>Keep existing Lifecycle Stage</label>
        <locationX>842</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>varNewLifecycleStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccount.Stage_ACM__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Keep_existing_RT</name>
        <label>Keep existing RT</label>
        <locationX>1898</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>varNewRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccount.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Motion2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Keep_existing_RT3</name>
        <label>Keep existing RT</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>varNewRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccount.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Keep_existing_Timestamp</name>
        <label>Keep existing Timestamp</label>
        <locationX>1040</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varLastMotionCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccount.Last_GTM_Motion_Check__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Motion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Timestamp</name>
        <label>Update Timestamp</label>
        <locationX>776</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varLastMotionCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Motion</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Lifecycle_Stage</name>
        <label>Lifecycle Stage</label>
        <locationX>1238</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Keep_existing_Lifecycle_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expansion_Retention</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varAccount.Stage_ACM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Expansion</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccount.Stage_ACM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Retention</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lifecycle_Stage_Pilot</targetReference>
            </connector>
            <label>Expansion/Retention</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lifecycle_Stage2</name>
        <label>Lifecycle Stage</label>
        <locationX>1766</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Assign_Lifecycle_Stage_Expansion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expansion2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccount.Stage_ACM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Expansion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Keep_existing_Lifecycle_Stage2</targetReference>
            </connector>
            <label>Expansion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lifecycle_Stage3</name>
        <label>Lifecycle Stage</label>
        <locationX>2294</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Assign_Lifecycle_Stage_Retention</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Retention2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccount.Stage_ACM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Retention</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Keep_existing_Lifecycle_Stage3</targetReference>
            </connector>
            <label>Retention</label>
        </rules>
    </decisions>
    <decisions>
        <name>Motion</name>
        <label>Motion</label>
        <locationX>908</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Record_Type2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Inventory_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccount.GTM_Motion_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.GTM_Motion_Inventory_Partner</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Inventory_RT</targetReference>
            </connector>
            <label>Inventory Partner</label>
        </rules>
        <rules>
            <name>Agency_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccount.GTM_Motion_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.GTM_Motion_Agency_Sales</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type</targetReference>
            </connector>
            <label>Agency Sales</label>
        </rules>
    </decisions>
    <decisions>
        <name>Motion2</name>
        <label>Motion</label>
        <locationX>1766</locationX>
        <locationY>842</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inside_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccount.GTM_Motion_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.GTM_Motion_Inside_Sales</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Keep_existing_Lifecycle_Stage4</targetReference>
            </connector>
            <label>Inside Sales</label>
        </rules>
        <rules>
            <name>New_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccount.GTM_Motion_Account__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lifecycle_Stage</targetReference>
            </connector>
            <label>New Business</label>
        </rules>
        <rules>
            <name>Expansion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccount.GTM_Motion_Account__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Expansion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lifecycle_Stage2</targetReference>
            </connector>
            <label>Expansion</label>
        </rules>
        <rules>
            <name>Retention</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccount.GTM_Motion_Account__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Retention</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lifecycle_Stage3</targetReference>
            </connector>
            <label>Retention</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>446</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Assign_Agency_Sales_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agency</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varAccount.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency_Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccount.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency_Customer_Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Keep_existing_RT3</targetReference>
            </connector>
            <label>Agency</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type2</name>
        <label>Record Type</label>
        <locationX>1766</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Keep_existing_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agency_Inventory</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varAccount.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency_Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccount.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency_Customer_Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccount.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inventory_Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_RT</targetReference>
            </connector>
            <label>Agency/Inventory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Motion_Changed</name>
        <label>Was Motion Changed?</label>
        <locationX>908</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Keep_existing_Timestamp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMotionChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Timestamp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO-2179, RO - 1357</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlGTMAlignmentHelperUpdate</name>
        <dataType>Boolean</dataType>
        <expression>NOT(  {!varAccount.GTM_Motion_Alignment_Helper__c}  )</expression>
    </formulas>
    <interviewLabel>GTM Motion - Align Related Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GTM Motion - Align Related Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1766</locationX>
        <locationY>1334</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GTM_Motion_Alignment_Helper__c</field>
            <value>
                <elementReference>fmlGTMAlignmentHelperUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_GTM_Motion_Check__c</field>
            <value>
                <elementReference>varLastMotionCheck</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varNewRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_ACM__c</field>
            <value>
                <elementReference>varNewLifecycleStage</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account2</name>
        <label>Update Account</label>
        <locationX>908</locationX>
        <locationY>1634</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GTM_Motion_Alignment_Helper__c</field>
            <value>
                <elementReference>fmlGTMAlignmentHelperUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_GTM_Motion_Check__c</field>
            <value>
                <elementReference>varLastMotionCheck</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varNewRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Motion_Changed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varLastMotionCheck</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMotionChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewLifecycleStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
