force-app/main/default/flows/HeyPaket_Cancellation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>File_Upload_Skipped</name>
        <label>File Upload Skipped</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varFileUploadSkipped</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CancellationScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_for_Already_Cancelled</name>
        <label>Set Error for Already Cancelled</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ERROR_HEYPAKET_CANCELLED</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ErrorScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_for_No_HeyPaket</name>
        <label>Set Error for No HeyPaket</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ERROR_NOT_HEYPAKET_OPP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ErrorScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_for_Notice_Period</name>
        <label>Set Error for Notice Period</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ERROR_NOTICE_PERIOD_EXCEEDED</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ErrorScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_for_Scheduled</name>
        <label>Set Error for Scheduled</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ERROR_HEYPAKET_CANCEL_SCHEDULED_OPP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ErrorScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_for_Wrong_Status</name>
        <label>Set Error for Wrong Status</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ERROR_HEYPAKET_WRONG_STATUS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ErrorScreen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Conditions</name>
        <label>Check Conditions</label>
        <locationX>776</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>CancellationScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Good</defaultConnectorLabel>
        <rules>
            <name>No_HeyPaket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.HeyPaket_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_for_No_HeyPaket</targetReference>
            </connector>
            <label>No HeyPaket</label>
        </rules>
        <rules>
            <name>Notice_Period_Exceeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaTODAY</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>formulaLatestTerminationDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_for_Notice_Period</targetReference>
            </connector>
            <label>Notice Period Exceeded</label>
        </rules>
        <rules>
            <name>Already_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Timestamp_HeyPaket_Cancellation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_for_Already_Cancelled</targetReference>
            </connector>
            <label>Already Cancelled</label>
        </rules>
        <rules>
            <name>Wrong_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.HeyPaket_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.HeyPaket_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.HeyPaket_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.HeyPaket_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_for_Wrong_Status</targetReference>
            </connector>
            <label>Wrong Status</label>
        </rules>
        <rules>
            <name>Scheduled_HeyPaket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.HeyPaket_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_for_Scheduled</targetReference>
            </connector>
            <label>Scheduled HeyPaket</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_File_Upload</name>
        <label>Check File Upload</label>
        <locationX>1502</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>File_Upload_Skipped</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>File Upload Skipped</defaultConnectorLabel>
        <rules>
            <name>All_Good</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaUploadFileLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp</targetReference>
            </connector>
            <label>All Good</label>
        </rules>
    </decisions>
    <description>RO-1454, RO-1524</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaGetContentDocID</name>
        <dataType>String</dataType>
        <expression>RIGHT( LEFT( {!ScreenInput_CancellationDocument.contentDocIds}, 19) , 18 )</expression>
    </formulas>
    <formulas>
        <name>formulaLatestTerminationDate</name>
        <dataType>Date</dataType>
        <expression>{!Get_Opportunity.HeyPaket_End_Date__c} - 26</expression>
    </formulas>
    <formulas>
        <name>formulaNOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>formulaTODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formulaUploadFileLength</name>
        <dataType>Number</dataType>
        <expression>LEN( {!ScreenInput_CancellationDocument.contentDocIds} )</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>HeyPaket Cancellation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HeyPaket Cancellation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Attach_File_to_Opp</name>
        <label>Attach File to Opp</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>formulaGetContentDocID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Conditions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Attach_File_to_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HeyPaket_Cancellation_Reason__c</field>
            <value>
                <elementReference>ScreenInput_CancellationReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HeyPaket_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_HeyPaket_Cancellation__c</field>
            <value>
                <elementReference>formulaNOW</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>CancellationScreen</name>
        <label>CancellationScreen</label>
        <locationX>1502</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_File_Upload</targetReference>
        </connector>
        <fields>
            <name>ScreenText</name>
            <fieldText>&lt;p&gt;To cancel the HeyPaket please upload a cancellation document and specify the cancellation reason&lt;span style=&quot;font-size: 12px;&quot;&gt; (&lt;/span&gt;&lt;em style=&quot;font-size: 12px;&quot;&gt;both is mandatory).&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenInput_CancellationDocument</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cancellation Document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>ScreenInput_CancellationDocument.contentDocIds</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ErrorMessageUploadSkipped</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 28, 28); background-color: rgb(255, 255, 255);&quot;&gt;Please make sure you upload a file.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varFileUploadSkipped</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ScreenInput_CancellationReason</name>
            <defaultValue>
                <stringValue>{!ScreenInput_CancellationReason}</stringValue>
            </defaultValue>
            <fieldText>Cancellation Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>776</locationX>
        <locationY>1058</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 78, 6); background-color: rgb(255, 255, 255);&quot;&gt;{!varErrorMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFileUploadSkipped</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
