force-app/main/default/flows/HeyPaket_Add_Products_to_Renewal_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_QLI_to_Collection</name>
        <label>Add QLI to Collection</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineItemsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varQuoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bonus_Budget_on_Old_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_QLI_to_Collection_10</name>
        <label>Add QLI to Collection</label>
        <locationX>4450</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineItemsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varQuoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_QLI_to_Collection_2</name>
        <label>Add QLI to Collection</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineItemsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varQuoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bonus_Budget_on_Old_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_QLI_to_Collection_3</name>
        <label>Add QLI to Collection</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineItemsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varQuoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bonus_Budget_on_Old_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_QLI_to_Collection_4</name>
        <label>Add QLI to Collection</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineItemsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varQuoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bonus_Budget_on_Old_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_QLI_to_Collection_5</name>
        <label>Add QLI to Collection</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineItemsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varQuoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_QLI_to_Collection_6</name>
        <label>Add QLI to Collection</label>
        <locationX>3218</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineItemsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varQuoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_QLI_to_Collection_7</name>
        <label>Add QLI to Collection</label>
        <locationX>3482</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineItemsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varQuoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_QLI_to_Collection_8</name>
        <label>Add QLI to Collection</label>
        <locationX>3746</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineItemsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varQuoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_QLI_to_Collection_9</name>
        <label>Add QLI to Collection</label>
        <locationX>4010</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineItemsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varQuoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QLI_values</name>
        <label>Assign QLI values</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u9L000000bSCYQA2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t9L000000HRMIQA4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewQuoteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Identify_Quote_Products_Old_Quote.varlsHPEssentialAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_QLI_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QLI_values_2</name>
        <label>Assign QLI values</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u9L000000bSCdQAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t9L000000HRRHQA4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewQuoteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Identify_Quote_Products_Old_Quote.varlsHPAdvancedAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_QLI_to_Collection_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QLI_values_3</name>
        <label>Assign QLI values</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u9L000000bSCiQAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t9L000000HRRMQA4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewQuoteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Identify_Quote_Products_Old_Quote.varlsHPProfessionalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_QLI_to_Collection_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QLI_values_4</name>
        <label>Assign QLI values</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u9L000000bSCnQAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t9L000000HRRRQA4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewQuoteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Identify_Quote_Products_Old_Quote.varlsHPUltimateAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_QLI_to_Collection_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QLI_values_5</name>
        <label>Assign QLI values</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u1v00000FcbRCAAZ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t1v00000DCQidAAH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewQuoteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Identify_Quote_Products_Old_Quote.varlsBonusMarBudgetAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_QLI_to_Collection_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QLI_values_6</name>
        <label>Assign QLI values</label>
        <locationX>3218</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u9L000000bSCYQA2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t9L000000HRMIQA4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewQuoteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Line_Items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_QLI_to_Collection_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QLI_values_7</name>
        <label>Assign QLI values</label>
        <locationX>3482</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u9L000000bSCdQAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t9L000000HRRHQA4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewQuoteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Line_Items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_QLI_to_Collection_7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QLI_values_8</name>
        <label>Assign QLI values</label>
        <locationX>3746</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u9L000000bSCiQAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t9L000000HRRMQA4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewQuoteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Line_Items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_QLI_to_Collection_8</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QLI_values_9</name>
        <label>Assign QLI values</label>
        <locationX>4010</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u9L000000bSCnQAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t9L000000HRRRQA4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewQuoteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Line_Items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_QLI_to_Collection_9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QLI_values_non_HP_product</name>
        <label>Assign QLI values (non HP product)</label>
        <locationX>4450</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Line_Items.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Line_Items.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewQuoteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Line_Items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_QLI_to_Collection_10</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bonus_Budget_on_Old_Quote</name>
        <label>Bonus Budget on Old Quote?</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Create_Quote_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Identify_Quote_Products_Old_Quote.varIsBonusMarBudget</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_QLI_values_5</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_HeyPaket_Type</name>
        <label>Check HeyPaket Type</label>
        <locationX>3746</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Loop_Quote_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Essential2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHeyPaketType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.HeyPaket_Essential</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_QLI_values_6</targetReference>
            </connector>
            <label>Essential</label>
        </rules>
        <rules>
            <name>Advanced2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHeyPaketType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.HeyPaket_Advanced</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_QLI_values_7</targetReference>
            </connector>
            <label>Advanced</label>
        </rules>
        <rules>
            <name>Professional3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHeyPaketType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.HeyPaket_Professional</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_QLI_values_8</targetReference>
            </connector>
            <label>Professional</label>
        </rules>
        <rules>
            <name>Ultimate4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHeyPaketType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.HeyPaket_Ultimate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_QLI_values_9</targetReference>
            </connector>
            <label>Ultimate</label>
        </rules>
    </decisions>
    <decisions>
        <name>HeyPaket_Product_Old_Quote</name>
        <label>HeyPaket Product Old Quote</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Bonus_Budget_on_Old_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Essential</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Identify_Quote_Products_Old_Quote.varIsHPEssential</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_QLI_values</targetReference>
            </connector>
            <label>Essential</label>
        </rules>
        <rules>
            <name>Advanced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Identify_Quote_Products_Old_Quote.varIsHPAdvanced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_QLI_values_2</targetReference>
            </connector>
            <label>Advanced</label>
        </rules>
        <rules>
            <name>Professional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Identify_Quote_Products_Old_Quote.varIsHPProfessional</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_QLI_values_3</targetReference>
            </connector>
            <label>Professional</label>
        </rules>
        <rules>
            <name>Ultimate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Identify_Quote_Products_Old_Quote.varIsHPUltimate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_QLI_values_4</targetReference>
            </connector>
            <label>Ultimate</label>
        </rules>
    </decisions>
    <decisions>
        <name>HeyPaket_Products_on_Old_Quote</name>
        <label>HeyPaket Products on Old Quote</label>
        <locationX>1854</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Quote_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Identify_Quote_Products_Old_Quote.varIsHPEssential</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Identify_Quote_Products_Old_Quote.varIsHPProfessional</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Identify_Quote_Products_Old_Quote.varIsHPAdvanced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Identify_Quote_Products_Old_Quote.varIsHPUltimate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HeyPaket_Product_Old_Quote</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Marketing_Budget</name>
        <label>Marketing Budget?</label>
        <locationX>4098</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_QLI_values_non_HP_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Line_Items.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HIRE Budget</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_HeyPaket_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO-1670 , RO - 1708</description>
    <environments>Default</environments>
    <interviewLabel>HeyPaket Add Products to Renewal Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HeyPaket Add Products to Renewal Quote</label>
    <loops>
        <name>Loop_Quote_Line_Items</name>
        <label>Loop Quote Line Items</label>
        <locationX>3130</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Quote_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Marketing_Budget</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Quote_Line_Items</name>
        <label>Create Quote Line Items</label>
        <locationX>1854</locationX>
        <locationY>1334</locationY>
        <inputReference>varQuoteLineItemsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote_Line_Items</name>
        <label>Get Quote Line Items</label>
        <locationX>3130</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Quote_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOldQuoteID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1728</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Identify_Quote_Products_Old_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Identify_Quote_Products_Old_Quote</name>
        <label>Identify Quote Products Old Quote</label>
        <locationX>1854</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>HeyPaket_Products_on_Old_Quote</targetReference>
        </connector>
        <flowName>HeyPaket_Product_Identification</flowName>
        <inputAssignments>
            <name>varQuoteId</name>
            <value>
                <elementReference>varOldQuoteID</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varHeyPaketType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOldQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>varQuoteLineItemsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
</Flow>
