force-app/main/default/flows/Letter_Salutation_for_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Dealfront_sales_signal_on_contact</name>
        <label>Dealfront sales signal on contact</label>
        <locationX>402</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sales_Signal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dealfront</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Verified_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>False1</name>
        <label>False</label>
        <locationX>534</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Opt_Out_Cold_Marketing_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Salutation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_cold_Email_Updates</name>
        <label>No cold Email Updates</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_verified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Email</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamp_Opt_out_Cold_Marketing_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Letter_salutation_for_Ms_Mr_Mrs</name>
        <label>Set Letter salutation for Ms/Mr/Mrs</label>
        <locationX>666</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.fmlLetterSalutation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dear</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Letter_Salutation_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dear</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Letter_salutations_for_Frau</name>
        <label>Set Letter salutations for Frau</label>
        <locationX>402</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.fmlLetterSalutation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sehr geehrte Frau</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Letter_Salutation_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Liebe Frau</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Letter_salutations_for_Herr</name>
        <label>Set Letter salutations for Herr</label>
        <locationX>138</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.fmlLetterSalutation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sehr geehrter Herr</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Letter_Salutation_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lieber Herr</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Letter_salutations_for_other</name>
        <label>Set Letter salutations for other</label>
        <locationX>930</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.fmlLetterSalutation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Letter_Salutation_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>True1</name>
        <label>True</label>
        <locationX>270</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Opt_Out_Cold_Marketing_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Salutation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Timestamp_Opt_out_Cold_Marketing_Email</name>
        <label>Update Timestamp Opt out Cold Marketing Email</label>
        <locationX>314</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.Timestamp_Opt_out_Cold_Marketing_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Opt_out_updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_to_Unsubscribed</name>
        <label>Update to Unsubscribed</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_verified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unsubscribed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamp_Opt_out_Cold_Marketing_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Salutation</name>
        <label>Check Salutation</label>
        <locationX>534</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Set_Letter_salutations_for_other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Herr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salutation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Herr</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Letter_salutations_for_Herr</targetReference>
            </connector>
            <label>Herr</label>
        </rules>
        <rules>
            <name>Frau</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salutation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Frau</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Letter_salutations_for_Frau</targetReference>
            </connector>
            <label>Frau</label>
        </rules>
        <rules>
            <name>Ms_Mr_Mrs</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salutation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ms.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Salutation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mr.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Salutation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mrs.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Letter_salutation_for_Ms_Mr_Mrs</targetReference>
            </connector>
            <label>Ms./Mr./Mrs.</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Opt_out_updates</name>
        <label>Email Opt out updates</label>
        <locationX>534</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Check_Salutation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Opt_out_True</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_verified__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unsubscribed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>True1</targetReference>
            </connector>
            <label>Email Opt out = True</label>
        </rules>
        <rules>
            <name>Email_Opt_out_False</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_verified__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Risky</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bounced</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Nurturing Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>False1</targetReference>
            </connector>
            <label>Email Opt out = False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Verified_Updates</name>
        <label>Email Verified Updates</label>
        <locationX>534</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Email_Opt_out_updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Cold_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opt_Out_Cold_Marketing_Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_Out_Cold_Marketing_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opt_out_email_verified_is_true</targetReference>
            </connector>
            <label>No Cold Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opt_out_email_verified_is_true</name>
        <label>Opt out email verified is true</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Update_Timestamp_Opt_out_Cold_Marketing_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unsubscribed/No Cold Email/ Bounced</defaultConnectorLabel>
        <rules>
            <name>Update_to_No_Cold_Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_verified__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Risky</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_cold_Email_Updates</targetReference>
            </connector>
            <label>Update to No Cold Email</label>
        </rules>
        <rules>
            <name>Unsubscribed_Updates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Nurturing Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Unsubscribed</targetReference>
            </connector>
            <label>Unsubscribed Updates</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recent_Dealfront_Contact</name>
        <label>Recent Dealfront Contact</label>
        <locationX>534</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Email_Verified_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dealfront_ID_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>fml365daysAgo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dealfront_sales_signal_on_contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO-1047, RO-1124, RO-2284,RO-2336, Timestamp for opt out cold marketing email added</description>
    <environments>Default</environments>
    <formulas>
        <name>fml365daysAgo</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 365</expression>
    </formulas>
    <interviewLabel>Letter Salutation for Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Letter Salutation for Contacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recent_Dealfront_Contact</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
