force-app/main/default/flows/Letter_Salutation_for_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Set_Letter_salutations_for_Frau</name>
        <label>Set Letter salutations for Frau</label>
        <locationX>842</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>$Record.Letter_Salutation_lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sehr geehrte Frau</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Letter_Salutation_2_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Liebe Frau</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_2_of_Set_Letter_salutations_for_Herr</name>
        <label>Set Letter salutations for Herr</label>
        <locationX>578</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>$Record.Letter_Salutation_lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sehr geehrter Herr</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Letter_Salutation_2_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lieber Herr</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Letter_salutations_for_Frau</name>
        <label>Set Letter salutations for Frau</label>
        <locationX>314</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>$Record.Letter_Salutation_lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sehr geehrte Frau</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Letter_Salutation_2_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Liebe Frau</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Letter_salutations_for_Herr</name>
        <label>Set Letter salutations for Herr</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>$Record.Letter_Salutation_lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sehr geehrter Herr</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Letter_Salutation_2_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lieber Herr</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Letter_salutations_for_other</name>
        <label>Set Letter salutations for other</label>
        <locationX>1282</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>$Record.Letter_Salutation_lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Letter_Salutation_2_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Change_Salutation</name>
        <label>Change Salutation</label>
        <locationX>666</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Check_Salutation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Herr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salutation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mr</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Salutation2</targetReference>
            </connector>
            <label>Mr</label>
        </rules>
        <rules>
            <name>Copy_1_of_Frau</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salutation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Miss</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Salutation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mrs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Salutation3</targetReference>
            </connector>
            <label>Miss/Mrs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Salutation</name>
        <label>Check Salutation</label>
        <locationX>666</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Set_Letter_salutations_for_other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Herr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salutation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Herr</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Letter_salutations_for_Herr</targetReference>
            </connector>
            <label>Herr</label>
        </rules>
        <rules>
            <name>Frau</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salutation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Frau</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Letter_salutations_for_Frau</targetReference>
            </connector>
            <label>Frau</label>
        </rules>
        <rules>
            <name>Ms_Mr_Mrs</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salutation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ms.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Salutation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mr.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Salutation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mrs.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>German_Letter_Salutations</targetReference>
            </connector>
            <label>Ms./Mr./Mrs.</label>
        </rules>
    </decisions>
    <decisions>
        <name>German_Letter_Salutations</name>
        <label>German Letter Salutations</label>
        <locationX>842</locationX>
        <locationY>1439</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Herr1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salutation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mr</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Set_Letter_salutations_for_Herr</targetReference>
            </connector>
            <label>Herr</label>
        </rules>
        <rules>
            <name>Frau1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salutation</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Ms</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Salutation</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mrs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Letter_salutations_for_Frau</targetReference>
            </connector>
            <label>Frau</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_is_Converted</name>
        <label>Lead is Converted</label>
        <locationX>666</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Change_Salutation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConvertedAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Timestamp_Converted</targetReference>
            </connector>
            <label>Converted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Missing_mandatory_lead_fields</name>
        <label>Missing mandatory lead fields</label>
        <locationX>666</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Lead_is_Converted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Insert_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Webinar Laura</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fmlIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Insert_Source__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>find_account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO-1068, RO-1124,RO-1736, dealfront salutations update</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>fmlTimestampNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Letter Salutation for Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Timestamps/Letter Salutation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>find_account</name>
        <label>find account</label>
        <locationX>534</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_missing_lead_fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>txtEmailDomain__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email_Domain__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Timestamp_Converted</name>
        <label>Update Account Timestamp Converted</label>
        <locationX>534</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Change_Salutation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Timestamp_Converted__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Timestamp_Converted__c</field>
            <value>
                <elementReference>$Record.ConvertedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_missing_lead_fields</name>
        <label>Update missing lead fields</label>
        <locationX>534</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Lead_is_Converted</targetReference>
        </connector>
        <inputAssignments>
            <field>HeyJobs_Category__c</field>
            <value>
                <elementReference>find_account.HeyJobs_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>find_account.NumberOfEmployees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Country__c</field>
            <value>
                <elementReference>find_account.Service_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Salutation2</name>
        <label>Update Salutation</label>
        <locationX>402</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Check_Salutation</targetReference>
        </connector>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <stringValue>Herr</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Salutation3</name>
        <label>Update Salutation</label>
        <locationX>666</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Check_Salutation</targetReference>
        </connector>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <stringValue>Frau</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Missing_mandatory_lead_fields</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
