force-app/main/default/flows/Lifecycle_change_Task_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Copy_2_of_isLiveEvent</name>
        <label>isLiveEvent</label>
        <locationX>1238</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Copy_6_of_Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLiveEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Create_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isCustomer</name>
        <label>isCustomer</label>
        <locationX>908</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_isLiveEvent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCustomerContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isLiveEvent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isLiveEvent</name>
        <label>isLiveEvent</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Copy_4_of_Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLiveEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_MQL_Tasks_existing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_MQL_Tasks_existing</name>
        <label>Open MQL Tasks existing?</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Higher_MQL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTaskID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSameEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_8_of_Create_Task</targetReference>
            </connector>
            <label>Open non-current event task</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTaskID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>RO-2366, check for duplicate tasks,RO-2410, RO - 2599, RO-2713, RO-2827</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlNewComment</name>
        <dataType>String</dataType>
        <expression>&quot;This contact has a new higher MQL Conversion&quot; &amp; BR() &amp;
&quot;MQL Type: &quot; &amp; TEXT({!varContact.MQL_Type_Contact__c}) &amp; BR() &amp;
&quot;MQL Conversion: &quot; &amp; ({!varContact.MQL_Conversion_c__c})</expression>
    </formulas>
    <interviewLabel>Lifecycle change: Task Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lifecycle change: Task Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_4_of_Create_Task</name>
        <label>Create Task</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This contact (Customer) just got to MQL stage and might be relevant. MQL Type = {!varContact.MQL_Type_Contact__c}. MQL Conversion = {!varContact.MQL_Conversion_c__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MQL_Type__c</field>
            <value>
                <elementReference>varContact.MQL_Type_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Reach out to {!varContact.Name} (MQL Conversion: {!varContact.MQL_Type_Contact__c})</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>MQL Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varContact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>txtNextStep__c</field>
            <value>
                <stringValue>Please reach out to this contact and follow the steps outlined in this training deck: https://docs.google.com/presentation/d/1V_IC6ZPD-59wcmB5XB_QmCMWMElORMQzBpYzJMN2bM4/edit?usp=sharing</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_5_of_Create_Task</name>
        <label>Create Task</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This contact just got to MQL stage and might be relevant. MQL Type = {!varContact.MQL_Type_Contact__c}. MQL Conversion = {!varContact.MQL_Conversion_c__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MQL_Type__c</field>
            <value>
                <elementReference>varContact.MQL_Type_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Reach out to {!varContact.Name} (MQL Conversion: {!varContact.MQL_Type_Contact__c})</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>MQL Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varContact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>txtNextStep__c</field>
            <value>
                <stringValue>Please reach out to this contact and follow the steps outlined in this training deck: https://docs.google.com/presentation/d/1V_IC6ZPD-59wcmB5XB_QmCMWMElORMQzBpYzJMN2bM4/edit?usp=sharing</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_6_of_Create_Task</name>
        <label>Create Task</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This contact just got to MQL stage and might be relevant. MQL Type = {!varContact.MQL_Type_Contact__c}. MQL Conversion = {!varContact.MQL_Conversion_c__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MQL_Type__c</field>
            <value>
                <elementReference>varContact.MQL_Type_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Reach out to {!varContact.Name} (MQL Conversion: {!varContact.MQL_Type_Contact__c})</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>MQL Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varContact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>txtNextStep__c</field>
            <value>
                <stringValue>Please reach out to this contact and follow the steps outlined in this training deck: https://docs.google.com/presentation/d/1V_IC6ZPD-59wcmB5XB_QmCMWMElORMQzBpYzJMN2bM4/edit?usp=sharing</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_8_of_Create_Task</name>
        <label>Create Task</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This contact (Customer) just got to MQL stage and might be relevant. MQL Type = {!varContact.MQL_Type_Contact__c}. MQL Conversion = {!varContact.MQL_Conversion_c__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MQL_Type__c</field>
            <value>
                <elementReference>varContact.MQL_Type_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Reach out to {!varContact.Name} (MQL Conversion {!varContact.MQL_Type_Contact__c})</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>MQL Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varContact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>txtNextStep__c</field>
            <value>
                <stringValue>Please reach out to this contact and follow the steps outlined in this training deck: https://docs.google.com/presentation/d/1V_IC6ZPD-59wcmB5XB_QmCMWMElORMQzBpYzJMN2bM4/edit?usp=sharing</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This contact (Customer) just got to MQL stage and might be relevant. MQL Type = {!varContact.MQL_Type_Contact__c}. MQL Conversion = {!varContact.MQL_Conversion_c__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MQL_Type__c</field>
            <value>
                <elementReference>varContact.MQL_Type_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Reach out to {!varContact.Name} (MQL Conversion {!varContact.MQL_Type_Contact__c})</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>MQL Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varContact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>txtNextStep__c</field>
            <value>
                <stringValue>Please reach out to this contact and follow the steps outlined in this training deck: https://docs.google.com/presentation/d/1V_IC6ZPD-59wcmB5XB_QmCMWMElORMQzBpYzJMN2bM4/edit?usp=sharing</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_open_MQL_Tasks</name>
        <label>Get open MQL Tasks</label>
        <locationX>908</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isCustomer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>has reached MQL Stage</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>varTaskID</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_open_MQL_Tasks</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varCustomerContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHighestMQL</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLiveEvent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSameEvent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
