force-app/main/default/flows/Loss_Approval_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_variables</name>
        <label>Assign variables</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varOpenOppId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Lost_Actions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_variables10</name>
        <label>Assign variables</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varAccountRT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.AccountRecordTypeID_Outbound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStageACM</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampReactivation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlReactivation90</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Lost_Actions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_variables11</name>
        <label>Assign variables</label>
        <locationX>2426</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varAccountRT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.AccountRecordTypeID_Outbound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStageACM</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampReactivation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlReactivation90</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Lost_Actions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_variables12</name>
        <label>Assign variables</label>
        <locationX>3746</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varAccountRT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.AccountRecordTypeID_Discarded</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStageACM</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Lead_Gen_User_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Lost_Actions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_variables13</name>
        <label>Assign variables</label>
        <locationX>2690</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varAccountRT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.AccountRecordTypeID_Outbound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStageACM</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampReactivation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlReactivation90</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Lost_Actions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_variables14</name>
        <label>Assign variables</label>
        <locationX>2954</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varAccountRT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.AccountRecordTypeID_Outbound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStageACM</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampReactivation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlReactivation90</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Lost_Actions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_variables15</name>
        <label>Assign variables</label>
        <locationX>3218</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varAccountRT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.AccountRecordTypeID_Outbound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStageACM</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampReactivation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlReactivation90</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Lost_Actions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_variables16</name>
        <label>Assign variables</label>
        <locationX>3482</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varAccountRT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.AccountRecordTypeID_Outbound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStageACM</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampReactivation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlReactivation60</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Lost_Actions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_variables_0</name>
        <label>Assign variables</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varOpenOppId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Lost_Actions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_variables_10</name>
        <label>Assign variables</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varAccountRT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.AccountRecordTypeID_Outbound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStageACM</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampReactivation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlReactivation90</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Lost_Actions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_variables_3</name>
        <label>Assign variables</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varAccountRT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.AccountRecordTypeID_Outbound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStageACM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Account_Lifecycle_Stage_Outbound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampReactivation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlReactivation180</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Lost_Actions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_variables_5</name>
        <label>Assign variables</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varAccountRT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.AccountRecordTypeID_Outbound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStageACM</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampReactivation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlReactivation90</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Lost_Actions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_variables_6</name>
        <label>Assign variables</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varAccountRT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.AccountRecordTypeID_Outbound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStageACM</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampReactivation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlReactivation90</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Lost_Actions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_variables_7</name>
        <label>Assign variables</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varAccountRT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.AccountRecordTypeID_Outbound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStageACM</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampReactivation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlReactivation90</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Lost_Actions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_variables_9</name>
        <label>Assign variables</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varAccountRT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.AccountRecordTypeID_Outbound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStageACM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Account_Lifecycle_Stage_Outbound</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Lost_Actions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Additional_Account_Updates</name>
        <label>Additional Account Updates</label>
        <locationX>2294</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>-</defaultConnectorLabel>
        <rules>
            <name>Bankrupt_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.plLossReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bankrupt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_2</targetReference>
            </connector>
            <label>Bankrupt</label>
        </rules>
        <rules>
            <name>Blacklisted_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.plLossReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blacklisted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Blacklisted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loss_Reason_Classification</name>
        <label>Loss Reason Classification</label>
        <locationX>2294</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_open_opp_Id_on_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blacklisted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.plLossReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blacklisted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_variables</targetReference>
            </connector>
            <label>Blacklisted</label>
        </rules>
        <rules>
            <name>Bankrupt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.plLossReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bankrupt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_variables_0</targetReference>
            </connector>
            <label>Bankrupt</label>
        </rules>
        <rules>
            <name>Dependent_on_ATS_integration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.plLossReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dependent on ATS integration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_variables_3</targetReference>
            </connector>
            <label>Dependent on ATS integration</label>
        </rules>
        <rules>
            <name>Currently_not_hiring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.plLossReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Currently not hiring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_variables_5</targetReference>
            </connector>
            <label>Currently not hiring</label>
        </rules>
        <rules>
            <name>Currently_no_budget_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.plLossReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Currently no budget available</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_variables_6</targetReference>
            </connector>
            <label>Currently no budget available</label>
        </rules>
        <rules>
            <name>Currently_no_focus_jobs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.plLossReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Currently no focus jobs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_variables_7</targetReference>
            </connector>
            <label>Currently no focus jobs</label>
        </rules>
        <rules>
            <name>Dependent_on_decision_at_different_corporate_level</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.plLossReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dependent on decision at different corporate level</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_variables_9</targetReference>
            </connector>
            <label>Dependent on decision at different corporate level</label>
        </rules>
        <rules>
            <name>Special_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.plLossReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Special Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_variables_10</targetReference>
            </connector>
            <label>Special Case</label>
        </rules>
        <rules>
            <name>Not_happy_with_price</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.plLossReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not happy with price</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_variables10</targetReference>
            </connector>
            <label>Not happy with price</label>
        </rules>
        <rules>
            <name>Not_happy_with_selection_of_features</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.plLossReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not happy with selection of features</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_variables11</targetReference>
            </connector>
            <label>Not happy with selection of features</label>
        </rules>
        <rules>
            <name>Not_happy_with_job_performance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.plLossReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not happy with job performance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_variables13</targetReference>
            </connector>
            <label>Not happy with job performance</label>
        </rules>
        <rules>
            <name>Not_happy_with_candidate_quality</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.plLossReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not happy with candidate quality</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_variables14</targetReference>
            </connector>
            <label>Not happy with candidate quality</label>
        </rules>
        <rules>
            <name>No_need_for_paid_recruiting_measures</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.plLossReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No need for paid recruiting measures</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_variables15</targetReference>
            </connector>
            <label>No need for paid recruiting measures</label>
        </rules>
        <rules>
            <name>All_contacts_are_ghosting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.plLossReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All contacts are ghosting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_variables16</targetReference>
            </connector>
            <label>All contacts are ghosting</label>
        </rules>
        <rules>
            <name>SSSU_Jobseeker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.plLossReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jobseeker_SSSU_only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_variables12</targetReference>
            </connector>
            <label>SSSU Jobseeker</label>
        </rules>
        <rules>
            <name>SSSU_Fraudulent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.plLossReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fraudulent_SSSU_only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_variables12</targetReference>
            </connector>
            <label>SSSU Fraudulent</label>
        </rules>
        <rules>
            <name>REACH_only_spacial_termination_right_executed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.plLossReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(REACH only) spacial termination right executed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ATS_Integration_Support_RT</targetReference>
            </connector>
            <label>(REACH only) spacial termination right executed</label>
        </rules>
    </decisions>
    <description>RO-1557, RO-1758, RO-2049, RO-2068 V4, RO-2110,RO-2266, RO-2353, Fix ALCS update for 2 Loss Reasons, RO - 2403, RO - 2650</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlGTMHelperAlignment</name>
        <dataType>Boolean</dataType>
        <expression>NOT( {!$Record.Account.GTM_Motion_Alignment_Helper__c}  )</expression>
    </formulas>
    <formulas>
        <name>fmlReactivation180</name>
        <dataType>Date</dataType>
        <expression>TODAY()+180</expression>
    </formulas>
    <formulas>
        <name>fmlReactivation60</name>
        <dataType>Date</dataType>
        <expression>TODAY()+60</expression>
    </formulas>
    <formulas>
        <name>fmlReactivation90</name>
        <dataType>Date</dataType>
        <expression>TODAY()+90</expression>
    </formulas>
    <interviewLabel>Loss &amp; Approval Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loss &amp; Approval Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ATS_Integration_Support_Case</name>
        <label>Create [ATS] Integration Support Case</label>
        <locationX>4274</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_RichText__c</field>
            <value>
                <elementReference>$Record.Loss_Reason_Detail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1v000009SzgZ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_ATS_Integration_Support_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fetch_other_open_opps</name>
        <label>Fetch other open opps</label>
        <locationX>2294</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loss_Reason_Classification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ATS_Integration_Support_RT</name>
        <label>Get ATS Integration Support RT</label>
        <locationX>4274</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_ATS_Integration_Support_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATS_Integration_Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>2294</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>Blacklist__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.Lead_Gen_User_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.AccountRecordTypeID_Discarded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_ACM__c</field>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_2</name>
        <label>Update Account</label>
        <locationX>2030</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>Bankrupt__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.Lead_Gen_User_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.AccountRecordTypeID_Discarded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_ACM__c</field>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_open_opp_Id_on_Account</name>
        <label>Update open opp Id on Account</label>
        <locationX>4538</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_Opportunity_ID__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>2168</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_other_open_opps</targetReference>
        </connector>
        <filterFormula>AND( 
ISCHANGED( {!$Record.StageName} ),
ISPICKVAL({!$Record.StageName}, &quot;Closed Lost&quot;), 

OR(
ISPICKVAL({!$Record.plLossReason__c}, &quot;(REACH only) spacial termination right executed&quot;),
AND(
OR( {!$Record.RecordType.DeveloperName} = &quot;Sales&quot; , {!$Record.RecordType.DeveloperName} = &quot;Sales_Transactional&quot; ),
OR( CONTAINS( TEXT({!$Record.GTM_Motion_Opportunity__c} ), &quot;Inside Sales&quot;), CONTAINS( TEXT( {!$Record.GTM_Motion_Opportunity__c} ), &quot;Subscription&quot;))
)
)
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Opportunity_Lost_Actions</name>
        <label>Opportunity Lost Actions</label>
        <locationX>2294</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Additional_Account_Updates</targetReference>
        </connector>
        <flowName>Opportunity_Lost_Actions</flowName>
        <inputAssignments>
            <name>varAccountRTId</name>
            <value>
                <elementReference>varAccountRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOpenOppid</name>
            <value>
                <elementReference>Fetch_other_open_opps.Opportunity_ID_18__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOpp</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStageACM</name>
            <value>
                <elementReference>varStageACM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTimestampReactivation</name>
            <value>
                <elementReference>varTimestampReactivation</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varAccountRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFollowUpDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpenOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Fetch_other_open_opps.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>varOppLossReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOtherOpenOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSalesRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStageACM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimestampReactivation</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
