force-app/main/default/flows/Manual_Opp_Creation_ACM_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_To_Action</name>
        <label>Navigate To</label>
        <locationX>842</locationX>
        <locationY>2462</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>Navigate_To</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Contact_Role</name>
        <label>Assign Contact &amp; Role</label>
        <locationX>380</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varContactRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRole.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_Role</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error2</name>
        <label>Assign Error</label>
        <locationX>1106</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessageContactRoleCreation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varErrorContactRoleCreation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Error_Helper2</name>
        <label>Assign Error Helper</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>varErrorHelperCompetitors</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Account_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>To Save values in case flow goes back to screen</description>
        <name>Assign_input_values_to_variables2</name>
        <label>Assign input values to variables</label>
        <locationX>380</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varCompetitor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Competitor_1_current_future_ScreenInputTrans</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCompetitor2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Competitor_2_current_future_ScreenInputTrans</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCompetitor3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Competitor_3_current_future_ScreenInputTrans</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOtherCompetitor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Competitor_ScreenInputTrans</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCompToggle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToggleCompetitorFields.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varErrorHelperCompetitors</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Competitor_Fields2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Account_Values2</name>
        <label>Assign New Account Values</label>
        <locationX>710</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>varAccountRecord.Competitor_1_current_future__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCompetitor1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountRecord.Competitor_2_current_future__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCompetitor2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountRecord.Competitor_3_current_future__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCompetitor3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountRecord.Other_Competitor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOtherCompetitor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountRecord.Last_SQL_Field_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_Opp_Id</name>
        <label>Assign new Opp Id</label>
        <locationX>578</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>varNewOppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewOpp.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Opp_Values</name>
        <label>Assign Opp Values</label>
        <locationX>710</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>varNewOpp.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpp.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Close_Date_WithoutDemo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpp.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpp.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpp.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.OppAccManagementRT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpp.Allow_Opp_Creation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpp.ForecastCategoryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Forecast_Category</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpp.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Probability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Funnel_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Contact_Id</name>
        <label>Get Contact Id</label>
        <locationX>468</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varContactIDsFromRelationships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Relationships.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Relationships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Funnel_Type</name>
        <label>Set Funnel Type</label>
        <locationX>578</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>varNewOpp.Funnel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketing generated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Funnel_Type2</name>
        <label>Set Funnel Type</label>
        <locationX>842</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>varNewOpp.Funnel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales generated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opp</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceNavigateAccount</name>
        <choiceText>Account {!varAccountRecord.Name}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varAccountRecord.Id</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceNavigateContact</name>
        <choiceText>Contact {!varContactRecord.Name}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varContactRecord.Id</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceNavigateOpp</name>
        <choiceText>New Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varNewOpp.Id</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceOppStageInDiscussion</name>
        <choiceText>In Discussion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Discussion</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceOppStageOffer</name>
        <choiceText>Offer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Offer</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Funnel_Type</name>
        <label>Funnel Type</label>
        <locationX>710</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Set_Funnel_Type2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sales generated</defaultConnectorLabel>
        <rules>
            <name>Marketing_generated</name>
            <conditionLogic>NOT(1) AND NOT(2) AND NOT(3)</conditionLogic>
            <conditions>
                <leftValueReference>varMQLTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMQLTask</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMQLTask</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Funnel_Type</targetReference>
            </connector>
            <label>Marketing generated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Redirection_from_MQL_Process</name>
        <label>Redirection from MQL Process</label>
        <locationX>710</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Finish_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>MQL_Review</name>
            <conditionLogic>NOT(1) AND NOT(2) AND NOT(3)</conditionLogic>
            <conditions>
                <leftValueReference>varMQLTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMQLTask</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMQLTask</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_new_Opp_Id</targetReference>
            </connector>
            <label>MQL Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Relationships_Found</name>
        <label>Relationships Found?</label>
        <locationX>1139</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_Contact_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Contact_Relationships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Relationships</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Competitor_Fields2</name>
        <label>Validate Competitor Fields</label>
        <locationX>380</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Account_Values2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Good</defaultConnectorLabel>
        <rules>
            <name>Ohter_Competitor_Missing2</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>varCompetitor1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCompetitor2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCompetitor3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOtherCompetitor</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_Helper2</targetReference>
            </connector>
            <label>Ohter Competitor Missing</label>
        </rules>
        <rules>
            <name>Competitor_Missing2</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6 AND 7 AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>varCompetitor1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCompetitor2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCompetitor3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCompetitor1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCompetitor2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCompetitor3</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCompetitor1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCompetitor2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCompetitor3</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_Error_Helper2</targetReference>
            </connector>
            <label>Competitor Missing</label>
        </rules>
    </decisions>
    <description>RO-2406, RO-2415, RO-2662, RO-2710, RO-2711</description>
    <dynamicChoiceSets>
        <name>choiceCompetitors</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Competitor_1_current_future__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceForecastCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ForecastCategory</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceRelatedContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountRecord.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSetContactRoleNames</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role</picklistField>
        <picklistObject>OpportunityContactRole</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fmlDefaultCloseDate</name>
        <dataType>Date</dataType>
        <expression>IF(
TEXT( {!varAccountRecord.GTM_Motion_Account__c} ) = {!$Label.GTM_Motion_Inside_Sales}   , TODAY() + VALUE( {!$Label.OppCreation_ACM_DefaultCloseDateTransactional} ) , 
IF( 
TEXT( {!varAccountRecord.GTM_Motion_Account__c} ) =  {!$Label.GTM_Motion_New_Business_Subscription}   , TODAY() + VALUE( {!$Label.OppCreation_ACM_DefaultCloseDateNBS}  ) ,
NULL
))</expression>
    </formulas>
    <interviewLabel>Manual Opp Creation - ACM Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manual Opp Creation - ACM Opp</label>
    <loops>
        <name>Loop_Relationships</name>
        <label>Loop Relationships</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Account_Contact_Relationships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Contact_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Related_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact_Role</name>
        <label>Create Contact Role</label>
        <locationX>710</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Redirection_from_MQL_Process</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varNewOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <elementReference>varContactRoleName</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opp</name>
        <label>Create Opp</label>
        <locationX>710</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Create_Contact_Role</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen2</targetReference>
        </faultConnector>
        <inputReference>varNewOpp</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Contact_Relationships</name>
        <label>Get Account Contact Relationships</label>
        <locationX>1139</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Relationships_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Contacts</name>
        <label>Get Related Contacts</label>
        <locationX>380</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Contact_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varContactIDsFromRelationships</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>710</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Opp_Input</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>varAccountRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Account_Fields</name>
        <label>Account Fields</label>
        <locationX>380</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_input_values_to_variables2</targetReference>
        </connector>
        <fields>
            <name>ScreenText9</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please populate the competitor fields or confirm that the information is up-to-date.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Documentation: &lt;/span&gt;&lt;a href=&quot;https://heyjobs.atlassian.net/wiki/spaces/B2B/pages/2155217116/Accounts+Definition+und+Use-Case#Wettbewerber-1/2/3:-aktuelle-&amp;amp;-zuk%C3%BCnftige,-Anderer-Wettbewerber-(Competitor-1/2/3:-current-&amp;amp;-future-,Other-Competitor)&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11px;&quot;&gt;Wettbewerber 1/2/3 (Confluence)&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Competitor_Fields</name>
            <fieldText>Competitor Fields</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Competitor_Fields_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Competitor_1_current_future_ScreenInputTrans</name>
                    <choiceReferences>choiceCompetitors</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varCompetitor1</elementReference>
                    </defaultValue>
                    <fieldText>Wettbewerber 1: aktuelle &amp; zukünftige</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Competitor_2_current_future_ScreenInputTrans</name>
                    <choiceReferences>choiceCompetitors</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varCompetitor2</elementReference>
                    </defaultValue>
                    <fieldText>Wettbewerber 2: aktuelle &amp; zukünftige</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Competitor_3_current_future_ScreenInputTrans</name>
                    <choiceReferences>choiceCompetitors</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varCompetitor3</elementReference>
                    </defaultValue>
                    <fieldText>Wettbewerber 3: aktuelle &amp; zukünftige</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Other_Competitor_ScreenInputTrans</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varOtherCompetitor</elementReference>
                    </defaultValue>
                    <fieldText>Anderer Wettbewerber</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Competitor_Fields_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenText2</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Wenn du ein Wettbewerber Feld mit &lt;/span&gt;&lt;strong style=&quot;font-size: 10px;&quot;&gt;No Competitor&lt;/strong&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt; oder &lt;/span&gt;&lt;strong style=&quot;font-size: 10px;&quot;&gt;Unknown&lt;/strong&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt; ausfüllst, dürfen die anderen leer bleiben. Ansonsten musst du alle 3 ausfüllen&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Wenn du in einem Feld &lt;/span&gt;&lt;strong style=&quot;font-size: 10px;&quot;&gt;Others&lt;/strong&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt; auswählst, musst zu zusätzliche Infos in &lt;/span&gt;&lt;strong style=&quot;font-size: 10px;&quot;&gt;Anderer Wettbewerber&lt;/strong&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt; angeben&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varErrorHelperCompetitors</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ScreenText13</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; color: rgb(228, 25, 25);&quot;&gt;Wenn du ein Wettbewerber Feld mit &lt;/span&gt;&lt;strong style=&quot;font-size: 10px; color: rgb(228, 25, 25);&quot;&gt;No Competitor&lt;/strong&gt;&lt;span style=&quot;font-size: 10px; color: rgb(228, 25, 25);&quot;&gt; oder &lt;/span&gt;&lt;strong style=&quot;font-size: 10px; color: rgb(228, 25, 25);&quot;&gt;Unknown&lt;/strong&gt;&lt;span style=&quot;font-size: 10px; color: rgb(228, 25, 25);&quot;&gt; ausfüllst, dürfen die anderen leer bleiben. Ansonsten musst du alle 3 ausfüllen&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; color: rgb(228, 25, 25);&quot;&gt;Wenn du in einem Feld &lt;/span&gt;&lt;strong style=&quot;font-size: 10px; color: rgb(228, 25, 25);&quot;&gt;Others&lt;/strong&gt;&lt;span style=&quot;font-size: 10px; color: rgb(228, 25, 25);&quot;&gt; auswählst, musst zu zusätzliche Infos in &lt;/span&gt;&lt;strong style=&quot;font-size: 10px; color: rgb(228, 25, 25);&quot;&gt;Anderer Wettbewerber&lt;/strong&gt;&lt;span style=&quot;font-size: 10px; color: rgb(228, 25, 25);&quot;&gt; angeben&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varErrorHelperCompetitors</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>ToggleCompetitorFields</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Competitor Fields are up-to-date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varCompToggle</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <validationRule>
                <errorMessage>&lt;p&gt;Please confirm that competitor fields are updated.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!ToggleCompetitorFields.value}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Billing_Shipping_Information</name>
            <fieldText>Billing &amp; Shipping Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Billing_Shipping_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varAccountRecord.Bill_To_Name__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varAccountRecord.BillingAddress</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Billing_Shipping_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varAccountRecord.Ship_To_Name__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varAccountRecord.ShippingAddress</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen1</label>
        <locationX>1634</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error1</name>
            <fieldText>&lt;p&gt;There was an error when we tried to update your account. Please reach out to an Admin and provide the following details:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(241, 9, 9);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen2</name>
        <label>Error Screen2</label>
        <locationX>1370</locationX>
        <locationY>2138</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_Error1</name>
            <fieldText>&lt;p&gt;There was an error when we tried to create the opportunity. Please go back and try again or reach out to an Admin and provide the following details:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Error2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(241, 9, 9);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>842</locationX>
        <locationY>2354</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_To_Action</targetReference>
        </connector>
        <fields>
            <name>Finish_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Finish_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenText12</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Your &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;opportunity was created&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; successfully but we encountered some&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; errors&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Finish_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ErrorScreenContactRoleCreation2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(241, 9, 9);&quot;&gt;The contact role could not be created&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;. Please try to do it manually or reach out to an Admin.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varErrorContactRoleCreation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>varErrorContactRoleCreation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ScreenText8</name>
            <fieldText>&lt;p&gt;Select where you want to go after closing this window or stay where you are.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Navigate_To</name>
            <choiceReferences>choiceNavigateOpp</choiceReferences>
            <choiceReferences>choiceNavigateAccount</choiceReferences>
            <choiceReferences>choiceNavigateContact</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceNavigateOpp</defaultSelectedChoiceReference>
            <fieldText>Navigate To</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Contact_Screen</name>
        <label>No Contact Screen</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_Copy_1_of_Error1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 28, 28);&quot;&gt;There is no contact related to this account. Please create a new contact or relate an existing contact to the account.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opp_Input</name>
        <label>Opp Input</label>
        <locationX>710</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Opp_Values</targetReference>
        </connector>
        <fields>
            <name>Opp_Input_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opp_Input_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenText5</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Opportunity Creation&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Opp_Input_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opp_Input_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Close_Date_WithoutDemo</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>fmlDefaultCloseDate</elementReference>
                    </defaultValue>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Amount</name>
                    <dataType>Currency</dataType>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Stage</name>
                    <choiceReferences>choiceOppStageInDiscussion</choiceReferences>
                    <choiceReferences>choiceOppStageOffer</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>choiceOppStageInDiscussion</defaultSelectedChoiceReference>
                    <fieldText>Stage</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opp_Input_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Probability</name>
                    <dataType>Number</dataType>
                    <fieldText>Probability</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Forecast_Category</name>
                    <choiceReferences>choiceForecastCategory</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Forecast Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ScreenText6</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;If empty, Probability and Forecast Category will be set according to stage.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create Opp</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Contact_Role</name>
        <label>Select Contact Role</label>
        <locationX>380</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Contact_Role</targetReference>
        </connector>
        <fields>
            <name>ScreenText11</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(200, 65, 130); background-color: rgb(255, 255, 255);&quot;&gt;Contact Role Selection&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please select &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;one &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;contact to be added as contact role to the new opportunity and select a role name.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(We can currently only create one contact role)&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(238, 116, 34);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Please note that this list only contains contacts that are directly or indirectly related to the account. If a contact does not show up, please link it as &lt;/span&gt;&lt;a href=&quot;https://heyjobs.atlassian.net/wiki/spaces/B2B/pages/4203905026/Kontakt+Management#Primary-Contacts&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(20, 123, 234);&quot;&gt;&lt;u&gt;primary&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(238, 116, 34);&quot;&gt; or &lt;/span&gt;&lt;a href=&quot;https://heyjobs.atlassian.net/wiki/spaces/B2B/pages/4203905026/Kontakt+Management#Related-Contacts-(related-list)&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(20, 123, 234);&quot;&gt;&lt;u&gt;related&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(238, 116, 34);&quot;&gt; contact to the account.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactRole</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Role Selection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Related_Contacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-8fc7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Title_Categories__c&quot;,&quot;guid&quot;:&quot;column-3860&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Title Categories&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-c820&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;Active__c&quot;,&quot;guid&quot;:&quot;column-7aac&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Active&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>varDefaultContactChoice</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Assigned_Role</name>
            <choiceReferences>ChoiceSetContactRoleNames</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Decision Maker</stringValue>
            </defaultValue>
            <fieldText>Assigned Role</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1013</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Contact_Relationships</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varCompetitor1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>varAccountRecord.Competitor_1_current_future__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varCompetitor2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>varAccountRecord.Competitor_2_current_future__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varCompetitor3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>varAccountRecord.Competitor_3_current_future__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varCompToggle</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varContactIDsFromRelationships</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varContactRoleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDefaultContactChoice</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varErrorContactRoleCreation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varErrorHelperCompetitors</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varErrorMessageContactRoleCreation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMQLTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varNewOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOtherCompetitor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>varAccountRecord.Other_Competitor__c</elementReference>
        </value>
    </variables>
</Flow>
