force-app/main/default/flows/Manual_Opp_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Account_Contact_Record</name>
        <label>Assign Account+Contact Record</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varAccountRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Input_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Decision_Maker_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDefaultContactChoice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Decision_Maker_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Lifecycle_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Contact_Record2</name>
        <label>Assign Account+Contact Record</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varAccountRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_from_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Input_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDefaultContactChoice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Contact_Input_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Lifecycle_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Record</name>
        <label>Assign Account Record</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varAccountRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Input_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDefaultContactChoice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Contact_Input_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Lifecycle_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Opp_Id</name>
        <label>Assign New Opp Id</label>
        <locationX>236</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>varNewOppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Acquisition_Opp.varNewOppId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_New_Opp_Id2</name>
        <label>Assign New Opp Id</label>
        <locationX>544</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>varNewOppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_ACM_Opp.varNewOppId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Account_Lifecycle_Stage</name>
        <label>Account Lifecycle Stage</label>
        <locationX>512</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Not_available_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Front_Funnel</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>varAccountRecord.Stage_ACM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Lost</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountRecord.Stage_ACM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Outbound</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountRecord.Stage_ACM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Prospect</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountRecord.Stage_ACM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Acquisition</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountRecord.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AccountRecordTypeID_Inventory</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountRecord.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AccountRecordTypeID_AgencyCustomerSales</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountRecord.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AccountRecordTypeID_AgencySales</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACM_User</targetReference>
            </connector>
            <label>Front Funnel (Sales RTs)</label>
        </rules>
        <rules>
            <name>Customer_Account</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>varAccountRecord.Stage_ACM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Pilot</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountRecord.Stage_ACM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Expansion</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountRecord.Stage_ACM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Retention</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountRecord.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AccountRecordTypeID_Inventory</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountRecord.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AccountRecordTypeID_AgencyCustomerSales</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountRecord.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AccountRecordTypeID_AgencySales</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ACM_Opp</targetReference>
            </connector>
            <label>Customer Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>ACM_User</name>
        <label>ACM User</label>
        <locationX>236</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Create_Acquisition_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.GTM_Motion_User__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Expansion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.GTM_Motion_User__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Retention</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_for_ACM</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Maker_Found</name>
        <label>Decision Maker Found?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Decision_Maker_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Contact_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object</name>
        <label>Object</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Wrong_Object_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Input_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Input_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <description>RO-2315, RO-2349, RO-2383, RO-2406, RO-2415, RO-2662, RO-2710</description>
    <environments>Default</environments>
    <interviewLabel>Manual Opp Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manual Opp Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_from_Contact</name>
        <label>Get Account from Contact</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Contact_Record2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Input_Contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Input_Account</name>
        <label>Get Account (Input Account)</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Decision_Maker_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Input_Contact</name>
        <label>Get Contact (Input Contact)</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_from_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Decision_Maker_Name</name>
        <label>Get Decision Maker Name</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Maker_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Input_Account.Decision_maker_name__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Not_available_Screen</name>
        <label>Not available Screen</label>
        <locationX>808</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Error1</name>
            <fieldText>&lt;p&gt;This functionality is &lt;strong&gt;currently not available&lt;/strong&gt; for &lt;strong&gt;Customer Accounts&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Lifecycle Stage Pilot or later). &lt;/span&gt;Please create your 2nd Purchase or Account Management opportunity via the &lt;strong&gt;Opportunities related list&lt;/strong&gt; on the account.&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://heyjobs.file.force.com/sfc/servlet.shepherd/version/download/068W700000Eiotw?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;image.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning_for_ACM</name>
        <label>Warning for ACM</label>
        <locationX>104</locationX>
        <locationY>1058</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Acquisition_Opp</targetReference>
        </connector>
        <fields>
            <name>ScreenText2</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Attention&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;You are about to create an &lt;strong&gt;Acquisition Opportunity&lt;/strong&gt; on this account because it does &lt;strong&gt;not have a customer Lifecycle Stage &lt;/strong&gt;(Pilot/Expansion/Retention). The first won Opportunity on an account should always be an Acquisition Opportunity.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;If this &lt;strong&gt;account is a customer&lt;/strong&gt; (e.g. first purchase on this account in a centralized hierarchy), &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;please proceed to create an Acquisition Opportunity and mark it as &quot;&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;not a new customer&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&quot; when you provide the Opportunity information to make sure that it is not counted as a Pilot.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;If this &lt;strong&gt;account is &lt;u&gt;not &lt;/u&gt;a customer&lt;/strong&gt; yet (e.g. new account in a decentralized hierarchy), please proceed to create an Acquisition Opportunity and ignore the field &quot;not a new customer&quot; to make sure that it is counted as a Pilot.&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Create Acquisition Opp</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Wrong_Object_Screen</name>
        <label>Wrong Object Screen</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Error1</name>
            <fieldText>&lt;p&gt;This functionality is only available on Account or Contact.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_ACM_Opp</name>
        <label>Create ACM Opp</label>
        <locationX>544</locationX>
        <locationY>950</locationY>
        <connector>
            <targetReference>Assign_New_Opp_Id2</targetReference>
        </connector>
        <flowName>Manual_Opp_Creation_ACM_Opp</flowName>
        <inputAssignments>
            <name>varAccountRecord</name>
            <value>
                <elementReference>varAccountRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContactRecord</name>
            <value>
                <elementReference>varContactRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDefaultContactChoice</name>
            <value>
                <elementReference>varDefaultContactChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMQLTask</name>
            <value>
                <elementReference>varMQLTask</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Acquisition_Opp</name>
        <label>Create Acquisition Opp</label>
        <locationX>236</locationX>
        <locationY>1250</locationY>
        <connector>
            <targetReference>Assign_New_Opp_Id</targetReference>
        </connector>
        <flowName>Manual_Opp_Creation_Acquisition_Opp</flowName>
        <inputAssignments>
            <name>varAccountRecord</name>
            <value>
                <elementReference>varAccountRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContactRecord</name>
            <value>
                <elementReference>varContactRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDefaultContactChoice</name>
            <value>
                <elementReference>varDefaultContactChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMQLTask</name>
            <value>
                <elementReference>varMQLTask</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varDefaultContactChoice</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varMQLTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
