force-app/main/default/flows/MQL_Disqualification_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Blacklist_Contact</name>
        <label>Blacklist Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.Blacklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Last_Blacklist_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_other_related_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_related_contacts</name>
        <label>Count related contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNumberOfContacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_other_related_contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enrichment_Pending</name>
        <label>Enrichment Pending</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.Enrichment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enrichment Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MQL_Conversion_Blocked_Until2</name>
        <label>MQL Conversion Blocked Until</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.MQL_Conversion_Blocked_Until__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MQL_Conversion_Blocked_Until</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact_fields</name>
        <label>Update Contact fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.Most_recent_qualification_outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Disqualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Most_Recent_Disqualification_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Disqualification_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Most_Recent_Spec_Disqualification_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Special_Disqualification_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Timestamp_Qualification_Outcome_Updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Duplicate_Contact</name>
        <label>Update Duplicate Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.Duplicate_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DuplicateContact.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_fields</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Update</name>
        <label>Account Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Complete_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blacklist2</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Disqualification_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jobseeker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Disqualification_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fraud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNumberOfContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blacklist_Account</targetReference>
            </connector>
            <label>Blacklist</label>
        </rules>
        <rules>
            <name>Shift_Account_to_Outbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Stage_ACM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Prospect</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fmlLastProspectChangeByMQL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_to_Outbound</targetReference>
            </connector>
            <label>Shift Account to Outbound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Job_Alert_Contact_Decision_Disqual</name>
        <label>Job Alert Contact Decision Disqual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Task_Contact_Disqual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Selected</defaultConnectorLabel>
        <rules>
            <name>No_Contacts_Disqual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNoContactsAvailableDisqual</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Task_No_Contact_Disqual</targetReference>
            </connector>
            <label>No Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>MQL_Task</name>
        <label>MQL Task?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MQL Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disqualification_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Yes_Job_Alert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Job Alert</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Job_Alert_Contact_Screen_Disqual</targetReference>
            </connector>
            <label>Job Alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Scenario</name>
        <label>Scenario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Merge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Disqualification_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Duplicate_Contact</targetReference>
            </connector>
            <label>Merge</label>
        </rules>
        <rules>
            <name>Enrich</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Disqualification_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invalid/missing contact information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enrichment_Pending</targetReference>
            </connector>
            <label>Enrich</label>
        </rules>
        <rules>
            <name>MQL_Qualification_Blocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MQL_Conversion_Blocked_Until</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MQL_Conversion_Blocked_Until2</targetReference>
            </connector>
            <label>MQL Qualification Blocked</label>
        </rules>
        <rules>
            <name>Blacklist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Disqualification_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jobseeker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Disqualification_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fraud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Disqualification_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Freelancer oder Einzelunternehmen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blacklist_Contact</targetReference>
            </connector>
            <label>Blacklist</label>
        </rules>
    </decisions>
    <description>RO-2662, RO-2710, RO-2713, RO-2712, RO-2735</description>
    <dynamicChoiceSets>
        <name>choiceSetDisqualificationReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Most_Recent_Disqualification_Reason__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fmlGTMAlignmentHelplerUpdate</name>
        <dataType>Boolean</dataType>
        <expression>NOT( {!Get_Account.GTM_Motion_Alignment_Helper__c}  )</expression>
    </formulas>
    <formulas>
        <name>fmlLastProspectChangeByMQL</name>
        <dataType>Boolean</dataType>
        <expression>ABS( ( {!Get_Account.Timestamp_Acc_Lifecycle_Stage_Prospect__c} - {!Get_Account.Timestamp_ALCS_Prospect_by_MQL__c} ) * 1440 ) &lt;=1</expression>
    </formulas>
    <formulas>
        <name>fmlTodayPlus90</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 90</expression>
    </formulas>
    <interviewLabel>MQL Disqualification Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MQL Disqualification Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scenario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_other_related_contacts</name>
        <label>Get other related contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_related_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MQL_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Refresh_Task_Disqual</name>
        <label>Refresh Task Disqual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Disqualification_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Blacklist_Account</name>
        <label>Blacklist Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Complete_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Blacklist__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.AccountRecordTypeID_Discarded</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Task_No_Contact_Disqual</name>
        <label>Close Task No Contact Disqual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allow_closing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Contacts_Available__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_Task</name>
        <label>Complete Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allow_closing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disqualification_Reason__c</field>
            <value>
                <elementReference>Disqualification_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualification_Outcome__c</field>
            <value>
                <stringValue>Disqualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Disqualification_Reason__c</field>
            <value>
                <elementReference>Special_Disqualification_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact2</name>
        <label>Update Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <inputReference>Get_Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Contact_Disqual</name>
        <label>Update Task Contact Disqual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Refresh_Task_Disqual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>JobAlertContactLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <name>Disqualification_Screen</name>
        <label>Disqualification Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <fields>
            <name>Screen_Text2</name>
            <fieldText>&lt;p&gt;Wähle einen &lt;strong&gt;Disqualifizierungsgrund&lt;/strong&gt; aus, um die MQL Review zu beenden.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Disqualification_Reason</name>
            <choiceReferences>choiceSetDisqualificationReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Disqualification Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Disqualification_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Disqualification_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenText1</name>
                    <fieldText>&lt;p&gt;Erkläre näher, warum dies ein Sonderfall ist&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Special_Disqualification_Reason</name>
                    <dataType>String</dataType>
                    <fieldText>Special Disqualification Reason</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Der Input muss mindestens 30 Zeichen lang sein.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Special_Disqualification_Reason}) &gt;= 30</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Disqualification_Reason</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Special Case</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Disqualification_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Disqualification_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenText2</name>
                    <fieldText>&lt;p&gt;Dieser Kontakt wird jetzt für 90 Tage von Type 3 MQL Conversions geblockt. Du kannst die Zeitspanne manuell anpassen.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>MQL_Conversion_Blocked_Until</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>fmlTodayPlus90</elementReference>
                    </defaultValue>
                    <fieldText>MQL Conversion Blocked Until</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Disqualification_Reason</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Duplicate contact</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Disqualification_Reason</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Invalid/missing contact information</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Disqualification_Reason</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Jobseeker</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Disqualification_Reason</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Fraud</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Disqualification_Reason</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Disqualification_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Disqualification_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DuplicateContact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Duplicate_Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Duplicate Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Disqualification_Reason</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Duplicate contact</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ScreenText</name>
            <fieldText>&lt;p&gt;Diese Funktion ist nur für &lt;strong&gt;MQL Tasks&lt;/strong&gt; und &lt;strong&gt;Job Alert Tasks&lt;/strong&gt; verfügbar.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Job_Alert_Contact_Screen_Disqual</name>
        <label>Job Alert Contact Screen Disqual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Job_Alert_Contact_Decision_Disqual</targetReference>
        </connector>
        <fields>
            <name>JobAlertContactScreenText</name>
            <fieldText>&lt;p&gt;Wähle den Kontakt aus, mit dem du gesprochen hast, oder markiere &amp;#39;Keine Kontakte verfügbar&amp;#39;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>JobAlertContactLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Duplicate_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Kontakt</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>varNoContactsAvailableDisqual</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Keine Kontakte verfügbar</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Weiter</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Account_to_Outbound</name>
        <label>Update Account to Outbound</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Complete_Task</targetReference>
        </connector>
        <flowName>GTM_Motion_Enable_RT_Lifecycle_Changes</flowName>
        <inputAssignments>
            <name>varAccount</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNewLifecycleStage</name>
            <value>
                <elementReference>$Label.Account_Lifecycle_Stage_Outbound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNewRecordTypeId</name>
            <value>
                <elementReference>$Label.AccountRecordTypeID_Outbound</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMatchingContactRole</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varNumberOfContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
