force-app/main/default/flows/MQL_Qualification_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Set_Account_Values</name>
        <label>Set Account Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Follow_up_Date_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Follow_up_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Follow_up_Details_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Follow_up_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Last_Follow_up_Date_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Key_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KeyContact_Screen.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Values2</name>
        <label>Set Account Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Key_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KeyContact_Screen.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Match_Found_to_True</name>
        <label>Set Match Found to True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varMatchingContactRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Qualification_Outcome</name>
        <label>Set Qualification Outcome</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varQualificationOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.QualificationOutcome_OppContactRoleExisting</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Funnel_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Qualification_Outcome2</name>
        <label>Set Qualification Outcome</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varQualificationOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.QualificationOutcome_OppContactRoleCreated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Funnel_Type</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceCreateOppOrContactRole</name>
        <choiceText>Erstelle eine Opportunity bzw. Kontaktrolle</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Erstelle eine Opportunity bzw. Kontaktrolle</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceDisqualify</name>
        <choiceText>Disqualify</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disqualify</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceFollowUp</name>
        <choiceText>Follow-up Date aktualisieren</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Follow-up Date aktualisieren</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceQualify</name>
        <choiceText>Qualify</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Qualify</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Current_Contact_Role_matches_MQL_Contact</name>
        <label>Current Contact Role matches MQL Contact?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Contact_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Contact_Roles.ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Task.WhoId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Match_Found_to_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matching_Contact_Role_Found</name>
        <label>Matching Contact Role Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Contact_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMatchingContactRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Qualification_Outcome</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>MQL_Task</name>
        <label>MQL Task?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MQL Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Opp_Found</name>
        <label>Open Opp Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Redirection_to_Opp_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_Contact_Roles</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Action</name>
        <label>Selected Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Account_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Follow-up Date</defaultConnectorLabel>
        <rules>
            <name>Create_Opp_Contact_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Was_m_chtest_du_tun</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceCreateOppOrContactRole</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Values2</targetReference>
            </connector>
            <label>Create Opp/Contact Role</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Funnel_Type</name>
        <label>Update Funnel Type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Opportunity.Funnel_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Marketing generated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO-2662, RO-2710, RO-2711, RO-2735, RO-2791</description>
    <dynamicChoiceSets>
        <name>choiceSetDisqualificationReasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Most_Recent_Disqualification_Reason__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>MQL Qualification Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MQL Qualification Flow</label>
    <loops>
        <name>Loop_Contact_Roles</name>
        <label>Loop Contact Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Opp_Contact_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Current_Contact_Role_matches_MQL_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Matching_Contact_Role_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Contact_Role</name>
        <label>Add Contact Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Qualification_Outcome2</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Task.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Open_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Decision Maker</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Opportunity</name>
        <label>Get Open Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Opp_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Contact_Roles</name>
        <label>Get Opp Contact Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Contact_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Open_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MQL_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Complete_Task2</name>
        <label>Complete Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allow_closing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Linked_Opportunity__c</field>
            <value>
                <elementReference>Opp_Creation2.varNewOppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualification_Outcome__c</field>
            <value>
                <elementReference>$Label.QualificationOutcome_OppCreated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_Task3</name>
        <label>Complete Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Contact_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allow_closing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Linked_Opportunity__c</field>
            <value>
                <elementReference>Get_Open_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualification_Outcome__c</field>
            <value>
                <elementReference>varQualificationOutcome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_Task4</name>
        <label>Complete Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allow_closing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualification_Outcome__c</field>
            <value>
                <elementReference>$Label.QualificationOutcome_FUPMoved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Contact3</targetReference>
        </connector>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account2</name>
        <label>Update Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Open_Opportunity</targetReference>
        </connector>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Complete_Task3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Most_Recent_Disqualification_Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Spec_Disqualification_Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_recent_qualification_outcome__c</field>
            <value>
                <elementReference>varQualificationOutcome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Qualification_Outcome_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact2</name>
        <label>Update Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Complete_Task2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Most_Recent_Disqualification_Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Spec_Disqualification_Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_recent_qualification_outcome__c</field>
            <value>
                <elementReference>$Label.QualificationOutcome_OppCreated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Qualification_Outcome_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact3</name>
        <label>Update Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Complete_Task4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Most_Recent_Disqualification_Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Spec_Disqualification_Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_recent_qualification_outcome__c</field>
            <value>
                <elementReference>$Label.QualificationOutcome_FUPMoved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Qualification_Outcome_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Open_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Funnel_Type__c</field>
            <value>
                <stringValue>Marketing influenced</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Decision_Screen</name>
        <label>Decision Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selected_Action</targetReference>
        </connector>
        <fields>
            <name>ScreenText1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;MQL Qualifizierung abschließen&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Du hast 2 Möglichkeiten, um die MQL Qualifizierung abzuschließen:&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Jetzt sofort eine Opportunity erstellen bzw. den Kontakt als Kontaktrolle zu einer offenen Opportunity hinzufügen.&lt;/li&gt;&lt;li&gt;Das Account Follow-up Date aktualisieren, um den Account/Kontakt in der Zukunft anzugehen.&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Was_m_chtest_du_tun</name>
            <choiceReferences>choiceCreateOppOrContactRole</choiceReferences>
            <choiceReferences>choiceFollowUp</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Was möchtest du tun?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Decision_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Decision_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenText5</name>
                    <fieldText>&lt;p&gt;Wenn du fortfährst wirst du entweder zur Opportunity Erstellung weitergeleitet oder der Kontakt wird automatisch zu einer offenen Opportunity hinzugefügt, falls bereits eine existiert.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Was_m_chtest_du_tun</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceCreateOppOrContactRole</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Decision_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Decision_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenText6</name>
                    <fieldText>&lt;p&gt;Überprüfe und update Follow-up Date und optional Follow-up Details. &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Follow_up_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Account.Follow_up_Date_Account__c</elementReference>
                    </defaultValue>
                    <fieldText>Follow-up Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Das Datum muss in der Zukunft sein.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Follow_up_Date} &gt; TODAY()</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Follow_up_Details</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Account.Follow_up_Details_Account__c</elementReference>
                    </defaultValue>
                    <fieldText>Follow-up Details</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Was_m_chtest_du_tun</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceFollowUp</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Decision_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Decision_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenText7</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;﻿Hauptansprechpartner*in&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Möchtest du den*die Hauptansprechpartner*in (operativ) auf dem Account anpassen? Du kannst den MQL Kontakt &lt;strong&gt;{!Get_Contact.Name}&lt;/strong&gt; oder einen anderen Kontakt wählen.&lt;/p&gt;&lt;p&gt;Beachte: Wenn du einen vorhandenen Kontakt hier entfernst und das Feld leer lässt, wird der Kontakt entsprechend als &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Hauptansprechpartner*in (operativ) entfernt und das Feld wird auch auf dem Account leer sein.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Decision_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Decision_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KeyContact_Screen</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Key_Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Hauptansprechpartner*in (operativ)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Account.Key_Contact__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Decision_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ScreenText</name>
            <fieldText>&lt;p&gt;Diese Funktion ist nur für &lt;strong&gt;MQL Tasks&lt;/strong&gt; verfügbar und dieser Task ist kein MQL Task.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Opp</name>
        <label>New Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ScreenText2</name>
            <fieldText>&lt;p&gt;Eine neue &lt;a href=&quot;/{!Opp_Creation2.varNewOppId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Opportunity&lt;/a&gt; wurde erstellt.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redirection_to_Opp_Creation</name>
        <label>Redirection to Opp Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Opp_Creation2</targetReference>
        </connector>
        <fields>
            <name>ScreenText2</name>
            <fieldText>&lt;p&gt;Es gibt keine offene Opportunity auf diesem Account. Du wirst jetzt zur Opportunity Erstellung weitergeleitet. Die MQL Qualifizierung kann erst NACH erfolgreicher Opportunity Erstellung beendet werden.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Contact_Role</name>
        <label>Update Contact Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ScreenText3</name>
            <fieldText>&lt;p&gt;Der Kontakt wurde als Kontaktrolle zu der offenen Opportunity &lt;a href=&quot;/{!Get_Open_Opportunity.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Open_Opportunity.Name}&lt;/a&gt; hinzugefügt.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>NOT(1)</conditionLogic>
                <conditions>
                    <leftValueReference>varMatchingContactRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ScreenText4</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Es existiert bereits eine offene &lt;/span&gt;Opportunity&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;a href=&quot;https://heyjobs--acqn.sandbox.lightning.force.com/%7B!Get_Open_Opportunity.Id%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(1, 118, 211);&quot;&gt;{!Get_Open_Opportunity.Name}&lt;/a&gt; und der Kontakt war schon eine Kontaktrolle auf dieser Opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varMatchingContactRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Opp_Creation2</name>
        <label>Opp Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Contact2</targetReference>
        </connector>
        <flowName>Manual_Opp_Creation</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Task.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMQLTask</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMatchingContactRole</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varQualificationOutcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
