force-app/main/default/flows/MQL_Score_on_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Active</name>
        <label>Active</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Remove_Active_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>(1 OR 4 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>fmlisNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Active_Lookup</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_leads_to_be_lost</name>
        <label>Duplicate leads to be lost</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_lead_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Timestamp_Hubspot_merge_complete__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Timestamp_Hubspot_merge_complete__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_to_be_lost</targetReference>
            </connector>
            <label>Duplicate lead exists</label>
        </rules>
    </decisions>
    <description>RO-1607 , RO - 1653, RO-1736, Moved the update of Engagement score and MQL type to another flow, Fix for Active Contacts Related List,RO-2469,HeyAssessment, RO-2538, RO - 2747</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlisNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>MQL Score on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact ( After Update)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Clear_Datagroomr_merged_lead_id</name>
        <label>Clear Datagroomr merged lead id</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Active</targetReference>
        </connector>
        <inputAssignments>
            <field>DataGroomr_Merged_Lead_Id__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_to_be_lost</name>
        <label>Lead to be lost</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Clear_Datagroomr_merged_lead_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DataGroomr_Merged_Lead_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loss_Reason__c</field>
            <value>
                <stringValue>Admin Only: Lead merged in Hubspot</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Populate_Active_Lookup</name>
        <label>Populate Active Lookup</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Active_Lookup__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Active_Lookup</name>
        <label>Remove Active Lookup</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Active_Lookup__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Duplicate_leads_to_be_lost</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
