force-app/main/default/flows/New_User_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Slack_Message</name>
        <label>Send Slack Message</label>
        <locationX>490</locationX>
        <locationY>492</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>formulaSlackMessageDeactivation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <stringValue>a2L9L00000008SuUAI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack_Message_2</name>
        <label>Send Slack Message</label>
        <locationX>754</locationX>
        <locationY>384</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>formulaSlackMessageActivation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <stringValue>a2L9L00000008SuUAI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_if_the_user_has_a_relevant_Sales_profile</name>
        <label>Check if the user has a relevant Sales profile</label>
        <locationX>182</locationX>
        <locationY>816</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_10</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Small Account Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Large Account Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise Account Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Head of Large Account Management</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Head of Small Account Management</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Head of Enterprise Account Management </stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_API_Enabled_permission_set</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Creation_or_Deactivation</name>
        <label>Creation or Deactivation</label>
        <locationX>600</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Update</targetReference>
            </connector>
            <label>New User</label>
        </rules>
        <rules>
            <name>User_is_deactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_x_to_Last_Name</targetReference>
            </connector>
            <label>User is deactivated</label>
        </rules>
        <rules>
            <name>Existing_user_activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Slack_Message_2</targetReference>
            </connector>
            <label>Existing user activated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eligible_for_Unlimited</name>
        <label>Eligible for Unlimited</label>
        <locationX>1414</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Read Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer Operations Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Head of Customer Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Revenue Projects Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sales_Cloud_Unlimited_Permission_Set_Group_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Update and notifications when users are created, deactivated or reactivated, Assignment of API Permission set for Demodesk</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_xLastName</name>
        <dataType>String</dataType>
        <expression>&quot;x&quot;+{!$Record.LastName}</expression>
    </formulas>
    <formulas>
        <name>formulaGoogleSheetLink</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;&quot; &amp; &quot;https://docs.google.com/spreadsheets/d/1DVjT9RtKRHY99L0uUBTkvDuiT-0Sdw9QixhRLaWxUhU/edit#gid=2045802512&quot; &amp;  &quot;|&quot; &amp; &quot;Offboarding Checklist&quot; &amp; &quot;&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>formulaSlackMessageActivation</name>
        <dataType>String</dataType>
        <expression>&quot;The user &quot; + {!formulaUserURL} + &quot; has been reactivated in Salesforce. Please check. &quot;</expression>
    </formulas>
    <formulas>
        <name>formulaSlackMessageDeactivation</name>
        <dataType>String</dataType>
        <expression>&quot;The user &quot; + {!formulaUserURL} + &quot; has been deactivated in Salesforce. Please update the &quot; + {!formulaGoogleSheetLink}</expression>
    </formulas>
    <formulas>
        <name>formulaUserURL</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;&quot; &amp; &quot;https://heyjobs.lightning.force.com/lightning/setup/ManageUsers/page?address=%2F&quot; &amp; {!$Record.Id} &amp; &quot;%3Fnoredirect%3D1%26isUserEntityOverride%3D1&quot; &amp;  &quot;|&quot; &amp; {!$Record.FirstName} &amp; &quot; &quot; &amp; {!$Record.LastName} &amp; &quot;&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>New User Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On/Offboarding Users</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Assign_API_Enabled_permission_set</name>
        <label>Assign API Enabled permission set</label>
        <locationX>50</locationX>
        <locationY>924</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.User_ID_18__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>varAPIEnabledPermissionSetId</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Assign_Basic_User_Permissions_Set_Group</name>
        <label>Assign Basic User Permissions Set Group</label>
        <locationX>182</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Get_API_Enabled_Permission_set</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetGroupId</field>
            <value>
                <elementReference>varBasicUserPermissionsID</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Assign_Sales_Cloud_Unlimited_Permission_Set_Group</name>
        <label>Assign Sales Cloud Unlimited Permission Set Group</label>
        <locationX>1282</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetGroupId</field>
            <value>
                <elementReference>varUnlimitedAccessID</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_API_Enabled_Permission_set</name>
        <label>Get API Enabled Permission set</label>
        <locationX>182</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_the_user_has_a_relevant_Sales_profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>API_Enabled</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>varAPIEnabledPermissionSetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Basic_User_Permissions_Set_Group_ID</name>
        <label>Get Basic User Permissions Set Group ID</label>
        <locationX>182</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Basic_User_Permissions_Set_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Basic_User_Permissions</stringValue>
            </value>
        </filters>
        <object>PermissionSetGroup</object>
        <outputAssignments>
            <assignToReference>varBasicUserPermissionsID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Cloud_Unlimited_Permission_Set_Group_ID</name>
        <label>Get Sales Cloud Unlimited Permission Set Group ID</label>
        <locationX>1282</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Sales_Cloud_Unlimited_Permission_Set_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Cloud_Unlimited_Access</stringValue>
            </value>
        </filters>
        <object>PermissionSetGroup</object>
        <outputAssignments>
            <assignToReference>varUnlimitedAccessID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Add_x_to_Last_Name</name>
        <label>Add x to Last Name</label>
        <locationX>490</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Send_Slack_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>formula_xLastName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>User_Update</name>
        <label>User Update</label>
        <locationX>182</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Get_Basic_User_Permissions_Set_Group_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>CallCenterId</field>
            <value>
                <stringValue>04v0Y000000bnOz</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastEnabled</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>881</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Creation_or_Deactivation</targetReference>
        </connector>
        <filterFormula>OR(
ISNEW(),
AND( ISCHANGED( {!$Record.IsActive} ) , NOT(  {!$Record.IsActive} ) ),
AND( ISCHANGED( {!$Record.IsActive} ) , {!$Record.IsActive} )
)</filterFormula>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X1min_after_Creation</name>
            <connector>
                <targetReference>Eligible_for_Unlimited</targetReference>
            </connector>
            <label>1min after Creation</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TextTemplate_xLastName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>x+{!$Record.LastName}</text>
    </textTemplates>
    <variables>
        <name>varAPIEnabledPermissionSetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBasicUserPermissionsID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUnlimitedAccessID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
