force-app/main/default/flows/New_Onboarding_Documentation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Link_new_documentation_to_Account</name>
        <label>Link new documentation to Account</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Onboarding_Documentation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewAccDocumentationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Udpate_Account</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceCopy</name>
        <choiceText>Copy and Edit Existing documentation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Copy and Edit Existing documentation</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceEmpty</name>
        <choiceText>Create New Documentation from Scratch</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create New Documentation from Scratch</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Existing_Documentation_linked</name>
        <label>Existing Documentation linked?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>New_Documentation_NonExisting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Onboarding_Documentation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO-2453</description>
    <environments>Default</environments>
    <interviewLabel>New Onboarding Documentation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Onboarding Documentation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Onboarding_Documentation</name>
        <label>Create Onboarding Documentation</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>varNewAccDocumentationId</assignRecordIdToReference>
        <connector>
            <targetReference>Link_new_documentation_to_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content__c</field>
            <value>
                <elementReference>NewDocumentation_NonExisting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Onboarding Documentation</stringValue>
            </value>
        </inputAssignments>
        <object>Customer_360__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Documentation_linked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Udpate_Account</name>
        <label>Udpate Account</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ScreenText1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;An Onboarding Documentation already exists. Please update the existing documentation in the &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Documentation&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; tab.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Documentation_NonExisting</name>
        <label>New Documentation</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Onboarding_Documentation</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_ScreenText_Selection</name>
            <fieldText>&lt;p&gt;Please provide the new documentation&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewDocumentation_NonExisting</name>
            <fieldText>Content</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Create new Documentation</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewAccDocumentationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
