force-app/main/default/flows/Opportunity_ClosedWon_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>RO-1772, RO-1915</description>
        <name>new_slack_message_to_contracts_channel</name>
        <label>new slack message to contracts channel</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <actionName>Opportunity.contracts_channel_slack_message_2</actionName>
        <actionType>outboundMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Opportunity.contracts_channel_slack_message_2</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>save_log</name>
        <label>save log</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>Logger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>testing_the_rec</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Logger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>trigger_log</name>
        <label>trigger log</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>save_log</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Opportunity_ClosedWon_Notifications</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Closed Won notification flow triggered for {!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <description>RO - 1772,RO-1915</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity_ClosedWon_Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity_ClosedWon_Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>testing_the_rec</name>
        <label>testing the rec</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>new_slack_message_to_contracts_channel</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>The slack flow is triggering</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>trigger_log</targetReference>
        </connector>
        <filterLogic>((1 AND 2) OR (3 AND 4)) AND 5</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract received</stringValue>
            </value>
        </filters>
        <filters>
            <field>Instant_Purchase__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Instant_Purchase__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
