force-app/main/default/flows/Opportunity_Flow_after_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Zapier_To_Slack</name>
        <label>Zapier To Slack</label>
        <locationX>50</locationX>
        <locationY>1692</locationY>
        <actionName>Opportunity.Send_Slack_Message_Customer_Self_Service</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>HouseKeeping_Owner_RT_Alignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Opportunity.Send_Slack_Message_Customer_Self_Service</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Zapier_To_Slack_Onlinekauf</name>
        <label>Zapier To Slack Onlinekauf</label>
        <locationX>314</locationX>
        <locationY>1692</locationY>
        <actionName>Opportunity.Send_Slack_Message_Customer_Self_Service</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>HouseKeeping_Owner_RT_Alignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Opportunity.Send_Slack_Message_Customer_Self_Service</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_values</name>
        <label>Assign values</label>
        <locationX>270</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>varContractStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLatestOpp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_related_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Keep_Acc_Dunning_Email</name>
        <label>Keep Acc Dunning Email</label>
        <locationX>446</locationX>
        <locationY>2292</locationY>
        <assignmentItems>
            <assignToReference>varAccDunningEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Dunning_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Open_Opp_ID_on_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Open_Opp_Id</name>
        <label>Remove Open Opp Id</label>
        <locationX>446</locationX>
        <locationY>2592</locationY>
        <assignmentItems>
            <assignToReference>varAccOpenOppID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Opp_update_to_Closed_Won_Lost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Acc_Dunning_Email</name>
        <label>Update Acc Dunning Email</label>
        <locationX>182</locationX>
        <locationY>2292</locationY>
        <assignmentItems>
            <assignToReference>varAccDunningEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Billing_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Open_Opp_ID_on_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Open_Opp_Id</name>
        <label>Update Open Opp Id</label>
        <locationX>182</locationX>
        <locationY>2592</locationY>
        <assignmentItems>
            <assignToReference>varAccOpenOppID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_update_to_Closed_Won_Lost</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Agency</name>
        <label>Agency Opp contract start date</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Customer_Self_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Latest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Start_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_related_Opps</targetReference>
            </connector>
            <label>Latest</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contract_Start_date</name>
        <label>Check Contract Start date</label>
        <locationX>402</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>Loop_over_related_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Latest2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_related_Opps.Contract_Start_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varContractStartDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values</targetReference>
            </connector>
            <label>Latest</label>
        </rules>
    </decisions>
    <decisions>
        <name>Closed_Won_Opp_Found</name>
        <label>Closed Won Opp Found</label>
        <locationX>1150</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Closed_Won_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_contact_role</targetReference>
            </connector>
            <label>found3</label>
        </rules>
    </decisions>
    <decisions>
        <name>contact_role_assigned</name>
        <label>contact role assigned</label>
        <locationX>1249</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Role_Assigned__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Self_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Transactional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Open_Opportunities</targetReference>
            </connector>
            <label>yes1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Self_Service</name>
        <label>Customer Self Service</label>
        <locationX>314</locationX>
        <locationY>1476</locationY>
        <defaultConnector>
            <targetReference>HouseKeeping_Owner_RT_Alignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Instant_Purchase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Instant_Purchase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Self_Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Quote</targetReference>
            </connector>
            <label>Instant Purchase</label>
        </rules>
        <rules>
            <name>Non_Instant_Purchase</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onlinekauf__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account_Management</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Quote_0</targetReference>
            </connector>
            <label>Non-Instant Purchase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dunning_Email_on_Account</name>
        <label>Dunning Email on Account</label>
        <locationX>314</locationX>
        <locationY>2184</locationY>
        <defaultConnector>
            <targetReference>Keep_Acc_Dunning_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Empty</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Dunning_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Acc_Dunning_Email</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>HouseKeeping_Owner_RT_Alignment</name>
        <label>HouseKeeping Owner / RT Alignment?</label>
        <locationX>314</locationX>
        <locationY>1884</locationY>
        <defaultConnector>
            <targetReference>Housekeeping_Acc_Opp_Owner_RT_Alignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Inventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Inventory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dunning_Email_on_Account</targetReference>
            </connector>
            <label>No (Inventory)</label>
        </rules>
        <rules>
            <name>No_Closed_opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dunning_Email_on_Account</targetReference>
            </connector>
            <label>No (Closed opp)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Moved_to_Demo_Held</name>
        <label>Moved to Demo Held / Pitch and Negotiation</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Agency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_14</name>
            <conditionLogic>(1 OR 7) AND ( 2 OR 3 OR (4 AND 5 AND 6))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demo Held</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pitch &amp; Negotiation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pipeline_Generated_snapshot__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OppSalesTransactionalRT</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pipeline_Generated_snapshot</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Opportunity_exists</name>
        <label>Open Opportunity exists</label>
        <locationX>952</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Find_Closed_Won_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Open_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Role2</targetReference>
            </connector>
            <label>found2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_update_to_Closed_Won_Lost</name>
        <label>Opp updated to Closed Won/Lost?</label>
        <locationX>314</locationX>
        <locationY>2784</locationY>
        <defaultConnector>
            <targetReference>Update_all_Account_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_3</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Cleanup</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Open_Opp_ID_on_Account</name>
        <label>Update Open Opp ID on Account?</label>
        <locationX>314</locationX>
        <locationY>2484</locationY>
        <defaultConnector>
            <targetReference>Remove_Open_Opp_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Open_Opp_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO-1642,RO-574, RO-649, RO-663, RO-756, RO-753, RO-658, RO-786, RO-857, RO-933, RO-1079, RO-1172, RO-1224, RO-1239, RO-1248, RO-1549, RO-1663, RO-1618, RO-1622, RO - 1692 , RO - 1856, RO-1927, RO-1966, RO-2045, RO-2089,RO-2176, RO - 2544, RO-2747</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Opportunity Flow (after update) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Flow (after update)</label>
    <loops>
        <name>Loop_over_related_Opps</name>
        <label>Loop over related Opps</label>
        <locationX>182</locationX>
        <locationY>792</locationY>
        <collectionReference>Get_related_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Contract_Start_date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opp_Framework_Group_Opp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>50</locationX>
        <locationY>1584</locationY>
        <connector>
            <targetReference>Zapier_To_Slack</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s0Y000006XNcpQAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Period__c</field>
            <value>
                <stringValue>6 months</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_0</name>
        <label>Create Quote</label>
        <locationX>314</locationX>
        <locationY>1584</locationY>
        <connector>
            <targetReference>Zapier_To_Slack_Onlinekauf</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s0Y000006XNcpQAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Period__c</field>
            <value>
                <stringValue>6 months</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Closed_Won_Opportunities</name>
        <label>Find Closed Won Opportunities</label>
        <locationX>1150</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Closed_Won_Opp_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Role_Assigned__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>dateTimestampClosedWonLost__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Open_Opportunities</name>
        <label>Find Open Opportunities</label>
        <locationX>952</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Opportunity_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Role_Assigned__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_Opps</name>
        <label>Get related Opps</label>
        <locationX>182</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_related_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Framework_Opportunity_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Framework_Opportunity_Group__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contract_Start_Date__c</queriedFields>
        <queriedFields>Contract_End_Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_all_Account_fields</name>
        <label>Update all Account fields</label>
        <locationX>314</locationX>
        <locationY>3084</locationY>
        <connector>
            <targetReference>Update_all_Opp_fields</targetReference>
        </connector>
        <inputAssignments>
            <field>Dunning_Email__c</field>
            <value>
                <elementReference>varAccDunningEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_Opportunity_ID__c</field>
            <value>
                <elementReference>varAccOpenOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varAccOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varAccRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_all_Opp_fields</name>
        <label>Update all Opp fields</label>
        <locationX>314</locationX>
        <locationY>3192</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOppOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Framework_Group_Opp</name>
        <label>Update Opp Framework Group Opp</label>
        <locationX>182</locationX>
        <locationY>1284</locationY>
        <connector>
            <targetReference>Customer_Self_Service</targetReference>
        </connector>
        <inputAssignments>
            <field>Framework_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Framework_Opportunity_Groups__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pipeline_Generated_snapshot</name>
        <label>Update Pipeline Generated snapshot</label>
        <locationX>182</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Agency</targetReference>
        </connector>
        <inputAssignments>
            <field>Pipeline_Generated_snapshot__c</field>
            <value>
                <elementReference>$Record.Pipeline_Generated__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>655</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Moved_to_Demo_Held</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>contact_role_assignment</name>
            <connector>
                <targetReference>contact_role_assigned</targetReference>
            </connector>
            <label>contact role assignment</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Created_DateTime__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_contact_role</name>
        <label>Assign contact role</label>
        <locationX>1018</locationX>
        <locationY>816</locationY>
        <flowName>Assign_Contact_Roles_from_Old_to_New_Opp</flowName>
        <inputAssignments>
            <name>varNewOppID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOldOppID</name>
            <value>
                <elementReference>Find_Closed_Won_Opportunities.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Contact_Role2</name>
        <label>Assign Contact Role2</label>
        <locationX>754</locationX>
        <locationY>600</locationY>
        <flowName>Assign_Contact_Roles_from_Old_to_New_Opp</flowName>
        <inputAssignments>
            <name>varNewOppID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOldOppID</name>
            <value>
                <elementReference>Find_Open_Opportunities.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Housekeeping_Acc_Opp_Owner_RT_Alignment</name>
        <label>Housekeeping - Acc/Opp Owner &amp; RT Alignment</label>
        <locationX>490</locationX>
        <locationY>1992</locationY>
        <connector>
            <targetReference>Dunning_Email_on_Account</targetReference>
        </connector>
        <flowName>Housekeeping_Acc_Opp_Owner_RT_Alignment</flowName>
        <inputAssignments>
            <name>varIsNew</name>
            <value>
                <elementReference>IsNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOppRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varAccOwnerID</assignToReference>
            <name>varAccOwnerID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccRecordTypeID</assignToReference>
            <name>varAccRecordTypeID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOppOwnerID</assignToReference>
            <name>varOppOwnerID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Task_Cleanup</name>
        <label>Task Cleanup</label>
        <locationX>182</locationX>
        <locationY>2892</locationY>
        <connector>
            <targetReference>Update_all_Account_fields</targetReference>
        </connector>
        <flowName>Task_Cleanup_for_Closed_Opps</flowName>
        <inputAssignments>
            <name>varOpportunity</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>textOfferSentSlackMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Owner.Full_Name__c} just sent an offer to {!$Record.Account.Name} in the amount of {!$Record.Amount} {!$Record.CurrencyIsoCode}! Awesome!</text>
    </textTemplates>
    <variables>
        <name>varAccDunningEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccOpenOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Account.Owner.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>varAccRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Account.RecordType.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>varContractStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateValue>2020-01-01</dateValue>
        </value>
    </variables>
    <variables>
        <name>varLatestOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOppOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Owner.Id</elementReference>
        </value>
    </variables>
</Flow>
