force-app/main/default/flows/Opportunity_Lost_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Has_another_open_opp</name>
        <label>Has another open opp?</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpenOppid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Timestamp_Reactivation_Empty</name>
        <label>Timestamp Reactivation Empty</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Has_another_open_opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpp.Timestamp_Reactivation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Timestamp_Reactivation_on_Opp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO-1557 , RO - 2265 , RO - 2355, RO-2383, RO - 2650</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlGTMMotionAlignmentHelperUpdate</name>
        <dataType>Boolean</dataType>
        <expression>NOT(  {!varOpp.Account.GTM_Motion_Alignment_Helper__c}  )</expression>
    </formulas>
    <interviewLabel>Opportunity Lost Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Lost Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpp.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Follow_up_Date_Account__c</field>
            <value>
                <elementReference>varOpp.Timestamp_Reactivation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GTM_Motion_Alignment_Helper__c</field>
            <value>
                <elementReference>fmlGTMMotionAlignmentHelperUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Lost_Opportunity__c</field>
            <value>
                <elementReference>varOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_Opportunity_ID__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varAccountRTId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_ACM__c</field>
            <value>
                <elementReference>varStageACM</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_2</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>542</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpp.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Follow_up_Date_Account__c</field>
            <value>
                <elementReference>varOpp.Timestamp_Reactivation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GTM_Motion_Alignment_Helper__c</field>
            <value>
                <elementReference>fmlGTMMotionAlignmentHelperUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Lost_Opportunity__c</field>
            <value>
                <elementReference>varOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_Opportunity_ID__c</field>
            <value>
                <elementReference>varOpenOppid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varAccountRTId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_ACM__c</field>
            <value>
                <elementReference>varStageACM</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Timestamp_Reactivation_on_Opp</name>
        <label>Update Timestamp Reactivation on Opp</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Has_another_open_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Timestamp_Reactivation__c</field>
            <value>
                <elementReference>varTimestampReactivation</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Timestamp_Reactivation_Empty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeadGenID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpenOppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varStageACM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimestampReactivation</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
