force-app/main/default/flows/Opportunity_Before_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Update_Opp_1</name>
        <label>Update Opp</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opportunity_type_3</name>
        <label>Update Opportunity type</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prospecting_Stage_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opportunity_type_4</name>
        <label>Update Opportunity type</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hunting</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prospecting_Stage_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Source_Opp_3</name>
        <label>Update Source Opp</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Source_Opp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>E-Mail</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Timestamp_Original_Prospecting_activity</name>
        <label>Update Timestamp Original Prospecting activity</label>
        <locationX>182</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.Timestamp_Original_Prospecting_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Marketing_Hotline</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Marketing_Hotline</name>
        <label>Marketing Hotline</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Hotline__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Hotline__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Source_Opp_3</targetReference>
            </connector>
            <label>Is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prospecting_Stage_Change</name>
        <label>Prospecting Stage Change</label>
        <locationX>314</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Marketing_Hotline</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>1 AND (2 OR 3) AND (4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency_Acquisition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e1v000001nRQm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e0Y000001hJ5K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Timestamp_Original_Prospecting_Activity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Timestamp_Original_Prospecting_activity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Self_service_Opportunity</name>
        <label>Self service Opportunity?</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND 2 AND ((3 AND 4) OR (5 AND 6))</conditionLogic>
            <conditions>
                <leftValueReference>fmlCheckIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Converted_Lead_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onlinekauf__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Management</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Instant_Purchase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Self Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type</name>
        <label>Type</label>
        <locationX>314</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Prospecting_Stage_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prospecting</name>
            <conditionLogic>(1 OR 7) AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not reached yet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified Prospect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Currently in Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rescheduling</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency_Acquisition</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_type_3</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Prospecting</label>
        </rules>
        <rules>
            <name>Hunting</name>
            <conditionLogic>(1 OR 8) AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demo Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demo Held</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pilot Definition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency_Acquisition</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_type_4</targetReference>
            </connector>
            <label>Hunting</label>
        </rules>
    </decisions>
    <description>RO - 1856</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlCheckIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>fmlCurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Opportunity ( Before Update) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity ( Before Update)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Self_service_Opportunity</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
