force-app/main/default/flows/Opportunity_contact_role_deletion_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>varNumberContactRoles</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_all_Related_Contact_Roles</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNumberContactRolesWithRoles</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_all_other_Related_Contact_Roles_w_Roles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_all_Contact_Roles_have_Roles</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_all_Contact_Roles_have_Roles</name>
        <label>Do all Contact Roles have Roles?</label>
        <locationX>182</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Contact_Role_Assigned_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumberContactRoles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varNumberContactRolesWithRoles</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Role_Assigned_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remaining_Contact_Roles</name>
        <label>Remaining Contact Roles?</label>
        <locationX>380</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Update_Records_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Remaining_Contact_Roles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_Related_Contact_Roles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_other_Related_Contact_Roles_w_Roles</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO-2079, RO-2275, RO-2348</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity contact role deletion flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity contact role deletion flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_other_Related_Contact_Roles_w_Roles</name>
        <label>Get all other Related Contact Roles w/ Roles</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Related_Contact_Roles</name>
        <label>Get all other Related Contact Roles</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remaining_Contact_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Contact_Role_Assigned_False</name>
        <label>Contact Role Assigned = False</label>
        <locationX>314</locationX>
        <locationY>827</locationY>
        <inputAssignments>
            <field>Contact_Role_Assigned__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Contact_Role_Assigned_True</name>
        <label>Contact Role Assigned = True</label>
        <locationX>50</locationX>
        <locationY>827</locationY>
        <inputAssignments>
            <field>Contact_Role_Assigned__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Contact_Role_Assigned__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_Related_Contact_Roles</targetReference>
        </connector>
        <object>OpportunityContactRole</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varNumberContactRoles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varNumberContactRolesWithRoles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
