force-app/main/default/flows/Partner_Fields_Account_to_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Expired_Values</name>
        <label>Set Partner Values to 0 (Expired)</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>$Record.Partner_Basis_AE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Base_AE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Boost_AE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Partner_Kickback_3_AE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Base_Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Boost_Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Partner_Kickback_Threshold_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Partner_Current_AE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Partner_Contract_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Source_Account.Partner_Contract_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Partner_Contract_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Source_Account.Partner_Contract_End_Date__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Partner_Values</name>
        <label>Copy Partner Values from Account</label>
        <locationX>352</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>$Record.Partner_Basis_AE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Source_Account.Partner_Basis_AE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Base_AE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Source_Account.Partner_Kickback_1_AE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Boost_AE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Source_Account.Partner_Kickback_2_AE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Partner_Kickback_3_AE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Source_Account.Partner_Kickback_3_AE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Base_Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Source_Account.Partner_Kickback_Threshold_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Boost_Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Source_Account.Partner_Kickback_Threshold_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Partner_Kickback_Threshold_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Source_Account.Partner_Kickback_Threshold_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Partner_Current_AE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Source_Account.Partner_Current_AE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Partner_Contract_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Source_Account.Partner_Contract_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Partner_Contract_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Source_Account.Partner_Contract_End_Date__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Contract_Expired</name>
        <label>Contract Expired?</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Partner_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active Contract</defaultConnectorLabel>
        <rules>
            <name>Contract_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmContractExpired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Expired_Values</targetReference>
            </connector>
            <label>Expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Has_Partner_Contract</name>
        <label>Has Partner Contract?</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No Contract</defaultConnectorLabel>
        <rules>
            <name>Has_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Source_Account.Partner_Contract_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contract_Expired</targetReference>
            </connector>
            <label>Has Contract</label>
        </rules>
    </decisions>
    <description>RO-2858, RO-2864 — On agency Opportunity creation, copies Partner fields from the ultimate parent Account. If contract expired (today &gt; Partner_Contract_End_Date__c), sets commission and threshold fields to 0. Only triggers for Agency record types.</description>
    <environments>Default</environments>
    <formulas>
        <name>frmContractExpired</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    NOT(ISBLANK({!Get_Source_Account.Partner_Contract_End_Date__c})),
    {!$Flow.CurrentDate} &gt; {!Get_Source_Account.Partner_Contract_End_Date__c}
)</expression>
    </formulas>
    <formulas>
        <name>frmSourceAccountId</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!Get_Account.Ultimate_Parent_Account_Id__c}),
    {!$Record.AccountId},
    {!Get_Account.Ultimate_Parent_Account_Id__c}
)</expression>
    </formulas>
    <interviewLabel>Partner Fields Account to Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Fields Account to Opp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Source_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Source_Account</name>
        <label>Get Source Account (Ultimate Parent)</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Has_Partner_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmSourceAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0129L0000004I2HQAU</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121v000000z1JnAAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121v000000z1JsAAI</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
