force-app/main/default/flows/Populate_Quote_Product_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Mark_as_PPCP</name>
        <label>Mark as PPCP</label>
        <locationX>666</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>varNumberofPPCP</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Quote_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mark_as_REACH</name>
        <label>Mark as REACH</label>
        <locationX>402</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>numberOfReachProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Quote_Line_Items</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>REACH</name>
        <dataType>String</dataType>
        <value>
            <stringValue>REACH</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_REACH_Products</name>
        <label>Check for Products</label>
        <locationX>666</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Loop_over_Quote_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>HIRE</defaultConnectorLabel>
        <rules>
            <name>Contains_REACH_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Quote_Line_Items.Product2.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>REACH</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_as_REACH</targetReference>
            </connector>
            <label>Contains REACH Product</label>
        </rules>
        <rules>
            <name>Contains_PPCP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Quote_Line_Items.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Product_Name_PPCP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_as_PPCP</targetReference>
            </connector>
            <label>Contains PPCP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opp_stage</name>
        <label>Check Opp stage</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_Quote_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pre_In_Discussion</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre- Discussion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Discussion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>Pre / In-Discussion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote_Line_Item</name>
        <label>Check Quote Line Items</label>
        <locationX>314</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Update_Product_Family2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>HIRE</defaultConnectorLabel>
        <rules>
            <name>Contains_REACH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfReachProducts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product_Family</targetReference>
            </connector>
            <label>Contains REACH</label>
        </rules>
        <rules>
            <name>ContainsPPCP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfReachProducts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LineItemCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNumberofPPCP</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product_Family_3</targetReference>
            </connector>
            <label>Contains PPCP</label>
        </rules>
    </decisions>
    <description>RO-1547, RO-1765, RO - 2715</description>
    <environments>Default</environments>
    <interviewLabel>Populate Quote Product Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Quote Product Type</label>
    <loops>
        <name>Loop_over_Quote_Line_Items</name>
        <label>Loop over Quote Line Items</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <collectionReference>Check_Quote_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_REACH_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Quote_Line_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_Quote_Line_Items</name>
        <label>Check Quote Line Items</label>
        <locationX>314</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Quote_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_Quote_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Offer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SyncedQuoteId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Family</name>
        <label>Update Product Family</label>
        <locationX>50</locationX>
        <locationY>1331</locationY>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>REACH</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Family2</name>
        <label>Update Product Family</label>
        <locationX>578</locationX>
        <locationY>1331</locationY>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>HIRE</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Family_3</name>
        <label>Update Product Family</label>
        <locationX>314</locationX>
        <locationY>1331</locationY>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>PPCP</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Opp_stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LineItemCount</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>numberOfReachProducts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varNumberofPPCP</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
