force-app/main/default/flows/Quote_Acceptance_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>New lines are not preserved if we use the value of a long text area field and display it in a rich text field on screen. When we replace newline characters by HTML tags, we can display the text properly</description>
        <name>Replace_New_Lines_in_Annotations</name>
        <label>Replace New Lines in Annotations</label>
        <locationX>512</locationX>
        <locationY>1274</locationY>
        <actionName>ReplaceNewlinesWithHtmlTags</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Annotations2</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputTextList</name>
            <value>
                <elementReference>Get_Quote.txtContractAnnotation__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ReplaceNewlinesWithHtmlTags</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Contact_Data</name>
        <label>Assign Contact Data</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>varScreenInput_ContactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaContactEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScreenInput_Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice_Contact_Data.Salutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScreenInput_FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice_Contact_Data.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScreenInput_LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice_Contact_Data.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Quote_Acceptance_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactDataComplete</name>
        <label>Contact Data Complete</label>
        <locationX>842</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>varContactDataMissing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_File_Upload</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactDataMissing</name>
        <label>Contact Data Missing</label>
        <locationX>1106</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>varContactDataMissing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_File_Upload</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>File_Upload_Skipped</name>
        <label>File Upload Skipped</label>
        <locationX>1106</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>varFileUploadSkipped</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Quote_Acceptance_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>File_Uploaded_2</name>
        <label>File Uploaded</label>
        <locationX>842</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>varFileUploadSkipped</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Quote_Acceptance_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Onboarding_Contact_Empty</name>
        <label>Onboarding Contact Empty</label>
        <locationX>578</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>varOnboardingContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepopulate_Comment_on_Screen</name>
        <label>Prepopulate Comment on Screen</label>
        <locationX>380</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>ScreenInput_CommentCusOpsACM.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>templateAnnotations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Acceptance_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Saves all current values to make sure that the input remains the same when going back to the screen</description>
        <name>Save_Input_Values</name>
        <label>Save Input Values</label>
        <locationX>380</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>varScreenInputPurchaseDecisonBehavior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenInput_PurchaseDecisionBehavior</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScreenInputATSName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenInput_ATSName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScreenInputWinReasons</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenInput_WinReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScreenInputWinReasonsDetail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenInputWinReasonsDetails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScreenInput_CommentCusOpsACM.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenInput_CommentCusOpsACM.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScreenInput_Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varScreenInput_Salutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScreenInput_FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varScreenInput_FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScreenInput_LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varScreenInput_LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScreenInput_ContactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varScreenInput_ContactEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScreenInputInstallmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenInput_Installment_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAutoCreateOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenInput_AutoOppCreation.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAmountNewOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_for_new_Opp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScreenInputServicePeriod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaServicePeriod</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Custom_Button_clicked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Annotations2</name>
        <label>Set Annotations</label>
        <locationX>512</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>varPrePopulatedAnnotations</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Replace_New_Lines_in_Annotations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepopulate_Comment_on_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Annotatios</name>
        <label>Set Annotations</label>
        <locationX>248</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>varPrePopulatedAnnotations</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepopulate_Comment_on_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Onboarding_Contact</name>
        <label>Set Onboarding Contact</label>
        <locationX>314</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>varOnboardingContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenInput_OnboardingContact.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ServicePeriod_10M</name>
        <choiceText>10 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>ServicePeriod_11M</name>
        <choiceText>11 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>ServicePeriod_12M</name>
        <choiceText>12 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>ServicePeriod_13M</name>
        <choiceText>13 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>13 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>ServicePeriod_14M</name>
        <choiceText>14 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>14 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>ServicePeriod_15M</name>
        <choiceText>15 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>15 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>ServicePeriod_16M</name>
        <choiceText>16 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>16 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>ServicePeriod_17M</name>
        <choiceText>17 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>17 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>ServicePeriod_18M</name>
        <choiceText>18 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>18 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>ServicePeriod_19M</name>
        <choiceText>19 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>19 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>ServicePeriod_20M</name>
        <choiceText>20 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>20 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>ServicePeriod_21M</name>
        <choiceText>21 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>21 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>ServicePeriod_22M</name>
        <choiceText>22 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>22 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>ServicePeriod_23M</name>
        <choiceText>23 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>23 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>ServicePeriod_24M</name>
        <choiceText>24 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>24 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>ServicePeriod_6M</name>
        <choiceText>6 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>ServicePeriod_7M</name>
        <choiceText>7 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>ServicePeriod_8M</name>
        <choiceText>8 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>ServicePeriod_9M</name>
        <choiceText>9 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9 months</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Contact_Data</name>
        <label>Check Contact Data</label>
        <locationX>974</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>ContactDataMissing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Data Missing</defaultConnectorLabel>
        <rules>
            <name>Contact_Data_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaEmptyLastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaEmptySalutation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaEmptyEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactDataComplete</targetReference>
            </connector>
            <label>Contact Data Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Data</name>
        <label>Check Data</label>
        <locationX>710</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Check_Contact_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Data Missing</defaultConnectorLabel>
        <rules>
            <name>All_good</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 9 OR 5 OR 6) AND 7 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>formulaEmptyLastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaEmptySalutation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaEmptyEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaUploadFileLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Onlinekauf__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inventory_Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varScreenInputPurchaseDecisonBehavior</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varScreenInputPurchaseDecisonBehavior</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Deciding, no invoice</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaIsCusOpsUserOnAgencyOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account2</targetReference>
            </connector>
            <label>All good</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_File_Upload</name>
        <label>Check File Upload</label>
        <locationX>974</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>File_Upload_Skipped</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No File Uploaded</defaultConnectorLabel>
        <rules>
            <name>File_Uploaded</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>formulaUploadFileLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Onlinekauf__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inventory_Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>File_Uploaded_2</targetReference>
            </connector>
            <label>File Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Annotations</name>
        <label>Contract Annotations</label>
        <locationX>380</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Replace_New_Lines_in_Annotations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not empty</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.txtContractAnnotation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Annotatios</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Custom_Button_clicked</name>
        <label>Custom Button clicked</label>
        <locationX>380</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Check_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RefreshButton.fire</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Invoice_Contact_Data</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>File_Uploaded_3</name>
        <label>File Uploaded</label>
        <locationX>446</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>Update_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaUploadFileLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attach_File_to_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proceed_with_Quote_Acceptance</name>
        <label>Proceed with Quote Acceptance</label>
        <locationX>336</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>continue_acceptance.fire</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Validations_Passed</name>
        <label>Quote Validations Passed?</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Error_Screen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Errors</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varValidationsPassed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>HeyPaket_New_Start_Date_Active_End_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varErrorMessage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varHeyPaketStartDateBeforeEndDateError</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Start_Date</targetReference>
            </connector>
            <label>[HeyPaket] New Start Date &lt; Active End Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>RT_Sales_Agency_Acquisition</name>
        <label>RT Sales/Agency Acquisition/Transactional?</label>
        <locationX>446</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Onboarding_Contact_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency_Acquisition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Transactional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Onboarding_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO-1271, RO-1272, RO-1425, RO-1458,RO-1528, RO-1485, RO-1548, Validations Refactoring, RO-1576, RO-1981, RO-2032, RO-2089, RO - 2166, Run the flow in system context without sharing - Access all data. RO-1999, RO-2419, Translating, RO-2561 , RO - 2794</description>
    <dynamicChoiceSets>
        <name>choiceSetATSName</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>plATSName__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSetInstallmentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Instalment_Type__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSetPurchaseDecisionBehavior</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Purchase_Decision_Behavior__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSetServicePeriod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Period__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSetWinReasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Win_Reasons__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formulaContactEmail</name>
        <dataType>String</dataType>
        <expression>IF( {!Get_Invoice_Contact_Data.Email} &lt;&gt;&quot;&quot; , {!Get_Invoice_Contact_Data.Email} ,{!Get_Opportunity.Account_Contact_Email__c}
)</expression>
    </formulas>
    <formulas>
        <name>formulaDisplayATSName</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!Get_Quote.Opportunity.Account.RecordType.DeveloperName} &lt;&gt; &quot;Agency_Customer_Sales&quot;,
{!Get_Quote.Opportunity.Account.RecordType.DeveloperName} &lt;&gt; &quot;Agency_Sales&quot;,
{!Get_Quote.Opportunity.Account.RecordType.DeveloperName} &lt;&gt; &quot;Inventory_Partner&quot;
)</expression>
    </formulas>
    <formulas>
        <name>formulaDisplayOppCreateOption</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!Get_Opportunity.RecordTypeId} = {!$Label.Opp_Sales_RT} ,
{!Get_Opportunity.RecordTypeId} = {!$Label.OppSalesTransactionalRT} ,
{!Get_Opportunity.RecordTypeId} = {!$Label.OppSecondPurchaseRT} ,
AND( {!Get_Opportunity.RecordTypeId} = {!$Label.OppAccManagementRT} , NOT( {!Get_Opportunity.Onlinekauf__c} ) )
)</expression>
    </formulas>
    <formulas>
        <name>formulaDisplayWinReasons</name>
        <dataType>Boolean</dataType>
        <expression>AND (
{!Get_Opportunity.RecordType.Name} &lt;&gt; &quot;Agency Customer Business&quot;,
{!Get_Opportunity.RecordType.Name} &lt;&gt; &quot;Agency Business&quot;,
{!Get_Opportunity.RecordType.Name} &lt;&gt; &quot;Agency Acquisition&quot;,
{!Get_Opportunity.RecordType.Name} &lt;&gt; &quot;Customer Self Service&quot;,
{!Get_Opportunity.Onlinekauf__c} = False,
{!$Profile.Id} != {!$Label.ProfileId_System_Admin},
{!$Profile.Id} !={!$Label.ProfileId_CusOps_Manager},
{!$Profile.Id} !={!$Label.ProfileId_Agency_Manager},
ISBLANK( TEXT( {!Get_Quote.Opportunity.Win_Reasons__c} ) )
)</expression>
    </formulas>
    <formulas>
        <name>formulaEmptyEmail</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!varScreenInput_ContactEmail})</expression>
    </formulas>
    <formulas>
        <name>formulaEmptyLastName</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!varScreenInput_LastName})</expression>
    </formulas>
    <formulas>
        <name>formulaEmptySalutation</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!varScreenInput_Salutation})</expression>
    </formulas>
    <formulas>
        <name>formulaGetContentDocID</name>
        <dataType>String</dataType>
        <expression>RIGHT( LEFT( {!ScreenInput_ContractUpload.contentDocIds}, 19) , 18 )</expression>
    </formulas>
    <formulas>
        <name>formulaIsCusOpsUserOnAgencyOpp</name>
        <dataType>Boolean</dataType>
        <expression>IF(
AND (
{!$Permission.Customer_Operations},
OR(
{!Get_Quote.Opportunity.RecordType.DeveloperName} = &quot;Agency_Acquisition&quot;,
{!Get_Quote.Opportunity.RecordType.DeveloperName} = &quot;Agency_business&quot;,
{!Get_Quote.Opportunity.RecordType.DeveloperName} = &quot;Agency_Customer_business&quot;
)
),
true, false)</expression>
    </formulas>
    <formulas>
        <name>formulaServicePeriod</name>
        <dataType>String</dataType>
        <expression>IF( {!varIsHeyPaket} , {!ScreenInput_Service_Period_HeyPaket} , {!ScreenInput_Service_Period} )</expression>
    </formulas>
    <formulas>
        <name>formulaUpdateATSName</name>
        <dataType>String</dataType>
        <expression>IF(
{!formulaDisplayATSName} , {!varScreenInputATSName} , TEXT( {!Get_Quote.Opportunity.Account.plATSName__c} ) 
)</expression>
    </formulas>
    <formulas>
        <name>formulaUpdateLastATSNameCheck</name>
        <dataType>DateTime</dataType>
        <expression>IF(
{!formulaDisplayATSName} , {!$Flow.CurrentDateTime} , {!Get_Quote.Opportunity.Account.Last_ATS_Name_Check__c} 
)</expression>
    </formulas>
    <formulas>
        <name>formulaUpdateWinReasonDetails</name>
        <dataType>String</dataType>
        <expression>IF(
{!formulaDisplayWinReasons} , {!varScreenInputWinReasonsDetail} , {!Get_Quote.Opportunity.Win_Reason_Detail__c} 
)</expression>
    </formulas>
    <formulas>
        <name>formulaUpdateWinReasons</name>
        <dataType>String</dataType>
        <expression>IF(
{!formulaDisplayWinReasons} , {!varScreenInputWinReasons} , TEXT( {!Get_Quote.Opportunity.Win_Reasons__c} ) 
)</expression>
    </formulas>
    <formulas>
        <name>formulaUploadFileLength</name>
        <dataType>Number</dataType>
        <expression>LEN( {!ScreenInput_ContractUpload.contentDocIds} )</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Quote Acceptance Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Acceptance Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Attach_File_to_Opportunity</name>
        <label>Attach File to Opportunity</label>
        <locationX>314</locationX>
        <locationY>2738</locationY>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>formulaGetContentDocID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validations_before_Quote_Acceptance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_Contact_Data</name>
        <label>Get Invoice Contact Data</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contact_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScreenInput_InvoiceContact.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>380</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Annotations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account2</name>
        <label>Update Account</label>
        <locationX>446</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>RT_Sales_Agency_Acquisition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Email__c</field>
            <value>
                <elementReference>varScreenInput_ContactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_First_Name__c</field>
            <value>
                <elementReference>varScreenInput_FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Last_Name__c</field>
            <value>
                <elementReference>varScreenInput_LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ATS_Name_Check__c</field>
            <value>
                <elementReference>formulaUpdateLastATSNameCheck</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Booking_Generated_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Purchase_Decision_Behavior_Check__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Decision_Behavior__c</field>
            <value>
                <elementReference>ScreenInput_PurchaseDecisionBehavior</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>plATSName__c</field>
            <value>
                <elementReference>varScreenInputATSName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>txtContactsSalutation__c</field>
            <value>
                <elementReference>varScreenInput_Salutation</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>446</locationX>
        <locationY>2522</locationY>
        <connector>
            <targetReference>File_Uploaded_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comment_Quote_Acceptance_Screen__c</field>
            <value>
                <elementReference>ScreenInput_CommentCusOpsACM.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Opp_Creation_Amount__c</field>
            <value>
                <elementReference>varAmountNewOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Win_Reason_Detail__c</field>
            <value>
                <elementReference>formulaUpdateWinReasonDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Win_Reasons__c</field>
            <value>
                <elementReference>formulaUpdateWinReasons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>refOnboardingContact__c</field>
            <value>
                <elementReference>varOnboardingContact</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>446</locationX>
        <locationY>2930</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Instalment_Type__c</field>
            <value>
                <elementReference>varScreenInputInstallmentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Period__c</field>
            <value>
                <elementReference>varScreenInputServicePeriod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Screen_0</name>
        <label>Error Screen</label>
        <locationX>688</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_errorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 78, 6);&quot;&gt;{!varErrorMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Quote_Acceptance_Screen</name>
        <label>Quote Acceptance Screen</label>
        <locationX>380</locationX>
        <locationY>1682</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_Input_Values</targetReference>
        </connector>
        <fields>
            <name>ErrorPurchaseDecisionBehavior</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(228, 28, 28);&quot;&gt;Du kannst nicht akzeptieren, wenn f체r &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(228, 28, 28);&quot;&gt;Purchase Decision Behavior&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(228, 28, 28);&quot;&gt; &apos;Unknown&apos; oder &apos;--None--&apos; ausgew채hlt ist&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ScreenInput_PurchaseDecisionBehavior</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Unknown</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ScreenInput_PurchaseDecisionBehavior</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorPurchaseDecisionBehavior2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 28, 28); background-color: rgb(255, 255, 255);&quot;&gt;Du kannst nicht akzeptieren, wenn f체r &lt;/strong&gt;&lt;span style=&quot;color: rgb(228, 28, 28); background-color: rgb(255, 255, 255);&quot;&gt;Purchase Decision Behavior&lt;/span&gt;&lt;strong style=&quot;color: rgb(228, 28, 28); background-color: rgb(255, 255, 255);&quot;&gt; &apos;Deciding, no invoice&apos; ausgew채hlt ist&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ScreenInput_PurchaseDecisionBehavior</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>&quot;Deciding, no invoice&quot;</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorServicePeriod</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(228, 28, 28);&quot;&gt;Du kannst nicht akzeptieren, wenn&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(221, 13, 13);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(221, 13, 13);&quot;&gt;Service Period&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(221, 13, 13);&quot;&gt; leer ist&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
                <conditions>
                    <leftValueReference>ScreenInput_Service_Period</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varIsHeyPaket</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ScreenInput_Service_Period_HeyPaket</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varIsHeyPaket</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorEmptyATSNameOnAccount</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 28, 28); background-color: rgb(255, 255, 255);&quot;&gt;Du kannst nicht akzeptieren, wenn&lt;/strong&gt;&lt;strong style=&quot;color: rgb(221, 13, 13);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(221, 13, 13);&quot;&gt;ATS Name&lt;/span&gt;&lt;strong style=&quot;color: rgb(221, 13, 13);&quot;&gt; leer ist&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ScreenInput_ATSName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>formulaDisplayATSName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorWinReason</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 28, 28); background-color: rgb(255, 255, 255);&quot;&gt;Du kannst nicht akzeptieren, wenn&lt;/strong&gt;&lt;strong style=&quot;color: rgb(221, 13, 13); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(221, 13, 13); background-color: rgb(255, 255, 255);&quot;&gt;Win Reason&lt;/span&gt;&lt;strong style=&quot;color: rgb(221, 13, 13); background-color: rgb(255, 255, 255);&quot;&gt; leer ist&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>formulaDisplayWinReasons</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ScreenInput_WinReason</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Mandatory_Information</name>
            <fieldText>Mandatory Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Mandatory_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenInput_PurchaseDecisionBehavior</name>
                    <choiceReferences>choiceSetPurchaseDecisionBehavior</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varScreenInputPurchaseDecisonBehavior</elementReference>
                    </defaultValue>
                    <fieldText>Purchase Decision Behavior</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ScreenInput_Service_Period</name>
                    <choiceReferences>choiceSetServicePeriod</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varScreenInputServicePeriod</elementReference>
                    </defaultValue>
                    <fieldText>Service Period</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varIsHeyPaket</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ScreenInput_Service_Period_HeyPaket</name>
                    <choiceReferences>ServicePeriod_6M</choiceReferences>
                    <choiceReferences>ServicePeriod_7M</choiceReferences>
                    <choiceReferences>ServicePeriod_8M</choiceReferences>
                    <choiceReferences>ServicePeriod_9M</choiceReferences>
                    <choiceReferences>ServicePeriod_10M</choiceReferences>
                    <choiceReferences>ServicePeriod_11M</choiceReferences>
                    <choiceReferences>ServicePeriod_12M</choiceReferences>
                    <choiceReferences>ServicePeriod_13M</choiceReferences>
                    <choiceReferences>ServicePeriod_14M</choiceReferences>
                    <choiceReferences>ServicePeriod_15M</choiceReferences>
                    <choiceReferences>ServicePeriod_16M</choiceReferences>
                    <choiceReferences>ServicePeriod_17M</choiceReferences>
                    <choiceReferences>ServicePeriod_18M</choiceReferences>
                    <choiceReferences>ServicePeriod_19M</choiceReferences>
                    <choiceReferences>ServicePeriod_20M</choiceReferences>
                    <choiceReferences>ServicePeriod_21M</choiceReferences>
                    <choiceReferences>ServicePeriod_22M</choiceReferences>
                    <choiceReferences>ServicePeriod_23M</choiceReferences>
                    <choiceReferences>ServicePeriod_24M</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varScreenInputServicePeriod</elementReference>
                    </defaultValue>
                    <fieldText>Service Period</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varIsHeyPaket</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ScreenInput_ATSName</name>
                    <choiceReferences>choiceSetATSName</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varScreenInputATSName</elementReference>
                    </defaultValue>
                    <fieldText>ATS Name</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>formulaDisplayATSName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ScreenInput_WinReason</name>
                    <choiceReferences>choiceSetWinReasons</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varScreenInputWinReasons</elementReference>
                    </defaultValue>
                    <fieldText>Win Reasons</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>formulaDisplayWinReasons</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ScreenInputWinReasonsDetails</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varScreenInputWinReasonsDetail</elementReference>
                    </defaultValue>
                    <fieldText>Win Reasons Detail (optional)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>formulaDisplayWinReasons</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Mandatory_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TitlePurchaseDecisionBehavior</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;癤Purchase Decision Behavior&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://heyjobs.atlassian.net/wiki/spaces/EO/pages/2155217116/Salesforce+Accounts+Definition+und+Use-Case#Purchase-Decision-Behavior-&amp;amp;-Last-Purchase-Decision-Behavior-Check&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 10px;&quot;&gt;&lt;strong&gt;&lt;em&gt;&lt;u&gt;Field definition&lt;/u&gt;&lt;/em&gt;&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>TitleServicePeriod</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Service Period&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://heyjobs.atlassian.net/wiki/spaces/B2B/pages/2788294675/Quotes+Definition+und+Use+Case#Service-Period&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 10px;&quot;&gt;&lt;strong&gt;&lt;em&gt;&lt;u&gt;Field definition&lt;/u&gt;&lt;/em&gt;&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px;&quot;&gt;&lt;em&gt;癤&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>TitleEmptyATSNameOnAccount</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;癤ATS Name &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;font-size: 12px; color: rgb(228, 28, 28);&quot;&gt;癤&lt;/u&gt;&lt;a href=&quot;https://heyjobs.atlassian.net/wiki/spaces/EO/pages/2155217116/Salesforce+Accounts+Definition+und+Use-Case#ATS-Name&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 10px; color: rgb(8, 105, 215);&quot;&gt;&lt;strong&gt;&lt;em&gt;&lt;u&gt;Field definition&lt;/u&gt;&lt;/em&gt;&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>formulaDisplayATSName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TitleEmptyWinReasons</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Win Reason on Opportunity&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://heyjobs.atlassian.net/wiki/spaces/B2B/pages/3547463941/Win+Reasons+in+Salesforce&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 10px;&quot;&gt;&lt;strong&gt;&lt;em&gt;&lt;u&gt;Field definition&lt;/u&gt;&lt;/em&gt;&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>formulaDisplayWinReasons</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Invoice_and_Contract_Information</name>
            <fieldText>Invoice and Contract Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Invoice_and_Contract_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TitleInvoiceInfo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Invoice Info&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ScreenInput_InvoiceContact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>MasterRecordId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Invoice Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>ScreenInput_InvoiceContact.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>HelpText1</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 11px;&quot;&gt;W채hle einen Invoice Kontakt und verwende dessen Kontaktdaten oder trage sie unten manuell ein.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11px;&quot;&gt;&lt;em&gt;&lt;u&gt;Achtung&lt;/u&gt;&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-size: 11px;&quot;&gt;: der Button &quot;Use Contact Information&quot; funktioniert nur, wenn du die &lt;/em&gt;&lt;strong style=&quot;font-size: 11px;&quot;&gt;&lt;em&gt;Pflichtfelder&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-size: 11px;&quot;&gt; oben ausgef체llt hast!&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>RefreshButton</name>
                    <extensionName>c:navigationButtonFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Use Contact Information</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabledFlag</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>rightJustify</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>navigationType</name>
                        <value>
                            <stringValue>next</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>InvoiceContactDataTitle</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;*&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Invoice Contact Data&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>HelpText5</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 11px;&quot;&gt;Die unten stehenden Infos werden auf dem Account gespeichert, aber werden den ausgew채hlten Invoice Kontakt &lt;u&gt;nicht&lt;/u&gt; updaten.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ErrorMissingContactData</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 28, 28); background-color: rgb(255, 255, 255);&quot;&gt;Bitte trage die Invoice Kontaktdaten ein.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
                        <conditions>
                            <leftValueReference>formulaEmptySalutation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>formulaEmptyLastName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>formulaEmptyEmail</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varContactDataMissing</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ScreenInput_ContactData</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToDisplayList</name>
                        <value>
                            <stringValue>salutation,firstName,lastName</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue> </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>salutationOptions</name>
                        <value>
                            <stringValue>FRAU,HERR</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>firstName</name>
                        <value>
                            <elementReference>varScreenInput_FirstName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>lastName</name>
                        <value>
                            <elementReference>varScreenInput_LastName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>salutation</name>
                        <value>
                            <elementReference>varScreenInput_Salutation</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varScreenInput_FirstName</assignToReference>
                        <name>firstName</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>varScreenInput_LastName</assignToReference>
                        <name>lastName</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>varScreenInput_Salutation</assignToReference>
                        <name>salutation</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>ScreenInput_InvoiceContactEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Invoice Contact Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>varScreenInput_ContactEmail</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varScreenInput_ContactEmail</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>HelpText2</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 11px;&quot;&gt;Diese Email erh채lt den Typeform (falls einer versendet wird) und wird als &quot;Contact Email&quot; auf dem Account gespeichert.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Invoice_and_Contract_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TitleOnboardingAndComments</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;癤Onboarding and Comments&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ScreenInput_OnboardingContact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>MasterRecordId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Onboarding Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>ScreenInput_OnboardingContact.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>HelpText3</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 11px;&quot;&gt;Dieser Kontakt erh채lt die Einladung f체r das Recruiter Portal.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ScreenInput_Installment_Type</name>
                    <choiceReferences>choiceSetInstallmentType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varScreenInputInstallmentType</elementReference>
                    </defaultValue>
                    <fieldText>Installment Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Art der Ratenzahlung f체r Finance. Mehr Informationen findest du hier https://heyjobs.atlassian.net/wiki/spaces/FIN/pages/2944368769&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>HelpText6</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Nur Ausf체llen, wenn Ratenzahlung ben철tigt wird. Ansonsten leer lassen.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ScreenInput_CommentCusOpsACM</name>
                    <extensionName>c:inputRichTextFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disableAdvancedTools</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Comment for CusOps and ACM</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>ScreenInput_CommentCusOpsACM.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>HelpText4</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 11px;&quot;&gt;Kommentar wird immer auf dem verlinkten Case gespeichert.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ScreenInput_ContractUpload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contentDocIds</name>
                        <value>
                            <elementReference>ScreenInput_ContractUpload.contentDocIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ErrorUploadSkipped</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 28, 28);&quot;&gt;Bitte stelle sicher, dass eine Datei hochgeladen ist.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varFileUploadSkipped</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Additional_Information</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenInput_AutoOppCreation</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Do you want to automatically create a new Opportunity?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>varAutoCreateOpp</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Amount_for_new_Opp</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>varAmountNewOpp</elementReference>
                    </defaultValue>
                    <fieldText>Amount for new Opp</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ScreenInput_AutoOppCreation.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Additional_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HelpText7</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 11px;&quot;&gt;Wenn diese Option ausgew채hlt ist, wird automatisch eine Account Management Opportunity erstellt, wenn diese Opportunity auf Closed Won wechselt. &lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 11px;&quot;&gt;Eine neue Opportunity wird nur dann erstellt, wenn der eingetragene Amount gr철er als 0 ist.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR (3 AND 4))</conditionLogic>
                <conditions>
                    <leftValueReference>formulaDisplayOppCreateOption</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ScreenInput_PurchaseDecisionBehavior</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Deciding</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ScreenInput_PurchaseDecisionBehavior</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Not deciding</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ScreenInput_PurchaseDecisionBehavior</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>only invoice</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Accept</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>RO-1485</description>
        <name>Warning_Start_Date</name>
        <label>Warning Start Date</label>
        <locationX>336</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Proceed_with_Quote_Acceptance</targetReference>
        </connector>
        <fields>
            <name>start_date_warning</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(237, 67, 10);&quot;&gt;{!varErrorMessage}癤&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>continue_acceptance</name>
            <extensionName>c:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Proceed with Quote Acceptance </stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Validations_before_Quote_Acceptance</name>
        <label>Validations before Quote Acceptance</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Quote_Validations_Passed</targetReference>
        </connector>
        <flowName>Quote_Acceptance_Validations</flowName>
        <inputAssignments>
            <name>varAccount</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varQuote</name>
            <value>
                <elementReference>Get_Quote</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varErrorMessage</assignToReference>
            <name>varErrorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varIsHeyPaket</assignToReference>
            <name>varIsHeyPaket</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varValidationsPassed</assignToReference>
            <name>varValidationsPassed</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>templateAnnotations</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Contract Annotations:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!varPrePopulatedAnnotations}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAmountNewOpp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varAutoCreateOpp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varContactDataMissing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFileUploadSkipped</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varHeyPaketStartDateBeforeEndDateError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.ERROR_HEYPAKET_START_DATE_BEFORE_END_DATE</elementReference>
        </value>
    </variables>
    <variables>
        <name>varIsHeyPaket</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOnboardingContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPrePopulatedAnnotations</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varScreenInput_ContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Opportunity.Account_Contact_Email__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varScreenInput_FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Account.Contact_First_Name__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varScreenInput_LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Account.Contact_Last_Name__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varScreenInput_Salutation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Account.txtContactsSalutation__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varScreenInputATSName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Quote.Opportunity.Account.plATSName__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varScreenInputInstallmentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Quote.Instalment_Type__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varScreenInputPurchaseDecisonBehavior</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Quote.Opportunity.Account.Purchase_Decision_Behavior__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varScreenInputServicePeriod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Quote.Service_Period__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varScreenInputWinReasons</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Quote.Opportunity.Win_Reasons__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varScreenInputWinReasonsDetail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Quote.Opportunity.Win_Reason_Detail__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varValidationsPassed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
