force-app/main/default/flows/Quote_Sync_Customer_Self_Service.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>GTM_Motion_on_Account_is_Agency</name>
        <label>GTM Motion on Account is Agency</label>
        <locationX>974</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.GTM_Motion_Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Agency Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Purchase_Type</name>
        <label>Purchase Type</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Instant_Purchase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_opportunity.Instant_Purchase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOpp</targetReference>
            </connector>
            <label>Instant Purchase</label>
        </rules>
        <rules>
            <name>Non_Instant_Purchase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_opportunity.Instant_Purchase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>Non-Instant Purchase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_ACM</name>
        <label>Stage_ACM</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prospect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Stage_ACM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_ACM_to_Pilot</targetReference>
            </connector>
            <label>Prospect</label>
        </rules>
        <rules>
            <name>Pilot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Stage_ACM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pilot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_ACM_to_Expansion</targetReference>
            </connector>
            <label>Pilot</label>
        </rules>
    </decisions>
    <description>RO-772 with  Task Due date = Today(), without direct messages from salesforce, RO-1329, RO - 2281</description>
    <environments>Default</environments>
    <formulas>
        <name>CreatedDatePlus1</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 1/1440</expression>
    </formulas>
    <formulas>
        <name>InstantPurchaseMessage</name>
        <dataType>String</dataType>
        <expression> &quot;Instant Purchase!&quot; + &quot; &quot; + {!Get_Account.Name} + &quot; &quot; + &quot;Company ID:&quot; + TEXT({!Get_Account.txtCompanyId__c}) + &quot;,&quot; + &quot;Marketing Budget:&quot; + {!Get_opportunity.Onlinekauf_Amount__c} + &quot;,&quot; + &quot;Account Manager:&quot; + &quot; &quot; + {!Get_Account.Owner.Full_Name__c}</expression>
    </formulas>
    <formulas>
        <name>NonInstantOppName</name>
        <dataType>String</dataType>
        <expression>TEXT(TODAY()) + &quot; &quot; + &quot;-&quot; + &quot; &quot; + &quot;Onlinekauf&quot; + &quot; &quot; + &quot;-&quot; + &quot; &quot; + {!Get_Account.Name}</expression>
    </formulas>
    <formulas>
        <name>NonInstantPurchaseMessage</name>
        <dataType>String</dataType>
        <expression> &quot;Onlinekauf&quot; + &quot; &quot; + {!Get_Account.Name} + &quot; &quot; + &quot;Company ID:&quot; + TEXT({!Get_Account.txtCompanyId__c}) + &quot;,&quot; + &quot;Marketing Budget:&quot; + {!Get_opportunity.Onlinekauf_Amount__c} + &quot;,&quot; + &quot;Account Manager:&quot; + &quot; &quot; + {!Get_Account.Owner.Full_Name__c}</expression>
    </formulas>
    <formulas>
        <name>OnlinekaufAmount</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Get_opportunity.Onlinekauf_Amount__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>{!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Sync - Customer Self Service</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_marketing_product</name>
        <label>Add marketing product</label>
        <locationX>1238</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1v00000FcbR7AAJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t1v00000DCQiYAAX</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>varQuoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>OnlinekaufAmount</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Double Check Onlinekauf</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1238</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_marketing_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_opportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_opportunity</name>
        <label>Get opportunity</label>
        <locationX>1238</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varoppId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>1238</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Pause</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varoppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allow_Closed_Won__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SyncedQuoteId</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>974</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>GTM_Motion_on_Account_is_Agency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varoppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NonInstantOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SyncedQuoteId</field>
            <value>
                <elementReference>varQuoteId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage_ACM_to_Expansion</name>
        <label>Update Stage_ACM to Expansion</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage_ACM__c</field>
            <value>
                <stringValue>Expansion</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage_ACM_to_Pilot</name>
        <label>Update Stage_ACM to Pilot</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage_ACM__c</field>
            <value>
                <stringValue>Pilot</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpp</name>
        <label>UpdateOpp</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Stage_ACM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varoppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SyncedQuoteId</field>
            <value>
                <elementReference>varQuoteId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varoppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>Pause</name>
        <label>Pause</label>
        <locationX>1238</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Sync_Pause</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Purchase_Type</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>CreatedDatePlus1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>Sync Pause</label>
        </waitEvents>
    </waits>
</Flow>
