force-app/main/default/flows/REACH_type_case_creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_Deal_Type</name>
        <label>Check Deal Type</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecord.REACH_Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Open_ATS_Onboarding_cases</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecord.REACH_Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateRepeatPurchasecase</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
        <rules>
            <name>Renewal_with_campaign_adjustment_added_campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecord.REACH_Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal with campaign adjustment/added campaign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateATSNewAdjustCampaigncase</targetReference>
            </connector>
            <label>Renewal with campaign adjustment/added campaign</label>
        </rules>
        <rules>
            <name>Budget_Boost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecord.REACH_Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Budget boost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Repeat_Purchase_case_3</targetReference>
            </connector>
            <label>Budget Boost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_open_ATSOnboardingcaseexists</name>
        <label>Check if open ATS Onboarding case exists</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_First_Purchase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_ATS_Onboarding_cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecord.Account.Stage_ACM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Pilot</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecord.Account.Stage_ACM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Retention</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecord.Account.Stage_ACM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Expansion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ATS_Onboarding_Case</targetReference>
            </connector>
            <label>No (First Purchase)</label>
        </rules>
        <rules>
            <name>No_Subsequent_Purchase</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_ATS_Onboarding_cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecord.Account.Stage_ACM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Pilot</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecord.Account.Stage_ACM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Expansion</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecord.Account.Stage_ACM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Retention</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ATS_Onboarding_Case_2</targetReference>
            </connector>
            <label>No ( Subsequent purchase)</label>
        </rules>
    </decisions>
    <description>RO - 2068 v2 , RO - 2224 , RO - 2408, RO - 2420, RO - 2398, RO - 2461 , RO - 2825</description>
    <environments>Default</environments>
    <interviewLabel>REACH type case creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>REACH case creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ATS_Onboarding_Case</name>
        <label>Create ATS Onboarding Case</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>CreateInitialBackendcase</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varRecord.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Avg_Reach_Jobs_month__c</field>
            <value>
                <elementReference>varRecord.Avg_Reach_Jobs_month__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPA_Target__c</field>
            <value>
                <elementReference>varRecord.CPA_Target__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate_Delivery__c</field>
            <value>
                <elementReference>varRecord.Integration_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_by_Automation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Reach_Budget__c</field>
            <value>
                <elementReference>varRecord.Monthly_Reach_Budget__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ATSOnboardingQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>REACH</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>REACH_Deal_Type__c</field>
            <value>
                <elementReference>varRecord.REACH_Deal_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reach_Campaign_Duration_months__c</field>
            <value>
                <elementReference>varRecord.Reach_Campaign_Duration_months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reach_Special_termination_right_duration__c</field>
            <value>
                <elementReference>varRecord.Reach_Special_termination_right_duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varATSOnbaordingRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>ATS Onboarding Case</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_ATS_Onboarding_Case_2</name>
        <label>Create ATS Onboarding Case</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Create_Repeat_Purchase_case_4</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varRecord.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Avg_Reach_Jobs_month__c</field>
            <value>
                <elementReference>varRecord.Avg_Reach_Jobs_month__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPA_Target__c</field>
            <value>
                <elementReference>varRecord.CPA_Target__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate_Delivery__c</field>
            <value>
                <elementReference>varRecord.Integration_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_by_Automation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Reach_Budget__c</field>
            <value>
                <elementReference>varRecord.Monthly_Reach_Budget__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ATSOnboardingQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>REACH</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>REACH_Deal_Type__c</field>
            <value>
                <elementReference>varRecord.REACH_Deal_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reach_Campaign_Duration_months__c</field>
            <value>
                <elementReference>varRecord.Reach_Campaign_Duration_months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reach_Special_termination_right_duration__c</field>
            <value>
                <elementReference>varRecord.Reach_Special_termination_right_duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varATSOnbaordingRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>ATS Onboarding Case</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Repeat_Purchase_case_2</name>
        <label>Create Repeat Purchase case</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varRecord.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Avg_Reach_Jobs_month__c</field>
            <value>
                <elementReference>varRecord.Avg_Reach_Jobs_month__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPA_Target__c</field>
            <value>
                <elementReference>varRecord.CPA_Target__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate_Delivery__c</field>
            <value>
                <elementReference>varRecord.Integration_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_by_Automation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Reach_Budget__c</field>
            <value>
                <elementReference>varRecord.Monthly_Reach_Budget__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ATSOnboardingQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>REACH</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>REACH_Deal_Type__c</field>
            <value>
                <elementReference>varRecord.REACH_Deal_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reach_Campaign_Duration_months__c</field>
            <value>
                <elementReference>varRecord.Reach_Campaign_Duration_months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reach_Special_termination_right_duration__c</field>
            <value>
                <elementReference>varRecord.Reach_Special_termination_right_duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRepeatPurchaseCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Repeat Purchase Case</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Repeat_Purchase_case_3</name>
        <label>Create Repeat Purchase case</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varRecord.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Avg_Reach_Jobs_month__c</field>
            <value>
                <elementReference>varRecord.Avg_Reach_Jobs_month__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPA_Target__c</field>
            <value>
                <elementReference>varRecord.CPA_Target__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate_Delivery__c</field>
            <value>
                <elementReference>varRecord.Integration_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_by_Automation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Reach_Budget__c</field>
            <value>
                <elementReference>varRecord.Monthly_Reach_Budget__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ATSOnboardingQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>REACH</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>REACH_Deal_Type__c</field>
            <value>
                <elementReference>varRecord.REACH_Deal_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reach_Campaign_Duration_months__c</field>
            <value>
                <elementReference>varRecord.Reach_Campaign_Duration_months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reach_Special_termination_right_duration__c</field>
            <value>
                <elementReference>varRecord.Reach_Special_termination_right_duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRepeatPurchaseCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Repeat Purchase Case</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Repeat_Purchase_case_4</name>
        <label>Create Repeat Purchase case</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varRecord.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Avg_Reach_Jobs_month__c</field>
            <value>
                <elementReference>varRecord.Avg_Reach_Jobs_month__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPA_Target__c</field>
            <value>
                <elementReference>varRecord.CPA_Target__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate_Delivery__c</field>
            <value>
                <elementReference>varRecord.Integration_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_by_Automation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Reach_Budget__c</field>
            <value>
                <elementReference>varRecord.Monthly_Reach_Budget__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ATSOnboardingQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>REACH</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>REACH_Deal_Type__c</field>
            <value>
                <elementReference>varRecord.REACH_Deal_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reach_Campaign_Duration_months__c</field>
            <value>
                <elementReference>varRecord.Reach_Campaign_Duration_months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reach_Special_termination_right_duration__c</field>
            <value>
                <elementReference>varRecord.Reach_Special_termination_right_duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRepeatPurchaseCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Repeat Purchase Case</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateATSNewAdjustCampaigncase</name>
        <label>Create ATS New/Adjust Campaign case</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Create_Repeat_Purchase_case_2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varRecord.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Avg_Reach_Jobs_month__c</field>
            <value>
                <elementReference>varRecord.Avg_Reach_Jobs_month__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPA_Target__c</field>
            <value>
                <elementReference>varRecord.CPA_Target__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate_Delivery__c</field>
            <value>
                <elementReference>varRecord.Integration_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_by_Automation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Reach_Budget__c</field>
            <value>
                <elementReference>varRecord.Monthly_Reach_Budget__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ATSOnboardingQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>REACH</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>REACH_Deal_Type__c</field>
            <value>
                <elementReference>varRecord.REACH_Deal_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reach_Campaign_Duration_months__c</field>
            <value>
                <elementReference>varRecord.Reach_Campaign_Duration_months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reach_Special_termination_right_duration__c</field>
            <value>
                <elementReference>varRecord.Reach_Special_termination_right_duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varATSNewAdjustCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>ATS New/Adjust Campaign case</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateInitialBackendcase</name>
        <label>Create Initial Backend case</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varRecord.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Avg_Reach_Jobs_month__c</field>
            <value>
                <elementReference>varRecord.Avg_Reach_Jobs_month__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPA_Target__c</field>
            <value>
                <elementReference>varRecord.CPA_Target__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate_Delivery__c</field>
            <value>
                <elementReference>varRecord.Integration_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_by_Automation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Reach_Budget__c</field>
            <value>
                <elementReference>varRecord.Monthly_Reach_Budget__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.CusOps_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>REACH</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>REACH_Deal_Type__c</field>
            <value>
                <elementReference>varRecord.REACH_Deal_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reach_Campaign_Duration_months__c</field>
            <value>
                <elementReference>varRecord.Reach_Campaign_Duration_months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reach_Special_termination_right_duration__c</field>
            <value>
                <elementReference>varRecord.Reach_Special_termination_right_duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varInitialBESetup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Initial Backend Case</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateRepeatPurchasecase</name>
        <label>Create Repeat Purchase case</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varRecord.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Avg_Reach_Jobs_month__c</field>
            <value>
                <elementReference>varRecord.Avg_Reach_Jobs_month__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPA_Target__c</field>
            <value>
                <elementReference>varRecord.CPA_Target__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate_Delivery__c</field>
            <value>
                <elementReference>varRecord.Integration_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_by_Automation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Reach_Budget__c</field>
            <value>
                <elementReference>varRecord.Monthly_Reach_Budget__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ATSOnboardingQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>REACH</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>REACH_Deal_Type__c</field>
            <value>
                <elementReference>varRecord.REACH_Deal_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reach_Campaign_Duration_months__c</field>
            <value>
                <elementReference>varRecord.Reach_Campaign_Duration_months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reach_Special_termination_right_duration__c</field>
            <value>
                <elementReference>varRecord.Reach_Special_termination_right_duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRepeatPurchaseCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Repeat Purchase Case</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Open_ATS_Onboarding_cases</name>
        <label>Get Open ATS Onboarding cases</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_open_ATSOnboardingcaseexists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>REACH_Deal_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varATSOnbaordingRT</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Deal_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varATSNewAdjustCampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.CaseNewAdjustCampaignRT</elementReference>
        </value>
    </variables>
    <variables>
        <name>varATSOnbaordingRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.CaseNewATSOnboardingRT</elementReference>
        </value>
    </variables>
    <variables>
        <name>varInitialBESetup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.CaseInitialBEsetupRT</elementReference>
        </value>
    </variables>
    <variables>
        <name>varRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varRepeatPurchaseCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.CaseRepeatPurchaseCase</elementReference>
        </value>
    </variables>
</Flow>
