force-app/main/default/flows/SQL_Fields_from_Account_to_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <description>RO-2155, RO-2347</description>
    <environments>Default</environments>
    <interviewLabel>SQL Fields from Account to Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SQL Fields from Account to Opp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_Open_Opps</targetReference>
        </connector>
        <inputAssignments>
            <field>Last_SQL_Field_Check__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Open_Opps</name>
        <label>Update Open Opps</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Annual_recruitment_volume__c</field>
            <value>
                <elementReference>$Record.Annual_recruitment_volume__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_process_recruitment_solution__c</field>
            <value>
                <elementReference>$Record.Approval_process_recruitment_solution__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_availability_next_quarter_year__c</field>
            <value>
                <elementReference>$Record.Budget_availability_next_quarter_year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_1_from_Account__c</field>
            <value>
                <elementReference>$Record.Category_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2_from_Account__c</field>
            <value>
                <elementReference>$Record.Category_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_3_from_Account__c</field>
            <value>
                <elementReference>$Record.Category_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Challenging_roles_departments__c</field>
            <value>
                <elementReference>$Record.Challenging_roles_departments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor_1_current_future__c</field>
            <value>
                <elementReference>$Record.Competitor_1_current_future__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor_2_current_future__c</field>
            <value>
                <elementReference>$Record.Competitor_2_current_future__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor_3_current_future__c</field>
            <value>
                <elementReference>$Record.Competitor_3_current_future__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_maker_name__c</field>
            <value>
                <elementReference>$Record.Decision_maker_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Events_impacting_prioritization__c</field>
            <value>
                <elementReference>$Record.Events_impacting_prioritization__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existence_employer_branding__c</field>
            <value>
                <elementReference>$Record.Existence_employer_branding__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funnel_areas_of_neglect__c</field>
            <value>
                <elementReference>$Record.Funnel_areas_of_neglect__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HeyJobs_Category_from_Account__c</field>
            <value>
                <elementReference>$Record.HeyJobs_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_timeline__c</field>
            <value>
                <elementReference>$Record.Implementation_timeline__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_factors_in_decision_making__c</field>
            <value>
                <elementReference>$Record.Key_factors_in_decision_making__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Employees_from_Account__c</field>
            <value>
                <elementReference>$Record.NumberOfEmployees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_Jobs_from_Account__c</field>
            <value>
                <elementReference>$Record.plOpenJobs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Competitor__c</field>
            <value>
                <elementReference>$Record.Other_Competitor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Success_measurement__c</field>
            <value>
                <elementReference>$Record.Success_measurement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_annual_recruiting_budget__c</field>
            <value>
                <elementReference>$Record.Total_annual_recruiting_budget__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Funnel_areas_of_neglect__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Challenging_roles_departments__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Competitor_1_current_future__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Competitor_2_current_future__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Competitor_3_current_future__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Other_Competitor__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Decision_maker_name__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Budget_availability_next_quarter_year__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approval_process_recruitment_solution__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Key_factors_in_decision_making__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Annual_recruitment_volume__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Implementation_timeline__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Events_impacting_prioritization__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Success_measurement__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Total_annual_recruiting_budget__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Existence_employer_branding__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NumberOfEmployees</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HeyJobs_Category__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Category_1__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Category_2__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Category_3__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>plOpenJobs__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
