force-app/main/default/flows/SQL_Identifier_Populating_info_on_Demo_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>SQL_Info_Assignment</name>
        <label>SQL Info Assignment</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varFunnelAreasOfNeglect</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Funnel_areas_of_neglect__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChallengingRolesAndDepartments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Challenging_roles_departments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCompetitor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Competitor_1_current_future__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCompetitor2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Competitor_2_current_future__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCompetitor3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Competitor_3_current_future__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOtherCompetitor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Other_Competitor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDecisionMakerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DesicionMakerFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBudgetAvailabilityInNextYear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Budget_availability_next_quarter_year__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApprovalProcessRecruitmentSolution</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Approval_process_recruitment_solution__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varKeyFactorInDecisionMaking</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Key_factors_in_decision_making__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAnnualRecruitmentVolume</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Annual_recruitment_volume__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEventsImpactingPrioritisation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Events_impacting_prioritization__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExistenceEmployerBranding</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Existence_employer_branding__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varImplementationTimeline</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Implementation_timeline__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varKeyFactorInDecisionMaking</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Key_factors_in_decision_making__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSuccessMeasurement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Success_measurement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalAnnualRecruitingBudget</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Total_annual_recruiting_budget__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_event_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SQL_Info_Assignment_1</name>
        <label>SQL Info Assignment</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varFunnelAreasOfNeglect</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Funnel_areas_of_neglect__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChallengingRolesAndDepartments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Challenging_roles_departments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCompetitor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Competitor_1_current_future__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCompetitor2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Competitor_2_current_future__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCompetitor3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Competitor_3_current_future__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOtherCompetitor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Other_Competitor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDecisionMakerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DesicionMakerFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBudgetAvailabilityInNextYear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Budget_availability_next_quarter_year__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApprovalProcessRecruitmentSolution</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Approval_process_recruitment_solution__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varKeyFactorInDecisionMaking</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Key_factors_in_decision_making__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAnnualRecruitmentVolume</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Annual_recruitment_volume__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEventsImpactingPrioritisation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Events_impacting_prioritization__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExistenceEmployerBranding</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Existence_employer_branding__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varImplementationTimeline</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Implementation_timeline__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varKeyFactorInDecisionMaking</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Key_factors_in_decision_making__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSuccessMeasurement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Success_measurement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalAnnualRecruitingBudget</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppRecord.Total_annual_recruiting_budget__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_event_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Opp_info_available</name>
        <label>Is Opp info available?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SQL_Info_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO - 2131</description>
    <environments>Default</environments>
    <formulas>
        <name>DesicionMakerFullName</name>
        <dataType>String</dataType>
        <expression>{!varOppRecord.Decision_maker_name__r.FirstName}+ &apos; &apos; +{!varOppRecord.Decision_maker_name__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>formulaAuthority</name>
        <dataType>String</dataType>
        <expression>&quot;Entscheidungsträger : [Contact Name] - &quot; + IF(ISNULL({!varDecisionMakerName}), NULL, {!varDecisionMakerName}) + BR() +
&quot;Genehmigungsprozess Rekrutierungslösung : [Approval process recruitment solution] - &quot; + IF(ISNULL({!varApprovalProcessRecruitmentSolution}), NULL, {!varApprovalProcessRecruitmentSolution}) + BR() +
&quot;Hauptfaktoren Entscheidungsfindung : [Key factors in decision making] - &quot; + IF(ISNULL({!varKeyFactorInDecisionMaking}), NULL, {!varKeyFactorInDecisionMaking})</expression>
    </formulas>
    <formulas>
        <name>formulaChallenge</name>
        <dataType>String</dataType>
        <expression>&quot;Vernachlässigte Funnelbereiche  : [Funnel areas of neglect] - &quot; + 
IF(ISBLANK({!varFunnelAreasOfNeglect}), NULL,{!varFunnelAreasOfNeglect} ) + 
BR() + 
&quot;Herausfordernde Rollen und Abteilungen: [Challenging roles &amp; departments]  - &quot; + 
IF(ISBLANK({!varChallengingRolesAndDepartments}), NULL, {!varChallengingRolesAndDepartments})</expression>
    </formulas>
    <formulas>
        <name>formulaCompetitors</name>
        <dataType>String</dataType>
        <expression>&quot;Competitor 1: current &amp; future - &quot; + 
IF(ISNULL({!varCompetitor1}), NULL, {!varCompetitor1}) + BR() +
&quot;Competitor 2: current &amp; future - &quot; + 
IF(ISNULL({!varCompetitor2}), NULL, {!varCompetitor2}) + BR() +
&quot;Competitor 3: current &amp; future - &quot; + 
IF(ISNULL({!varCompetitor3}), NULL, {!varCompetitor3}) + BR() +
&quot;Other Competitor - &quot; + 
IF(ISNULL({!varOtherCompetitor}), NULL, {!varOtherCompetitor})</expression>
    </formulas>
    <formulas>
        <name>formulaCurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>formulaExploration</name>
        <dataType>String</dataType>
        <expression>&quot;Erfolgsmessung: [Success measurement] - &quot; +
IF(ISBLANK({!varSuccessMeasurement}), NULL, {!varSuccessMeasurement}) +
BR() +
&quot;Jährliches Einstellungsvolumen: [Annual recruitment volume] - &quot; +
IF(ISBLANK({!varAnnualRecruitmentVolume}), NULL, {!varAnnualRecruitmentVolume}) + BR() +
&quot;Existenz Employer Branding - &quot; + &quot; &quot; +UPPER({!varExistenceEmployerBranding})</expression>
    </formulas>
    <formulas>
        <name>formulaMoney</name>
        <dataType>String</dataType>
        <expression>&quot;Jährliches Recrutierungsbudget:  [Total annual recruiting budget] - &quot; + 
IF(ISBLANK({!varTotalAnnualRecruitingBudget}), NULL, {!varTotalAnnualRecruitingBudget}) + 
BR() + 
&quot;Verfügbares Budget in Quartal/Jahr: [Budget availability next quarter/year] - &quot; + 
IF(ISBLANK({!varBudgetAvailabilityInNextYear}), NULL, {!varBudgetAvailabilityInNextYear})</expression>
    </formulas>
    <formulas>
        <name>formulaPrioritization</name>
        <dataType>String</dataType>
        <expression>&quot;Implemntierungszeitplan:  [Implementation timeline] - &quot; +
IF(ISBLANK({!varImplementationTimeline}), NULL, {!varImplementationTimeline}) +
BR() +
&quot;Priorisierung beeinflussende Ereignisse:  [Events impacting prioritization] - &quot; +
IF(ISBLANK({!varEventsImpactingPrioritisation}), NULL,{!varEventsImpactingPrioritisation})</expression>
    </formulas>
    <interviewLabel>SQL Identifier - Populating info on Demo Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SQL Identifier - Populating info on Demo Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SQL_Info_Assignment_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_event_record</name>
        <label>Update event record</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndDateTime</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>formulaCurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppRecord.Synced_Demo_Event_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Qualification_1__c</field>
            <value>
                <elementReference>formulaChallenge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Qualification_2__c</field>
            <value>
                <elementReference>formulaCompetitors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Qualification_3__c</field>
            <value>
                <elementReference>formulaAuthority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Qualification_4__c</field>
            <value>
                <elementReference>formulaMoney</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Qualification_5__c</field>
            <value>
                <elementReference>formulaPrioritization</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Qualification_6__c</field>
            <value>
                <elementReference>formulaExploration</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Opp_info_available</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAnnualRecruitmentVolume</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varApprovalProcessRecruitmentSolution</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBudgetAvailabilityInNextYear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChallengingRolesAndDepartments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCompetitor1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCompetitor2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCompetitor3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDecisionMakerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEventsImpactingPrioritisation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExistenceEmployerBranding</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFunnelAreasOfNeglect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varImplementationTimeline</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varKeyFactorInDecisionMaking</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOtherCompetitor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSuccessMeasurement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalAnnualRecruitingBudget</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
