force-app/main/default/flows/SSSU_Account_update_on_SSSU_pilot_won.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Closed_Won_Opps</name>
        <label>Closed Won Opps</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>wonPilots</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_other_opps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pilot_Won_Already</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_RT_and_Owner</name>
        <label>Check Account RT and Owner</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outbound_and_Lead_Gen1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountRt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountOwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0050Y00000333XsQAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Owner</targetReference>
            </connector>
            <label>Outbound and Lead Gen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pilot_Won_Already</name>
        <label>Pilot Won Already?</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>wonPilots</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Billing_Information</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Additional Billing Information on opp contains 300€ Neukunden-Aktion angewendet we do not update this field on account</description>
        <name>Update_Account_Billing_Information</name>
        <label>Update Account Billing Information</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Update_billing_info_on_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X300_Neukunden_Aktion_angewendet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Additional_Billing_Information__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>300€ Neukunden-Aktion angewendet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_billing_info_on_account_w_o_additional_billing_info</targetReference>
            </connector>
            <label>300€ Neukunden-Aktion angewendet</label>
        </rules>
    </decisions>
    <description>RO-1364, RO-1396, RO-1540, Stage_ACM update removed , RO -1579, Additional billing info update adjustment, RO - 2048, RO-2418</description>
    <environments>Default</environments>
    <formulas>
        <name>upsellCloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() +60</expression>
    </formulas>
    <interviewLabel>SSSU Account update on SSSU pilot won {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SSSU Account update on SSSU pilot won</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_RT_and_Acc_Owner</name>
        <label>Fetch RT and Acc Owner</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_other_opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountRt</assignToReference>
            <field>Record_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_other_opps</name>
        <label>Get other opps</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Closed_Won_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_billing_info_on_account</name>
        <label>Update billing info on account</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Check_Account_RT_and_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Additional_Billing_Information__c</field>
            <value>
                <elementReference>$Record.Additional_Billing_Information__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Name__c</field>
            <value>
                <elementReference>$Record.Bill_To_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_is_Ship__c</field>
            <value>
                <elementReference>$Record.Bill_Is_Ship__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Billing_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Billing_Country_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Billing_Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Billing_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Email__c</field>
            <value>
                <elementReference>$Record.Billing_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hunted_By__c</field>
            <value>
                <elementReference>$Record.Hunter__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Won_Opportunity_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Repeat_Purchase_Typeform__c</field>
            <value>
                <elementReference>$Record.No_Repeat_Purchase_Typeform__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Time__c</field>
            <value>
                <elementReference>$Record.Payment_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Name__c</field>
            <value>
                <elementReference>$Record.Ship_To_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.Shipping_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.Shipping_ZIP_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>$Record.Shipping_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Typeform_Update__c</field>
            <value>
                <elementReference>$Record.Typeform__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>txtVATID__c</field>
            <value>
                <elementReference>$Record.VAT_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_billing_info_on_account_w_o_additional_billing_info</name>
        <label>Update billing info on account (w/o additional billing info)</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Check_Account_RT_and_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bill_To_Name__c</field>
            <value>
                <elementReference>$Record.Bill_To_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_is_Ship__c</field>
            <value>
                <elementReference>$Record.Bill_Is_Ship__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Billing_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Billing_Country_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Billing_Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Billing_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Email__c</field>
            <value>
                <elementReference>$Record.Billing_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hunted_By__c</field>
            <value>
                <elementReference>$Record.Hunter__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Won_Opportunity_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Repeat_Purchase_Typeform__c</field>
            <value>
                <elementReference>$Record.No_Repeat_Purchase_Typeform__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Time__c</field>
            <value>
                <elementReference>$Record.Payment_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Name__c</field>
            <value>
                <elementReference>$Record.Ship_To_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.Shipping_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.Shipping_ZIP_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>$Record.Shipping_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Typeform_Update__c</field>
            <value>
                <elementReference>$Record.Typeform__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>txtVATID__c</field>
            <value>
                <elementReference>$Record.VAT_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Owner</name>
        <label>Update Opportunity Owner</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Update_RT_and_Owner_on_account</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0059L000000HlmSQAS</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RT_and_Owner_on_account</name>
        <label>Update RT and Owner on account</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0059L000000HlmSQAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121v000000lUxMAAU</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_RT_and_Acc_Owner</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND(
{!$Record.RecordType.DeveloperName} = &apos;Customer_Self_Service&apos;,
ISPICKVAL({!$Record.StageName}, &apos;Closed Won&apos;)
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountRt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>wonPilots</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
