force-app/main/default/flows/SSSU_Backend_access_eligibility_check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_BE_eligibility_1</name>
        <label>Set BE eligibility</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varIsEligibleForBE</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Error_due_to_blacklist</name>
        <label>Set Error due to blacklist</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varErrorType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.BE_CREATION_ERROR_Blacklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIsEligibleForBE</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_error_due_to_company_ID</name>
        <label>Set error due to company ID</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varErrorType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.BE_CREATION_ERROR_CompanyID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIsEligibleForBE</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_error_due_to_existing_request</name>
        <label>Set error due to existing request</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varErrorType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.BE_CREATION_ERROR_In_Progress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIsEligibleForBE</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_error_due_to_RT</name>
        <label>Set error due to RT</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varErrorType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.BE_CREATION_ERROR_RecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIsEligibleForBE</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Eligibality_Check</name>
        <label>Eligibality Check</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Set_BE_eligibility_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Eligible</defaultConnectorLabel>
        <rules>
            <name>Details_already_sent_to_Backend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_logs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_error_due_to_existing_request</targetReference>
            </connector>
            <label>Details already sent to Backend</label>
        </rules>
        <rules>
            <name>Is_Blacklisted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varAccount.Blacklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContact.Blacklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_due_to_blacklist</targetReference>
            </connector>
            <label>Is Blacklisted</label>
        </rules>
        <rules>
            <name>Company_ID_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccount.txtCompanyId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_error_due_to_company_ID</targetReference>
            </connector>
            <label>Company ID present</label>
        </rules>
        <rules>
            <name>Non_eligible_RT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varAccount.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discarded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccount.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccount.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Research</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_error_due_to_RT</targetReference>
            </connector>
            <label>Non-eligible RT</label>
        </rules>
    </decisions>
    <description>RO-1349, RO-1444</description>
    <environments>Default</environments>
    <interviewLabel>SSSU Backend access eligibility check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Backend Access Eligibility Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_logs</name>
        <label>Fetch logs</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Eligibality_Check</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SSSU Company creation in BE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Started</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Integration_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_logs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varErrorType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIsEligibleForBE</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
