force-app/main/default/flows/Task_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>CheckifSalesTriggerispopulated</name>
        <label>Check if Sales Trigger is populated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Trigger__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fmlISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_latest</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Aircall_call</name>
        <label>Is Aircall call?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CheckifSalesTriggerispopulated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>aircall</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fmlISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Subject</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO - 2011</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>fmlSubject</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.CallType}) &amp; &quot; Call - &quot; &amp; {!$Record.Answered_Unanswered__c} &amp; &quot; - &quot; &amp; {!$Record.AirCallTag__c} &amp; &quot; - &quot; &amp; TEXT(NOW()+(1/24))</expression>
    </formulas>
    <interviewLabel>Task ( Before Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task ( After Update)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_the_latest</name>
        <label>Get the Latest Created Opportunity ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Updatethelatestcreatedopp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varLastCreatedOppId</assignToReference>
            <field>Open_Opportunity_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Subject</name>
        <label>Update Subject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckifSalesTriggerispopulated</targetReference>
        </connector>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>fmlSubject</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updatethelatestcreatedopp</name>
        <label>Update the latest created opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLastCreatedOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_Trigger__c</field>
            <value>
                <elementReference>$Record.Sales_Trigger__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Sales_Trigger__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Aircall_call</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varLastCreatedOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
