force-app/main/default/flows/Task_Cleanup_for_Closed_Opps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Task_to_Update_List</name>
        <label>Add Task to Update List</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varUpdateTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Open_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Open_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Loop_Open_Tasks.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_to_Update_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Follow_Up_Quote_Tasks_found</name>
        <label>Follow-Up Quote Tasks found</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Follow_Up_Quote_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Follow_Up_Quote_Tasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO-1618, RO-1622</description>
    <environments>Default</environments>
    <interviewLabel>Task Cleanup for Closed Opps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Cleanup for Closed Opps</label>
    <loops>
        <name>Loop_Open_Tasks</name>
        <label>Loop Open Tasks</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Open_Tasks_To_Complete</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Complete_Open_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Follow_Up_Quote_Tasks</name>
        <label>Delete Follow-Up Quote Tasks</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Follow-Up Quote</stringValue>
            </value>
        </filters>
        <object>Task</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Follow_Up_Quote_Tasks</name>
        <label>Get Follow-Up Quote Tasks</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Follow_Up_Quote_Tasks_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Follow-Up Quote</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Tasks_To_Complete</name>
        <label>Get Open Tasks To Complete</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Open_Tasks</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (NOT(4))</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Follow-Up Quote</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Day</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Complete_Open_Tasks</name>
        <label>Complete Open Tasks</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Get_Follow_Up_Quote_Tasks</targetReference>
        </connector>
        <inputReference>varUpdateTasks</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Open_Tasks_To_Complete</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varUpdateTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
