force-app/main/default/flows/Timestamps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_previous_timestamps</name>
        <label>Assign previous timestamps</label>
        <locationX>3746</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varTimestampPilotDefinition</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTimestampOffer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampDemoHeld</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTimestampOffer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampDemoConfirmed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTimestampOffer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampScheduled</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTimestampOffer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampCurrentlyInContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTimestampOffer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDemoHeldTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentlyinContactTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_Sales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns value to the field &quot;Timestamp Pilot Definition&quot;</description>
        <name>Assign_timestamp_pilot_definition</name>
        <label>Assign timestamp pilot definition</label>
        <locationX>4010</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>varTimestampPilotDefinition</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_Sales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Timestamps</name>
        <label>Assign Timestamps</label>
        <locationX>2162</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varTimestampScheduled</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTimestampDemoConfirmed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampCurrentlyInContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTimestampDemoConfirmed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentlyinContactTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_Sales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Previous_Timestamps</name>
        <label>Copy 1 of Previous Timestamps</label>
        <locationX>7310</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varTimestampQualifiedProspect</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_QualifiedProspect</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampNotReachedYet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_NotReachedYet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampCurrentlyInContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_CurrentlyInContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampScheduled</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_Scheduled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampDemoConfirmed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_DemoConfirmed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQualifiedProspectTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_QualifiedProspectTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNotReachedYetTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_NotReachedYetTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentlyinContactTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheckCurrentlyInContactTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampDemoHeld</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_DemoHeld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDemoHeldTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheckDemoHeldTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampPilotDefinition</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_PilotDefinition</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_Transactional</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Timestamps</name>
        <label>Get Timestamps</label>
        <locationX>6353</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>varTimestampNotReachedYet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Timestamp_Not_reached_yet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampQualifiedProspect</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Timestamp_Qualified_Prospect__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampCurrentlyInContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Timestamp_Currently_in_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampRescheduling</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Timestamp_Rescheduling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampDemoConfirmed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Timestamp_Demo_confirmed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampDemoHeld</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Timestamp_Demo_Held__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampPilotDefinition</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TimestampPilotDefinition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampOffer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TimestampOffer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampContractReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.dateTimestampContractreceived__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampClosedWonLost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.dateTimestampClosedWonLost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampFollowUpLater</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Timestamp_Follow_Up_later__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampPreDiscussion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Timestamp_Pre_Discussion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampInDiscussion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.dateTimestampInDiscussion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampOnlinekauf</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Timestamp_Onlinekauf__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampScheduled</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Timestamp_Demo_Scheduled__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNotReachedYetTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Timestamp_Not_reached_yet_time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDemoHeldTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Timestamp_Demo_Held_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentlyinContactTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Timestamp_Currently_in_Contact_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQualifiedProspectTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Timestamp_Qualified_Prospect_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOfferTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.dateTimestampOfferTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractReceivedTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Timestamp_Contract_Recieved_Time_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varClosedWonLostTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.dateTimestampClosedWonLostTime__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Previous_Timestamp</name>
        <label>Previous Timestamp</label>
        <locationX>1370</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varCurrentlyinContactTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTimestampScheduled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampCurrentlyInContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTimestampScheduled</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_Sales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Previous_Timestamps</name>
        <label>Previous Timestamps</label>
        <locationX>4230</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>varTimestampDemoHeld</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_DemoHeld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDemoHeldTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheckDemoHeldTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_from_Demo_Stages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Previous_Timestamps_1</name>
        <label>Previous Timestamps</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varTimestampNotReachedYet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_NotReachedYet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNotReachedYetTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_NotReachedYetTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_Sales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Previous_Timestamps_2</name>
        <label>Previous Timestamps</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varTimestampQualifiedProspect</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_QualifiedProspect</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampNotReachedYet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_NotReachedYet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQualifiedProspectTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_QualifiedProspectTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNotReachedYetTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_NotReachedYetTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_Sales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Previous_Timestamps_3</name>
        <label>Previous Timestamps</label>
        <locationX>1634</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varTimestampQualifiedProspect</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_QualifiedProspect</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampNotReachedYet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_NotReachedYet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampCurrentlyInContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_CurrentlyInContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQualifiedProspectTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_QualifiedProspectTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNotReachedYetTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_NotReachedYetTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentlyinContactTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheckCurrentlyInContactTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_Sales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Previous_Timestamps_4</name>
        <label>Previous Timestamps</label>
        <locationX>2426</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varTimestampQualifiedProspect</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_QualifiedProspect</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampNotReachedYet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_NotReachedYet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampCurrentlyInContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_CurrentlyInContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampScheduled</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_Scheduled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQualifiedProspectTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_QualifiedProspectTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNotReachedYetTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_NotReachedYetTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentlyinContactTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheckCurrentlyInContactTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_Sales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Previous_Timestamps_5</name>
        <label>Previous Timestamps</label>
        <locationX>2954</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varTimestampQualifiedProspect</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_QualifiedProspect</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampNotReachedYet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_NotReachedYet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampCurrentlyInContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_CurrentlyInContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampScheduled</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_Scheduled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampDemoConfirmed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_DemoConfirmed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQualifiedProspectTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_QualifiedProspectTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNotReachedYetTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_NotReachedYetTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentlyinContactTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheckCurrentlyInContactTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_Sales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Previous_Timestamps_6</name>
        <label>Previous Timestamps</label>
        <locationX>3482</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varTimestampQualifiedProspect</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_QualifiedProspect</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampNotReachedYet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_NotReachedYet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampCurrentlyInContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_CurrentlyInContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampScheduled</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_Scheduled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampDemoConfirmed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_DemoConfirmed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampDemoHeld</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_DemoHeld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQualifiedProspectTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_QualifiedProspectTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentlyinContactTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheckCurrentlyInContactTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNotReachedYetTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_NotReachedYetTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDemoHeldTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheckDemoHeldTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_Sales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Previous_Timestamps_Transactional</name>
        <label>Previous Timestamps</label>
        <locationX>6254</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varTimestampQualifiedProspect</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_QualifiedProspect</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampNotReachedYet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_NotReachedYet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQualifiedProspectTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_QualifiedProspectTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNotReachedYetTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_NotReachedYetTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_Transactional</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Previous_Timestamps_Transactional2</name>
        <label>Previous Timestamps</label>
        <locationX>6782</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varTimestampQualifiedProspect</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_QualifiedProspect</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampNotReachedYet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_NotReachedYet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampCurrentlyInContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_CurrentlyInContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampScheduled</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_Scheduled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampDemoConfirmed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_DemoConfirmed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQualifiedProspectTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_QualifiedProspectTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNotReachedYetTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_NotReachedYetTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentlyinContactTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheckCurrentlyInContactTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_Transactional</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Contract_Received</name>
        <label>Timestamp Contract Received</label>
        <locationX>4494</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTimestampContractReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractReceivedTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Close_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Contract_Received_2</name>
        <label>Timestamp Contract Received</label>
        <locationX>10390</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varTimestampContractReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractReceivedTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_6_of_Update_Close_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Contract_Received_3</name>
        <label>Timestamp Contract Received</label>
        <locationX>4758</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varTimestampContractReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractReceivedTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_4_of_Update_Close_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Contract_Received_if_empty_Transactional</name>
        <label>Timestamp Contract Received</label>
        <locationX>7574</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTimestampContractReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractReceivedTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Close_Date_Transactional</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Contract_Received_OtherRT</name>
        <label>Timestamp Contract Received</label>
        <locationX>10126</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTimestampContractReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractReceivedTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Close_Date_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Contract_Received_Transactional</name>
        <label>Timestamp Contract Received</label>
        <locationX>7838</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varTimestampContractReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractReceivedTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_5_of_Update_Close_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Currently_In_Contact</name>
        <label>Timestamp Currently In Contact (if empty)</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varTimestampCurrentlyInContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_CurrentlyInContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentlyinContactTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheckCurrentlyInContactTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Previous_Timestamps_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Currently_In_Contact_if_empty_Transactional</name>
        <label>Timestamp Currently In Contact (if empty)</label>
        <locationX>6254</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varTimestampCurrentlyInContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_CurrentlyInContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentlyinContactTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheckCurrentlyInContactTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Previous_Timestamps_Transactional</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Currently_In_Contact_New</name>
        <label>Timestamp Currently In Contact</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varTimestampCurrentlyInContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentlyinContactTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_Sales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Currently_In_Contact_Transactional</name>
        <label>Timestamp Currently In Contact</label>
        <locationX>5990</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varTimestampCurrentlyInContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentlyinContactTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampQualifiedProspect</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTimestampCurrentlyInContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQualifiedProspectTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentlyinContactTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_Transactional</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Demo_Confirmed</name>
        <label>Timestamp Demo Confirmed</label>
        <locationX>2294</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTimestampDemoConfirmed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_New_DemoConfirmed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Demo_Held</name>
        <label>Timestamp Demo Held (if emtpty)</label>
        <locationX>2954</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varTimestampDemoHeld</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_DemoHeld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDemoHeldTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheckDemoHeldTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Previous_Timestamps_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Demo_Held_if_emtpty_Transactional</name>
        <label>Timestamp Demo Held (if emtpty)</label>
        <locationX>6782</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varTimestampDemoHeld</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_DemoHeld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDemoHeldTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheckDemoHeldTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Previous_Timestamps_Transactional2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Demo_Held_New</name>
        <label>Timestamp Demo Held</label>
        <locationX>2690</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varTimestampDemoHeld</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDemoHeldTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampDemoConfirmed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDemoHeldTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampScheduled</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDemoHeldTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampCurrentlyInContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTimestampDemoHeld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentlyinContactTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDemoHeldTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_Sales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Demo_Held_Transactional</name>
        <label>Timestamp Demo Held</label>
        <locationX>6518</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varTimestampDemoHeld</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDemoHeldTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampCurrentlyInContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTimestampDemoHeld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentlyinContactTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDemoHeldTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampQualifiedProspect</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTimestampDemoHeld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQualifiedProspectTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDemoHeldTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_Transactional</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Follow_Up_Later</name>
        <label>Timestamp Follow Up Later</label>
        <locationX>9070</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTimestampFollowUpLater</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_OtherRT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_In_Discussion</name>
        <label>Timestamp In Discussion</label>
        <locationX>9334</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTimestampInDiscussion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_OtherRT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Not_Reached_Yet</name>
        <label>Timestamp Not Reached Yet</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTimestampNotReachedYet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNotReachedYetTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_Sales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Not_Reached_Yet_Qualified_Prospect</name>
        <label>Timestamp Not Reached Yet+Qualified Prospect</label>
        <locationX>5726</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTimestampNotReachedYet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNotReachedYetTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampQualifiedProspect</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQualifiedProspectTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_Transactional</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Offer</name>
        <label>Timestamp Offer (if empty)</label>
        <locationX>3944</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTimestampOffer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_Offer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOfferTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheckOfferTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_New_Offer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Offer_if_empty_Transactional</name>
        <label>Timestamp Offer (if empty)</label>
        <locationX>7310</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varTimestampOffer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_Offer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOfferTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheckOfferTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Previous_Timestamps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Offer_OtherRT</name>
        <label>Timestamp Offer</label>
        <locationX>9598</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTimestampOffer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOfferTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_OtherRT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Offer_Transactional</name>
        <label>Timestamp Offer</label>
        <locationX>7046</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varTimestampOffer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOfferTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampDemoHeld</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTimestampOffer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDemoHeldTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOfferTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampCurrentlyInContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTimestampDemoHeld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentlyinContactTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDemoHeldTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampQualifiedProspect</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTimestampCurrentlyInContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQualifiedProspectTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentlyinContactTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_Transactional</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Onlinekauf</name>
        <label>Timestamp Onlinekauf</label>
        <locationX>9862</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTimestampOnlinekauf</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_OtherRT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Pilot_Definition</name>
        <label>Timestamp Pilot Definition (if empty)</label>
        <locationX>3482</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varTimestampPilotDefinition</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_PilotDefinition</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Previous_Timestamps_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Pilot_Definition_New</name>
        <label>Timestamp Pilot Definition</label>
        <locationX>3218</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varTimestampPilotDefinition</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampDemoHeld</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTimestampPilotDefinition</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampDemoConfirmed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTimestampPilotDefinition</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampScheduled</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTimestampPilotDefinition</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimestampCurrentlyInContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTimestampPilotDefinition</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDemoHeldTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentlyinContactTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_Sales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Pre_Discussion</name>
        <label>Timestamp Pre-Discussion</label>
        <locationX>8806</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTimestampPreDiscussion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_OtherRT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Qualified_Prospect</name>
        <label>Timestamp Qualified Prospect (if empty)</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varTimestampQualifiedProspect</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_QualifiedProspect</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQualifiedProspectTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlEmptyCheck_QualifiedProspectTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Previous_Timestamps_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Qualified_Prospect_New</name>
        <label>Timestamp Qualified Prospect</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varTimestampQualifiedProspect</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQualifiedProspectTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_Sales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Rescheudling</name>
        <label>Timestamp Rescheudling</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTimestampRescheduling</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamps_Sales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Scheduled</name>
        <label>Timestamp Scheduled</label>
        <locationX>1502</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTimestampScheduled</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_New_Scheduled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamps_Closed_Lost</name>
        <label>Timestamps Closed Lost</label>
        <locationX>5198</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTimestampClosedWonLost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varClosedWonLostTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Close_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamps_Closed_Lost_2</name>
        <label>Timestamps Closed Lost</label>
        <locationX>10830</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTimestampClosedWonLost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varClosedWonLostTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Update_Close_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamps_Closed_Lost_Transactional</name>
        <label>Timestamps Closed Lost</label>
        <locationX>8278</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTimestampClosedWonLost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varClosedWonLostTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Update_Close_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamps_Closed_Won</name>
        <label>Timestamps Closed Won</label>
        <locationX>4890</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTimestampClosedWonLost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varClosedWonLostTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Timestamp_Contract_Received_Empty_Sales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamps_Closed_Won_3</name>
        <label>Timestamps Closed Won</label>
        <locationX>10522</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTimestampClosedWonLost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varClosedWonLostTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Timestamp_Contract_Received_Empty_OhterRT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamps_Closed_Won_Transactional</name>
        <label>Timestamps Closed Won</label>
        <locationX>7970</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTimestampClosedWonLost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varClosedWonLostTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Timestamp_Contract_Received_Empty</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Stage</name>
        <label>Check Stage</label>
        <locationX>2756</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Reached_Yet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not reached yet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamp_Not_Reached_Yet</targetReference>
            </connector>
            <label>Not Reached Yet</label>
        </rules>
        <rules>
            <name>Qualified_Prospect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_New_QualifiedProspect</targetReference>
            </connector>
            <label>Qualified Prospect</label>
        </rules>
        <rules>
            <name>Currently_in_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Currently in Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_New_CurrentlyInContact</targetReference>
            </connector>
            <label>Currently in Contact</label>
        </rules>
        <rules>
            <name>Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamp_Scheduled</targetReference>
            </connector>
            <label>Scheduled</label>
        </rules>
        <rules>
            <name>Rescheduling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rescheduling</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamp_Rescheudling</targetReference>
            </connector>
            <label>Rescheduling</label>
        </rules>
        <rules>
            <name>Demo_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demo Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamp_Demo_Confirmed</targetReference>
            </connector>
            <label>Demo Confirmed</label>
        </rules>
        <rules>
            <name>Demo_Held</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demo Held</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_New_DemoHeld</targetReference>
            </connector>
            <label>Demo Held</label>
        </rules>
        <rules>
            <name>Pilot_Definition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pilot Definition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_New_PilotDefinition</targetReference>
            </connector>
            <label>Pilot Definition</label>
        </rules>
        <rules>
            <name>Offer_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamp_Offer</targetReference>
            </connector>
            <label>Offer</label>
        </rules>
        <rules>
            <name>Contract_Received_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamp_Contract_Received</targetReference>
            </connector>
            <label>Contract Received</label>
        </rules>
        <rules>
            <name>Closed_Won_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamps_Closed_Won</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
        <rules>
            <name>Closed_Lost_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamps_Closed_Lost</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Stage_Non_Sales</name>
        <label>Check Stage</label>
        <locationX>9950</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pre_discussion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre- Discussion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTimestampPreDiscussion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamp_Pre_Discussion</targetReference>
            </connector>
            <label>Pre-discussion</label>
        </rules>
        <rules>
            <name>Follow_up_later</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow Up Later</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTimestampFollowUpLater</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamp_Follow_Up_Later</targetReference>
            </connector>
            <label>Follow-up later</label>
        </rules>
        <rules>
            <name>In_Discussion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Discussion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTimestampInDiscussion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamp_In_Discussion</targetReference>
            </connector>
            <label>In Discussion</label>
        </rules>
        <rules>
            <name>Offer_OtherRT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTimestampOffer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamp_Offer_OtherRT</targetReference>
            </connector>
            <label>Offer</label>
        </rules>
        <rules>
            <name>Onlinekauf</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onlinekauf</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTimestampOnlinekauf</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamp_Onlinekauf</targetReference>
            </connector>
            <label>Onlinekauf</label>
        </rules>
        <rules>
            <name>Contract_Received_OtherRT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTimestampContractReceived</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamp_Contract_Received_OtherRT</targetReference>
            </connector>
            <label>Contract Received</label>
        </rules>
        <rules>
            <name>Closed_Won_OtherRT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamps_Closed_Won_3</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
        <rules>
            <name>Closed_Lost_OtherRT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamps_Closed_Lost_2</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Stages</name>
        <label>Check Stages</label>
        <locationX>7134</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ready_for_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamp_Not_Reached_Yet_Qualified_Prospect</targetReference>
            </connector>
            <label>Ready for Sales</label>
        </rules>
        <rules>
            <name>In_Qualification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Qualification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_New</targetReference>
            </connector>
            <label>In Qualification</label>
        </rules>
        <rules>
            <name>Pitch_NEgotiation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pitch &amp; Negotiation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_New2</targetReference>
            </connector>
            <label>Pitch &amp; Negotiation</label>
        </rules>
        <rules>
            <name>Offer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_New3</targetReference>
            </connector>
            <label>Offer</label>
        </rules>
        <rules>
            <name>Contract_received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamp_Contract_Received_if_empty_Transactional</targetReference>
            </connector>
            <label>Contract received</label>
        </rules>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamps_Closed_Won_Transactional</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamps_Closed_Lost_Transactional</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the opportunity is moved to the &quot;Offer&quot; stage from &quot;Demo confirmed&quot; or &quot;Demo Held&quot; (i.e) Stage &quot;Pilot Definition&quot; is skipped</description>
        <name>Is_from_Demo_Stages</name>
        <label>Is from Demo Stages</label>
        <locationX>4142</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Update_Timestamps_Sales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_7</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demo Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demo Held</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_timestamp_pilot_definition</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_moved_from_Pilot_Definition</name>
        <label>Is moved from Pilot Definition</label>
        <locationX>4142</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Previous_Timestamps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pilot Definition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_from_Demo_Stages</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New</name>
        <label>Is New</label>
        <locationX>6122</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Timestamp_Currently_In_Contact_if_empty_Transactional</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamp_Currently_In_Contact_Transactional</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New2</name>
        <label>Is New</label>
        <locationX>6650</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Timestamp_Demo_Held_if_emtpty_Transactional</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamp_Demo_Held_Transactional</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New3</name>
        <label>Is New</label>
        <locationX>7178</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Timestamp_Offer_if_empty_Transactional</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamp_Offer_Transactional</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_CurrentlyInContact</name>
        <label>Is New</label>
        <locationX>974</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Timestamp_Currently_In_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamp_Currently_In_Contact_New</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_DemoConfirmed</name>
        <label>Is New</label>
        <locationX>2294</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Previous_Timestamps_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Timestamps</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_DemoHeld</name>
        <label>Is New</label>
        <locationX>2822</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Timestamp_Demo_Held</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamp_Demo_Held_New</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Offer</name>
        <label>Is New Offer</label>
        <locationX>3944</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Is_moved_from_Pilot_Definition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Offer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_previous_timestamps</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_PilotDefinition</name>
        <label>Is New</label>
        <locationX>3350</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Timestamp_Pilot_Definition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamp_Pilot_Definition_New</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_QualifiedProspect</name>
        <label>Is New</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Timestamp_Qualified_Prospect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamp_Qualified_Prospect_New</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Scheduled</name>
        <label>Is New</label>
        <locationX>1502</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Previous_Timestamps_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Timestamp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Record_Type</name>
        <label>Opportunity Record Type</label>
        <locationX>6353</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_Stage_Non_Sales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Record Types</defaultConnectorLabel>
        <rules>
            <name>Sales_Agency_Acquisition</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency_Acquisition</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Stage</targetReference>
            </connector>
            <label>Sales/Agency Acquisition</label>
        </rules>
        <rules>
            <name>Sales_Transactional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OppSalesTransactionalRT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Stages</targetReference>
            </connector>
            <label>Sales Transactional</label>
        </rules>
    </decisions>
    <decisions>
        <name>Timestamp_Contract_Received_Empty</name>
        <label>Timestamp Contract Received Empty</label>
        <locationX>7970</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Update_Timestamps_Transactional</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTimestampContractReceived</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamp_Contract_Received_Transactional</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Timestamp_Contract_Received_Empty_OhterRT</name>
        <label>Timestamp Contract Received Empty</label>
        <locationX>10522</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Update_Timestamps_OtherRT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTimestampContractReceived</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamp_Contract_Received_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Timestamp_Contract_Received_Empty_Sales</name>
        <label>Timestamp Contract Received Empty</label>
        <locationX>4890</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Update_Timestamps_Sales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTimestampContractReceived</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamp_Contract_Received_3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>edit: RO-1275, RO-1256, RO-1410, RO-1473, RO - 1781,RO - 1859, RO-2090, RO-2610, RO - 2814</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlCurrentDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>fmlDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <description>Assigns the current date if the date of the variable is empty and keeps the existing value otherwise</description>
        <name>fmlEmptyCheck_ContractReceived</name>
        <dataType>Date</dataType>
        <expression>IF( ISNULL( {!varTimestampContractReceived} ), {!fmlCurrentDate}, {!varTimestampContractReceived})</expression>
    </formulas>
    <formulas>
        <description>Assigns the current date if the date of the variable is empty and keeps the existing value otherwise</description>
        <name>fmlEmptyCheck_CurrentlyInContact</name>
        <dataType>Date</dataType>
        <expression>IF( ISNULL({!varTimestampCurrentlyInContact} ), {!fmlCurrentDate},  {!varTimestampCurrentlyInContact})</expression>
    </formulas>
    <formulas>
        <description>Assigns the current date if the date of the variable is empty and keeps the existing value otherwise</description>
        <name>fmlEmptyCheck_DemoConfirmed</name>
        <dataType>Date</dataType>
        <expression>IF( ISNULL({!varTimestampDemoConfirmed} ), {!fmlCurrentDate}, {!varTimestampDemoConfirmed})</expression>
    </formulas>
    <formulas>
        <description>Assigns the current date if the date of the variable is empty and keeps the existing value otherwise</description>
        <name>fmlEmptyCheck_DemoHeld</name>
        <dataType>Date</dataType>
        <expression>IF( ISNULL({!varTimestampDemoHeld} ), {!fmlCurrentDate}, {!varTimestampDemoHeld})</expression>
    </formulas>
    <formulas>
        <description>Assigns the current date if the date of the variable is empty and keeps the existing value otherwise</description>
        <name>fmlEmptyCheck_NotReachedYet</name>
        <dataType>Date</dataType>
        <expression>IF( ISNULL( {!varTimestampNotReachedYet} ), {!fmlCurrentDate}, {!varTimestampNotReachedYet} )</expression>
    </formulas>
    <formulas>
        <name>fmlEmptyCheck_NotReachedYetTime</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISNULL({!varNotReachedYetTime}), {!fmlDateTime} , {!varNotReachedYetTime})</expression>
    </formulas>
    <formulas>
        <description>Assigns the current date if the date of the variable is empty and keeps the existing value otherwise</description>
        <name>fmlEmptyCheck_Offer</name>
        <dataType>Date</dataType>
        <expression>IF( ISNULL( {!varTimestampOffer} ), {!fmlCurrentDate}, {!varTimestampOffer})</expression>
    </formulas>
    <formulas>
        <description>Assigns the current date if the date of the variable is empty and keeps the existing value otherwise</description>
        <name>fmlEmptyCheck_PilotDefinition</name>
        <dataType>Date</dataType>
        <expression>IF( ISNULL({!varTimestampPilotDefinition} ), {!fmlCurrentDate}, {!varTimestampPilotDefinition})</expression>
    </formulas>
    <formulas>
        <description>Assigns the current date if the date of the variable is empty and keeps the existing value otherwise</description>
        <name>fmlEmptyCheck_QualifiedProspect</name>
        <dataType>Date</dataType>
        <expression>IF( ISNULL( {!varTimestampQualifiedProspect} ), {!fmlCurrentDate}, {!varTimestampQualifiedProspect} )</expression>
    </formulas>
    <formulas>
        <name>fmlEmptyCheck_QualifiedProspectTime</name>
        <dataType>DateTime</dataType>
        <expression>IF( ISNULL( {!varQualifiedProspectTime} ), {!fmlDateTime}, {!varQualifiedProspectTime} )</expression>
    </formulas>
    <formulas>
        <description>Assigns the current date if the date of the variable is empty and keeps the existing value otherwise</description>
        <name>fmlEmptyCheck_Scheduled</name>
        <dataType>Date</dataType>
        <expression>IF( ISNULL({!varTimestampScheduled} ), {!fmlCurrentDate}, {!varTimestampScheduled})</expression>
    </formulas>
    <formulas>
        <name>fmlEmptyCheckContractReceivedTime</name>
        <dataType>DateTime</dataType>
        <expression>IF( ISNULL( {!varContractReceivedTime} ), {!fmlDateTime}, {!varContractReceivedTime})</expression>
    </formulas>
    <formulas>
        <name>fmlEmptyCheckCurrentlyInContactTime</name>
        <dataType>DateTime</dataType>
        <expression>IF( ISNULL({!varCurrentlyinContactTime} ), {!fmlDateTime}, {!varCurrentlyinContactTime})</expression>
    </formulas>
    <formulas>
        <name>fmlEmptyCheckDemoHeldTime</name>
        <dataType>DateTime</dataType>
        <expression>IF( ISNULL({!varDemoHeldTime} ), {!fmlDateTime},  {!varDemoHeldTime})</expression>
    </formulas>
    <formulas>
        <name>fmlEmptyCheckOfferTime</name>
        <dataType>DateTime</dataType>
        <expression>IF( ISNULL( {!varOfferTime} ), {!fmlDateTime} , {!varOfferTime})</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Timestamps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Timestamps</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Update_Close_Date</name>
        <label>Copy 1 of Update Close Date</label>
        <locationX>5198</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Timestamps_Sales</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Close_Date</name>
        <label>Copy 2 of Update Close Date</label>
        <locationX>8278</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Timestamps_Transactional</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Close_Date</name>
        <label>Copy 3 of Update Close Date</label>
        <locationX>10830</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Timestamps_OtherRT</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Update_Close_Date</name>
        <label>Copy 4 of Update Close Date</label>
        <locationX>4758</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_Timestamps_Sales</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_5_of_Update_Close_Date</name>
        <label>Copy 5 of Update Close Date</label>
        <locationX>7838</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_Timestamps_Transactional</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_6_of_Update_Close_Date</name>
        <label>Copy 6 of Update Close Date</label>
        <locationX>10390</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_Timestamps_OtherRT</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Close_Date</name>
        <label>Update Close Date</label>
        <locationX>4494</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Timestamps_Sales</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Close_Date_1</name>
        <label>Update Close Date</label>
        <locationX>10126</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Timestamps_OtherRT</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Close_Date_Transactional</name>
        <label>Update Close Date</label>
        <locationX>7574</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Timestamps_Transactional</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>fmlCurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Timestamps_OtherRT</name>
        <label>Update Timestamps</label>
        <locationX>9950</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>TimestampOffer__c</field>
            <value>
                <elementReference>varTimestampOffer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Contract_Recieved_Time_2__c</field>
            <value>
                <elementReference>varContractReceivedTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Follow_Up_later__c</field>
            <value>
                <elementReference>varTimestampFollowUpLater</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Onlinekauf__c</field>
            <value>
                <elementReference>varTimestampOnlinekauf</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Pre_Discussion__c</field>
            <value>
                <elementReference>varTimestampPreDiscussion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dateTimestampClosedWonLostTime__c</field>
            <value>
                <elementReference>varClosedWonLostTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dateTimestampClosedWonLost__c</field>
            <value>
                <elementReference>varTimestampClosedWonLost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dateTimestampContractreceived__c</field>
            <value>
                <elementReference>varTimestampContractReceived</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dateTimestampInDiscussion__c</field>
            <value>
                <elementReference>varTimestampInDiscussion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dateTimestampOfferTime__c</field>
            <value>
                <elementReference>varOfferTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Timestamps_Sales</name>
        <label>Update Timestamps</label>
        <locationX>2756</locationX>
        <locationY>1631</locationY>
        <inputAssignments>
            <field>TimestampOffer__c</field>
            <value>
                <elementReference>varTimestampOffer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimestampPilotDefinition__c</field>
            <value>
                <elementReference>varTimestampPilotDefinition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Contract_Recieved_Time_2__c</field>
            <value>
                <elementReference>varContractReceivedTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Currently_in_Contact_Time__c</field>
            <value>
                <elementReference>varCurrentlyinContactTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Currently_in_Contact__c</field>
            <value>
                <elementReference>varTimestampCurrentlyInContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Demo_Held_Time__c</field>
            <value>
                <elementReference>varDemoHeldTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Demo_Held__c</field>
            <value>
                <elementReference>varTimestampDemoHeld</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Demo_Scheduled__c</field>
            <value>
                <elementReference>varTimestampScheduled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Demo_confirmed__c</field>
            <value>
                <elementReference>varTimestampDemoConfirmed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Not_reached_yet__c</field>
            <value>
                <elementReference>varTimestampNotReachedYet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Not_reached_yet_time__c</field>
            <value>
                <elementReference>varNotReachedYetTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Qualified_Prospect_Time__c</field>
            <value>
                <elementReference>varQualifiedProspectTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Qualified_Prospect__c</field>
            <value>
                <elementReference>varTimestampQualifiedProspect</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Rescheduling__c</field>
            <value>
                <elementReference>varTimestampRescheduling</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dateTimestampClosedWonLostTime__c</field>
            <value>
                <elementReference>varClosedWonLostTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dateTimestampClosedWonLost__c</field>
            <value>
                <elementReference>varTimestampClosedWonLost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dateTimestampContractreceived__c</field>
            <value>
                <elementReference>varTimestampContractReceived</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dateTimestampOfferTime__c</field>
            <value>
                <elementReference>varOfferTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Timestamps_Transactional</name>
        <label>Update Timestamps</label>
        <locationX>7134</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>TimestampOffer__c</field>
            <value>
                <elementReference>varTimestampOffer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimestampPilotDefinition__c</field>
            <value>
                <elementReference>varTimestampPilotDefinition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Contract_Recieved_Time_2__c</field>
            <value>
                <elementReference>varContractReceivedTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Currently_in_Contact_Time__c</field>
            <value>
                <elementReference>varCurrentlyinContactTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Currently_in_Contact__c</field>
            <value>
                <elementReference>varTimestampCurrentlyInContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Demo_Held_Time__c</field>
            <value>
                <elementReference>varDemoHeldTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Demo_Held__c</field>
            <value>
                <elementReference>varTimestampDemoHeld</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Demo_Scheduled__c</field>
            <value>
                <elementReference>varTimestampScheduled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Demo_confirmed__c</field>
            <value>
                <elementReference>varTimestampDemoConfirmed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Not_reached_yet__c</field>
            <value>
                <elementReference>varTimestampNotReachedYet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Not_reached_yet_time__c</field>
            <value>
                <elementReference>varNotReachedYetTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Qualified_Prospect_Time__c</field>
            <value>
                <elementReference>varQualifiedProspectTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_Qualified_Prospect__c</field>
            <value>
                <elementReference>varTimestampQualifiedProspect</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dateTimestampClosedWonLostTime__c</field>
            <value>
                <elementReference>varClosedWonLostTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dateTimestampClosedWonLost__c</field>
            <value>
                <elementReference>varTimestampClosedWonLost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dateTimestampContractreceived__c</field>
            <value>
                <elementReference>varTimestampContractReceived</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dateTimestampOfferTime__c</field>
            <value>
                <elementReference>varOfferTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>6227</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Timestamps</targetReference>
        </connector>
        <filterFormula>OR(
ISCHANGED({!$Record.StageName}),
ISNEW())</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varClosedWonLostTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContractReceivedTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentlyinContactTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDemoHeldTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNotReachedYetTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOfferTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQualifiedProspectTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimestampClosedWonLost</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimestampContractReceived</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimestampCurrentlyInContact</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimestampDemoConfirmed</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimestampDemoHeld</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimestampFollowUpLater</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimestampInDiscussion</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimestampNotReachedYet</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimestampOffer</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimestampOnlinekauf</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimestampPilotDefinition</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimestampPreDiscussion</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimestampQualifiedProspect</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimestampRescheduling</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimestampScheduled</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
