force-app/main/default/flows/TriggertaskforREACHCampaignend.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Check_if_End_date_is_8_weeks_in_the_future</name>
        <label>Check if End date is 8 weeks in the future</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fmlReachEndDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>56.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Tasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO - 2397, RO - 2747</description>
    <environments>Default</environments>
    <formulas>
        <name>fml2weeks</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 14</expression>
    </formulas>
    <formulas>
        <name>fmlReachEndDate</name>
        <dataType>Number</dataType>
        <expression>{!$Record.REACH_campaign_end_date__c} -  TODAY()</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trigger task for REACH Campaign end</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>fml2weeks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>REACH Campaign ends, follow up with customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_End_date_is_8_weeks_in_the_future</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>REACH_campaign_end_date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>REACH_campaign_end_date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <dateValue>2025-02-20</dateValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-02-24</startDate>
            <startTime>07:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
