force-app/main/default/flows/Update_task_owner_change_eligibility_on_Account_owner_change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_tasks_to_the_list</name>
        <label>Add tasks to the list</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varTaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_the_task_list</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_the_task_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Marks the boolean field &quot;Is Owner changed&quot; to &quot;true&quot;</description>
        <name>Mark_as_eligible_for_owner_change</name>
        <label>Mark as eligible for owner change</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Iterate_over_the_task_list.Is_Owner_changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_tasks_to_the_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if the any open or in-progress tasks are present</description>
        <name>Open_tasks_present</name>
        <label>Open tasks present?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_open_tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_the_task_list</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO-1416, Exclude tasks from Cadences</description>
    <environments>Default</environments>
    <interviewLabel>Update task owner change eligibility on Account owner change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update task owner change eligibility on Account owner change</label>
    <loops>
        <name>Iterate_over_the_task_list</name>
        <label>Iterate over the task list</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_open_tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Mark_as_eligible_for_owner_change</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieve all the open tasks which are owned by the previous owner</description>
        <name>Get_open_tasks</name>
        <label>Get open tasks</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_tasks_present</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Day</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Tasks</name>
        <label>Update Tasks</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputReference>varTaskList</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_open_tasks</targetReference>
        </connector>
        <filterFormula>AND(
ISCHANGED({!$Record.OwnerId}),
NOT(ISNULL({!$Record.OwnerId})),
NOT({!$Record.RecordType.DeveloperName} = &quot;Inventory_Partner&quot;)
)</filterFormula>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varTaskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
