force-app/main/default/flows/Update_SLA_1_status_to_Lost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Contacts</name>
        <label>Add Contacts</label>
        <locationX>396</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>varContactCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_the_contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_the_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SLA_1_status</name>
        <label>Assign SLA 1 status</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_the_contacts.SLA_1_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Update_SLA1_to_Lost</name>
        <label>Update SLA1 to Lost ?</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Add_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND ( 2 OR 5) AND  (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_the_contacts.Timestamp_Became_a_MQL_Contact_Latest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_the_contacts.Account.Timestamp_Acc_Lifecycle_Stage_Outbound__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Loop_through_the_contacts.Timestamp_Became_a_MQL_Contact_Latest__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_the_contacts.Timestamp_Latest_Opp_Contact_Role__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_the_contacts.Timestamp_Latest_Opp_Contact_Role__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Loop_through_the_contacts.Timestamp_Became_a_MQL_Contact_Latest__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_the_contacts.Account.Timestamp_Acc_Lifecycle_Stage_Lost__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Loop_through_the_contacts.Timestamp_Became_a_MQL_Contact_Latest__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SLA_1_status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO - 2355</description>
    <environments>Default</environments>
    <interviewLabel>Update SLA 1 status to Lost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update SLA 1 status to Lost</label>
    <loops>
        <name>Loop_through_the_contacts</name>
        <label>Loop through the contacts</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_SLA1_to_Lost</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Updated_SLA_on_the_contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_the_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SLA_1_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updated_SLA_on_the_contacts</name>
        <label>Updated SLA on the contacts</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <inputReference>varContactCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Stage_ACM__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Stage_ACM__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage_ACM__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varContactCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
