force-app/main/default/flows/Update_SLA_1_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Check_SLA_1_time_taken</name>
        <label>Check SLA 1 time taken</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Met_above_Tolerance</name>
            <conditionLogic>((1 AND 4) OR ( 2 AND 5 ) OR ( 3 AND 6) )AND 7 AND 8 AND 9 AND 10</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SLA_1_Time_taken__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>fmlSLA1Type1WithinTolerance</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_1_Time_taken__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>fmlSLA1Type2WithinTolerance</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_1_Time_taken__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>fmlSLA1Type3WithinTolerance</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MQL_Type_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Type 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MQL_Type_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Type 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MQL_Type_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Type 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Stage_ACM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Outbound</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Timestamp_Latest_Opp_Contact_Role__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Stage_ACM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Prospect</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Timestamp_Latest_Opp_Contact_Role__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Timestamp_Became_a_MQL_Contact_Latest__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA_1_status_3</targetReference>
            </connector>
            <label>Met above Tolerance</label>
        </rules>
        <rules>
            <name>Met</name>
            <conditionLogic>((1 AND 4) OR  (2 AND 5) OR ( 3 AND 6)) AND 7 AND 8 AND 9 AND 10</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SLA_1_Time_taken__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>24.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_1_Time_taken__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>48.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_1_Time_taken__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>72.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MQL_Type_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Type 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MQL_Type_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Type 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MQL_Type_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Type 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Stage_ACM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Outbound</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Timestamp_Latest_Opp_Contact_Role__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Stage_ACM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Prospect</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Timestamp_Latest_Opp_Contact_Role__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Timestamp_Became_a_MQL_Contact_Latest__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA_1_status</targetReference>
            </connector>
            <label>Met</label>
        </rules>
        <rules>
            <name>Met_within_Tolerance</name>
            <conditionLogic>((1 AND 4) OR ( 2 AND 5) OR (3 AND 6)) AND 7 AND 8 AND 9 AND 10</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SLA_1_Time_taken__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>fmlSLA1Type1WithinTolerance</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_1_Time_taken__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>fmlSLA1Type2WithinTolerance</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_1_Time_taken__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>fmlSLA1Type3WithinTolerance</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MQL_Type_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Type 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MQL_Type_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Type 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MQL_Type_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Type 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Stage_ACM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Outbound</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Timestamp_Latest_Opp_Contact_Role__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Stage_ACM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Lifecycle_Stage_Prospect</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Timestamp_Latest_Opp_Contact_Role__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Timestamp_Became_a_MQL_Contact_Latest__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA_1_status_2</targetReference>
            </connector>
            <label>Met within Tolerance</label>
        </rules>
    </decisions>
    <description>RO - 2355</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlSLA1Type1WithinTolerance</name>
        <dataType>Number</dataType>
        <expression>24 + VALUE ({!$Label.SLA_Tolerance})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fmlSLA1Type2WithinTolerance</name>
        <dataType>Number</dataType>
        <expression>48 + VALUE({!$Label.SLA_Tolerance})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fmlSLA1Type3WithinTolerance</name>
        <dataType>Number</dataType>
        <expression>72 + VALUE ({!$Label.SLA_Tolerance})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update SLA 1 Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update SLA 1 Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_SLA_1_status</name>
        <label>Update SLA 1 status</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>SLA_1_status__c</field>
            <value>
                <stringValue>Met</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_1_status_2</name>
        <label>Update SLA 1 status</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>SLA_1_status__c</field>
            <value>
                <stringValue>Met within Tolerance</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_1_status_3</name>
        <label>Update SLA 1 status</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>SLA_1_status__c</field>
            <value>
                <stringValue>Met above Tolerance</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_SLA_1_time_taken</targetReference>
        </connector>
        <filterLogic>(1 OR 2 ) AND 3</filterLogic>
        <filters>
            <field>SLA_1_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Timestamp_Latest_Opp_Contact_Role__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Timestamp_latest_opp_contact_role_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
