force-app/main/default/flows/Update_Opportunity_on_create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign source_opp</label>
        <locationX>402</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>$Record.Source_Opp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInboundSource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Category fields need to be populated after each other due to dependency</description>
        <name>Assign_Category_2_from_Account</name>
        <label>Assign Category 2 from Account</label>
        <locationX>314</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Category_2_from_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Category_2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Category_3_from_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Category fields need to be populated after each other due to dependency</description>
        <name>Assign_Category_3_from_Account</name>
        <label>Assign Category 3 from Account</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Category_3_from_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Category_3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Onlinekauf</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SQL_Fields_from_Account</name>
        <label>Assign SQL Fields from Account</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Number_of_Employees_from_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.NumberOfEmployees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Open_Jobs_from_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.plOpenJobs__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HeyJobs_Category_from_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.HeyJobs_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Category_1_from_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Category_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Funnel_areas_of_neglect__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Funnel_areas_of_neglect__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Challenging_roles_departments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Challenging_roles_departments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Decision_maker_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Decision_maker_name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Budget_availability_next_quarter_year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Budget_availability_next_quarter_year__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Approval_process_recruitment_solution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Approval_process_recruitment_solution__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Key_factors_in_decision_making__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Key_factors_in_decision_making__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Annual_recruitment_volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Annual_recruitment_volume__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Implementation_timeline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Implementation_timeline__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Events_impacting_prioritization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Events_impacting_prioritization__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Success_measurement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Success_measurement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Total_annual_recruiting_budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Total_annual_recruiting_budget__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Existence_employer_branding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Existence_employer_branding__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Competitor_1_current_future__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Competitor_1_current_future__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Competitor_2_current_future__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Competitor_2_current_future__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Competitor_3_current_future__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Competitor_3_current_future__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Other_Competitor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Other_Competitor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Category_2_from_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Billing_Shipping_info</name>
        <label>Populate Billing &amp; Shipping info</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Bill_To_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillToName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Country_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Zip_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ship_To_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShipToName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Shipping_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Shipping_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Shipping_ZIP_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Shipping_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.No_Repeat_Purchase_Typeform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoRepeatPurchaseTypeform</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Additional_Billing_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AdditionalBillingInformation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Bill_Is_Ship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBillIsShip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.VAT_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varVatID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_First_Opportunity_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_First_Opportunity_Stage</name>
        <label>Save First Opportunity Stage</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.First_Opportunity_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_values_on_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Opportunity_Name</name>
        <label>Set New Opportunity Name</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaOpportunityNamingConventions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Converted_Lead_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Qualified_Prospect</name>
        <label>Set Stage to Qualified Prospect</label>
        <locationX>182</locationX>
        <locationY>1451</locationY>
        <assignmentItems>
            <assignToReference>$Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualified Prospect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_source_opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Type_to_Hunting</name>
        <label>Set Type to Hunting</label>
        <locationX>314</locationX>
        <locationY>2051</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hunting</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Type_to_Prospecting</name>
        <label>Set Type to Prospecting</label>
        <locationX>50</locationX>
        <locationY>2051</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_values_on_Opp</name>
        <label>Set values on Opp</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.refParentAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varParentAccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Career_Page__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCareerPage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Payment_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarPaymentTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SQL_Fields_from_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_source_opp</name>
        <label>Check for source_opp</label>
        <locationX>314</locationX>
        <locationY>1643</locationY>
        <defaultConnector>
            <targetReference>Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source_Opp__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Converted_Lead_ID</name>
        <label>Has Converted Lead ID?</label>
        <locationX>314</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Check_for_source_opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Converted_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Converted_Lead_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_to_Qualified_Prospect</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Onlinekauf</name>
        <label>Onlinekauf</label>
        <locationX>314</locationX>
        <locationY>1043</locationY>
        <defaultConnector>
            <targetReference>Has_Converted_Lead_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Onlinekauf</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onlinekauf__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Opportunity_Name</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type</name>
        <label>Type</label>
        <locationX>314</locationX>
        <locationY>1943</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prospecting</name>
            <conditionLogic>(1 OR 6) AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not reached yet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified Prospect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Currently in Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency_Acquisition</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Type_to_Prospecting</targetReference>
            </connector>
            <label>Prospecting</label>
        </rules>
        <rules>
            <name>Hunting</name>
            <conditionLogic>(1 OR 7) AND ( 2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demo Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demo Held</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pilot Definition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency_Acquisition</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Type_to_Hunting</targetReference>
            </connector>
            <label>Hunting</label>
        </rules>
    </decisions>
    <description>Billing_shipping_update + RO-490, RO-414, RO-456, RO-639, RO-841, RO-902, RO-1014, RO-1080, RO-1248, RO-1256, RO-1430, Power week - removal of legacy SMB prospecting field, Added the missing source_opp update on Opp. RO-2155, Fix VAT ID, RO-2347, RO-2618, RO - 1357 , RO - 1357</description>
    <environments>Default</environments>
    <formulas>
        <name>AdditionalBillingInformation</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Additional_Billing_Information__c}), {!Additional_billing_information}, {!$Record.Additional_Billing_Information__c})</expression>
    </formulas>
    <formulas>
        <name>BillingCity</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Billing_City__c}),{!Billing_city},{!$Record.Billing_City__c})</expression>
    </formulas>
    <formulas>
        <name>BillingCountry</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!$Record.Billing_Country_Code__c})),{!Billing_country},TEXT({!$Record.Billing_Country_Code__c}))</expression>
    </formulas>
    <formulas>
        <name>BillingEmail</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Billing_Email__c}),{!Billing_email},{!$Record.Billing_Email__c})</expression>
    </formulas>
    <formulas>
        <name>BillingPostalCode</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Billing_Zip_Postal_Code__c}),{!billing_postal_code},{!$Record.Billing_Zip_Postal_Code__c})</expression>
    </formulas>
    <formulas>
        <name>BillingStreet</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Billing_Street__c}),{!Billing_street},{!$Record.Billing_Street__c})</expression>
    </formulas>
    <formulas>
        <name>BillToName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Bill_To_Name__c}),{!Bill_to_name},{!$Record.Bill_To_Name__c} )</expression>
    </formulas>
    <formulas>
        <name>formulaOpportunityNamingConventions</name>
        <dataType>String</dataType>
        <expression>IF(
LEN(  TEXT(TODAY()) &amp;&quot; &quot; &amp; {!$Record.RecordType.Name}&amp; &quot; &quot; &amp; {!$Record.Account.Name}  ) &gt; 120 ,
LEFT(  TEXT(TODAY()) &amp;&quot; &quot; &amp; {!$Record.RecordType.Name}&amp; &quot; &quot; &amp; {!$Record.Account.Name}  , 120  ),
TEXT(TODAY()) &amp;&quot; &quot; &amp; {!$Record.RecordType.Name}&amp; &quot; &quot; &amp; {!$Record.Account.Name}
)</expression>
    </formulas>
    <formulas>
        <name>NoRepeatPurchaseTypeform</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT({!$Record.No_Repeat_Purchase_Typeform__c}), {!No_repeat_purchase_typeform}, {!$Record.No_Repeat_Purchase_Typeform__c})</expression>
    </formulas>
    <formulas>
        <name>ShippingCity</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Shipping_City__c}), {!Shipping_city}, {!$Record.Shipping_City__c})</expression>
    </formulas>
    <formulas>
        <name>ShippingCountry</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!$Record.Shipping_Country__c})), {!Shipping_country}, TEXT({!$Record.Shipping_Country__c}))</expression>
    </formulas>
    <formulas>
        <name>ShippingPostalCode</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Shipping_ZIP_Postal_Code__c}), {!Shipping_postal_code}, {!$Record.Shipping_ZIP_Postal_Code__c})</expression>
    </formulas>
    <formulas>
        <name>ShippingStreet</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Shipping_Street__c}), {!Shipping_street}, {!$Record.Shipping_Street__c})</expression>
    </formulas>
    <formulas>
        <name>ShipToName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Ship_To_Name__c}),{!Ship_to_name},{!$Record.Ship_To_Name__c})</expression>
    </formulas>
    <interviewLabel>Update Opportunity on create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Opportunity on create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_information</name>
        <label>Get Account information</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Billing_Shipping_info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Additional_billing_information</assignToReference>
            <field>Additional_Billing_Information__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Bill_to_name</assignToReference>
            <field>Bill_To_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBillIsShip</assignToReference>
            <field>Bill_is_Ship__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Billing_city</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Billing_country</assignToReference>
            <field>BillingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>billing_postal_code</assignToReference>
            <field>BillingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Billing_state</assignToReference>
            <field>BillingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Billing_street</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Billing_email</assignToReference>
            <field>Billing_Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Dunning_email</assignToReference>
            <field>Dunning_Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInboundSource</assignToReference>
            <field>Inbound_Source__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>No_repeat_purchase_typeform</assignToReference>
            <field>No_Repeat_Purchase_Typeform__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Additional_email</assignToReference>
            <field>ON_EmailInvoiceCc__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varParentAccountID</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarPaymentTime</assignToReference>
            <field>Payment_Time__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Ship_to_name</assignToReference>
            <field>Ship_To_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Shipping_city</assignToReference>
            <field>ShippingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Shipping_country</assignToReference>
            <field>ShippingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Shipping_postal_code</assignToReference>
            <field>ShippingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Shipping_street</assignToReference>
            <field>ShippingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVatID</assignToReference>
            <field>txtVATID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCareerPage</assignToReference>
            <field>urlCareerPage__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Additional_billing_information</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Additional_email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Bill_to_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Billing_city</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Billing_country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Billing_email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>billing_postal_code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Billing_state</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Billing_street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Dunning_email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>No_repeat_purchase_typeform</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Ship_to_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Shipping_city</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Shipping_country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Shipping_postal_code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Shipping_street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBillIsShip</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCareerPage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInboundSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarPaymentTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varSegment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSegmentV02</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSMBSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varVatID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
