force-app/main/default/flows/ZP_2024_SLA_Opps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Contact_to_Collection</name>
        <label>Add Contact to Collection</label>
        <locationX>138</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>varContactsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SLA</name>
        <label>Update SLA</label>
        <locationX>138</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.ZP_2024_SLA_Met__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Update_SLA2</name>
        <label>Update SLA?</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_HOT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Lead_Classification_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HOT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.dateTimestampClosedWonLostTime__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2024-09-13T17:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MQL_Conversion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2024-8-COV-LEV-LP-MQL-ZP24_Lead-Flow</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Answered_Calls_HOT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_Contact_Roles</targetReference>
            </connector>
            <label>Yes (HOT)</label>
        </rules>
        <rules>
            <name>Yes_WARM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Lead_Classification_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WARM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.dateTimestampClosedWonLostTime__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2024-09-20T16:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MQL_Conversion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2024-8-COV-LEV-LP-MQL-ZP24_Lead-Flow</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Answered_Calls_WARM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_all_Contact_Roles</targetReference>
            </connector>
            <label>Yes (WARM)</label>
        </rules>
    </decisions>
    <decisions>
        <name>ZP_Contact</name>
        <label>ZP Contact?</label>
        <locationX>270</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Loop_Contact_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.MQL_Conversion_c__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2024-8-COV-LEV-LP-MQL-ZP24_Lead-Flow</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.Event_Lead_Classification_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HOT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.Event_Lead_Classification_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WARM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO-2244</description>
    <environments>Default</environments>
    <interviewLabel>ZP 2024 - SLA (Opps) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ZP 2024 - SLA (Opps)</label>
    <loops>
        <name>Loop_Contact_Roles</name>
        <label>Loop Contact Roles</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_all_Contact_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Contact_Roles</name>
        <label>Get all Contact Roles</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Contact_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Answered_Calls_HOT</name>
        <label>Get Answered Calls HOT</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Answered_Calls_WARM</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4 AND 5 AND 6</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CallType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </filters>
        <filters>
            <field>CallType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2024-09-09T22:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2024-09-13T17:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>Answered_Unanswered__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Answered</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Answered_Calls_WARM</name>
        <label>Get Answered Calls WARM</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SLA2</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4 AND 5 AND 6</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CallType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </filters>
        <filters>
            <field>CallType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2024-09-09T22:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2024-09-20T16:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>Answered_Unanswered__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Answered</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>270</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ZP_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Contact_Roles.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <inputReference>varContactsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Answered_Calls_HOT</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ( (3 AND 5) OR (4 AND 6))</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>dateTimestampClosedWonLostTime__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2024-09-13T17:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>dateTimestampClosedWonLostTime__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2024-09-20T16:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>Event_Lead_Classification_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HOT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Event_Lead_Classification_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WARM</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varContactsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
