force-app/main/default/flows/ZP_2024_2nd_Level_SLA_Events.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_contact_to_collection</name>
        <label>Add contact to collection</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varContactToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SLA</name>
        <label>Update SLA</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Iterate_contacts.ZP_2024_2nd_Level_SLA_Met__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_contact_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ZP_Contact</name>
        <label>ZP Contact?</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Iterate_contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_contacts.MQL_Conversion_c__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2024-8-COV-LEV-LP-MQL-ZP24_Lead-Flow</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_contacts.Event_Lead_Classification_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HOT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2024-09-20T16:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_contacts.Event_Lead_Classification_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WARM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2024-09-27T16:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_contacts.ZP_2024_2nd_Level_SLA_Met__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RO-2244</description>
    <environments>Default</environments>
    <interviewLabel>ZP 2024 - 2nd Level SLA (Events) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ZP 2024 - 2nd Level SLA (Events)</label>
    <loops>
        <name>Iterate_contacts</name>
        <label>Iterate contacts</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ZP_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <inputReference>varContactToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>003</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2024-09-09T22:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varContactToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
